.banners.banners-trio.banners-trio-bgImg 
	a.banner
		picture 
			source(media="(max-width: 600px)", srcset="img/projectPage/educationHigher__banner-trio__1--mob.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/educationHigher__banner-trio__1.png")
			img(src="img/projectPage/educationHigher__banner-trio__1--mob.png", alt="")
		.banner__title
			|	Дополнительное образование
		.banner__text 
			| Какое-то короткое описание, две-три строчки, не более
	a.banner
		picture 
			source(media="(max-width: 600px)", srcset="img/projectPage/educationHigher__banner-trio__2--mob.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/educationHigher__banner-trio__2.png")
			img(src="img/projectPage/educationHigher__banner-trio__2--mob.png", alt="")
		.banner__title
			|	Аспирантура 
		.banner__text 
			| Какое-то короткое описание, две-три строчки, не более
	
	a.banner
		picture 
			source(media="(max-width: 600px)", srcset="img/projectPage/educationHigher__banner-trio__3--mob.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/educationHigher__banner-trio__3.png")
			img(src="img/projectPage/educationHigher__banner-trio__3--mob.png", alt="")
		.banner__title
			|	Докторантура  
		.banner__text 
			| Какое-то короткое описание, две-три строчки, не более

	