.block__textOne
	<textarea class="studentsQuestion--input" placeholder = "Напишите свой вопрос тут и мы обязательно его опубликуем после проверки модератором" ></textarea>
	.studentsQuestion--button
		p 
			!="Задайте свой вопрос в форме выше. <br> Мы обязательно его опубликуем после проверки модератором."
		a(href="").button__blue отправить вопрос