/* media */
$media-list: (
  "xxs": 374,
  "xs": 450, //на макете 360
  "sm": 700, //на макете 480
  "md": 992, //на макете 768
  "xmd": 1100, //на макете 768
  "lg": 1200, //на макете 1000
  "xl": 1599,
  "xxl": 1900,
);

/* шрифты */
$mainFont: "Manrope", sans-serif;

/* цвета */
$mainColor: #000;
$black: #000;
$white: #fff;
$lightBg: #F4F3F0;
$ocher: #AF8F46;
$blue: #104CA6;
$blueLight: #739FF3;
// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
