.section__structureNews.structure__educationPrograms
	.container
		.structureNews
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__5.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text ПРОГРАММЫ МАГИСТРАТУРЫ
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--blue География
				.title__32.structureNews__item__tilte 
					!= "Физическая география <br> и ландшафтоведение"
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__6.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text ПРОГРАММЫ МАГИСТРАТУРЫ
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--blue География
				.title__32.structureNews__item__tilte 
					!= "Геоморфология <br>и палеогеография"
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__7.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text ПРОГРАММЫ МАГИСТРАТУРЫ
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--blue География
				.title__32.structureNews__item__tilte 
					!= "Гляциология <br>и криолитология "
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__8.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text ПРОГРАММЫ МАГИСТРАТУРЫ
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--orenge География
				.title__32.structureNews__item__tilte 
					!= "Социально-экономическая география зарубежных стран"
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__9.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text ПРОГРАММЫ МАГИСТРАТУРЫ
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--violet География
				.title__32.structureNews__item__tilte 
					!= "География <br>мирового хозяйства"
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__10.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text ПРОГРАММЫ МАГИСТРАТУРЫ
					.structureNews__item--subtitle-label Экология и природопользование
				.title__32.structureNews__item__tilte 
					!= "Геоэкология <br>и физическая <br>география мира"
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__11.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text ПРОГРАММЫ МАГИСТРАТУРЫ
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--blueTwo Гидрометеорология
				.title__32.structureNews__item__tilte 
					!= "Океанология"
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__12.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text ПРОГРАММЫ МАГИСТРАТУРЫ
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--blueTwo Гидрометеорология
				.title__32.structureNews__item__tilte 
					!= "Метеорология"
			