.declaration__item__soc 
	.declaration__item__soc__title Поделиться
	.declaration__item__soc__items
		a.declaration__item__soc__item
			img(src="img/svg/declaration__item__soc__item__tg.svg", alt="")
		a.declaration__item__soc__item
			img(src="img/svg/declaration__item__soc__item__tg__vk.svg", alt="")