.block__textOne
	p Прислайте заявку (анкета+заявление) на электронную почту:
	a(href="mailto:dopobr@geogr.msu.ru") dopobr@geogr.msu.ru
	br
	br
	br
	a.block__textOne__link.block__textOne__link--opacity заявление
	br
	br
	a.block__textOne__link.block__textOne__link--opacity анкета
	br
	br
	a.block__textOne__link.block__textOne__link--opacity договор (очная и очно-заочная)
	br
	br
	a.block__textOne__link.block__textOne__link--opacity договор (заочная)
	br
	br