.section.section__structureNews
	.container
		.structureNews
			.structureNews__item 
				img(src="img/projectPage/sctructure__3.png", alt="")
				h2.title__32.structureNews__item__tilte 
					!= "Кафедра<br>биогеографии"
			.structureNews__item 
				img(src="img/projectPage/sctructure__4.png", alt="")
				h2.title__32.structureNews__item__tilte 
					!= "Кафедра<br> геоморфологии и палеогеографии"
			.structureNews__item 
				img(src="img/projectPage/sctructure__5.png", alt="")
				h2.title__32.structureNews__item__tilte 
					!= "Кафедра<br>географии мирового хозяйства"
			.structureNews__item 
				img(src="img/projectPage/sctructure__6.png", alt="")
				h2.title__32.structureNews__item__tilte 
					!= "Кафедра<br>геохимии ландшафтов и географии почвы"
			.structureNews__item 
				img(src="img/projectPage/sctructure__7.png", alt="")
				h2.title__32.structureNews__item__tilte 
					!= "Кафедра <br> гидрологии суши"
			.structureNews__item 
				img(src="img/projectPage/sctructure__8.png", alt="")
				h2.title__32.structureNews__item__tilte 
					!= "Кафедра<br> картографии и геоинформатики"
				//- .structureNews__item__text
				//- 	|Географический факультет – ключевая организация в системе ФУМО по укрупненной группе специальностей и направлений подготовки 05.00.00 «Науки о Земле»
