.statements 
	a.statement
		.statement__desc
			.statement__title 
				!="Межфакультетские <br> и межкафедральные курсы"
			.statement__text  Не более трех-пяти строк. 
		img(src="img/svg/icons_84x84px_students_01.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Образцы заявлений"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_students_02.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Нормативные <br>документы"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_students_03.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Стипендии"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_students_04.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Общежития"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_students_05.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Вакансии <br>и стажировки"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_students_06.svg", alt="").statement__icon
