.about__banner
	img(src="img/projectPage/education-Additional__2.png", alt="")
	h2 Подготовительные курсы
	.about__banner__left     
		.about__banner__button-column
			.button.button__white Очно-заочные (вечерние)
			.button.button__white Онлайн Подготовительные курсы  
			.button.button__white Дистанционные курсы на платформе MOODLE
			.button.button__white Подготовка к ЕГ по географии 