.tabsControls
	.tabControl.tabControl--mat.button__border--blueDarck.active(data-tab="1") Общие учебные материалы 
	.tabControl.tabControl--mat.button__border--blueDarck(data-tab="2") для студентов 1 курса 
	.tabControl.tabControl--mat.button__border--blueDarck(data-tab="3") для студентов 2 курса 
	.tabControl.tabControl--mat.button__border--blueDarck(data-tab="4") для студентов 3 курса 
	.tabControl.tabControl--mat.button__border--blueDarck(data-tab="5") для студентов 4 курса 
	.tabControl.tabControl--mat.button__border--blueDarck(data-tab="6") для студентов магистратуры 
	.tabControl.tabControl--mat.button__border--blueDarck(data-tab="7") спецкурсы 
	.tabControl.tabControl--mat.button__border--blueDarck(data-tab="8") для студентов факультета Почвоведения 