.block__textTwo
	p 
		| Центр развития школьного географического образования создан как структурное подразделение географического факультета Московского государственного университета имени М.В. Ломоносова в 2019 году в рамках выполнения поручений президента РФ «По популяризации географии» от 15 мая 2019 года.
	br
	h3 
		| Цели работы Центра - подготовка к выступлению на национальных и международных географических соревнованиях путем инновационной научно-методической работы с талантливыми школьниками.
	br
	p Основные направления работы центра:
	ul 
		li 
			| научно методическое и организационное сопровождение Всероссийской олимпиады школьников по географии;
		li 
			| научно методическое и организационное участия сборных команд России по географии на международных школьных олимпиадах и конкурсах;
		li 
			| методическое обеспечение дополнительного географического образования;
		li 
			| методическая и организационная поддержка региональных центров школьного географического образования.
	br
	a(href="#") Богачев Дмитрий Викторович
	p к.г.н., доцент, ведущий инженер лаборатории регионального анализа и политической географии географического факультета МГУ имени М.В.Ломоносова, председатель Центральной предметно-методической комиссии по географии Министерства просвещения Российской Федерации, член Совета по подготовке сборных команд Российской Федерации к участию в международных олимпиадах по общеобразовательным предметам, руководитель тренерского штаба по подготовке к международным олимпиадам школьников по географии.
	br
	a(href="#") Кириллов Павел Линардович
	p к.г.н., ведущий научный сотрудник географического факультета МГУ имени М.В.Ломоносова, заместитель председателя Центральной предметно-методической комиссии по географии Министерства просвещения Российской Федерации, член Совета по подготовке сборных команд Российской Федерации к участию в международных олимпиадах по общеобразовательным предметам, член тренерского штаба по подготовке к международным олимпиадам школьников по географии, член программного комитета международной олимпиады «Baltic iGeo»
	br
	a(href="#") Мозгунов Никита Александрович
	p к.г.н., старший научный сотрудник географического факультета МГУ имени М.В.Ломоносова, член Центральной предметно-методической комиссии по географии Министерства просвещения Российской Федерации, член тренерского штаба по подготовке к международным олимпиадам школьников по географии, член программного комитета международной олимпиады «Baltic iGeo»
	br
	a(href="#") Ромашина Анна Алексеевна
	p ведущий инженер географического факультета МГУ имени М.В.Ломоносова, член Центральной предметно-методической комиссии по географии Министерства просвещения Российской Федерации, член тренерского штаба по подготовке к международным олимпиадам школьников по географии.