.block__textOne
	p
		|Адрес совета: 
	p
		|119991, г. Москва, Ленинские горы, 1
	br 
	p
		|Адрес места заседаний: 
	p
		|ауд. 18-06 
	br
	p Телефон совета: 
	p +7 (495) 939 2644 
	br
	p Электронная почта email:  
	a(href="mailto:ikmo-msu@yandex.ru") ikmo-msu@yandex.ru
	br
	br
	br
	a.block__textOne__link(href="") профиль в ИСТИНА
	br
	br
	br
	p Предшествующий диссертационный 
	p совет (ВАК) Д 501.001.36  
	br
	br
	a.block__textOne__link(href="") профиль в ИСТИНА

