.accordions
	.accordion
		.accordion__intro
			h4 В соответствии с какими нормативными документами составлено распоряжение о практиках?
			.accordion__intro__img
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7944 16.793L26.2061 16.793L26.2061 14.793L16.7944 14.793L16.7944 6.20463L14.7944 6.20463L14.7944 14.793L6.20609 14.793L6.20609 16.793L14.7944 16.793L14.7944 26.2046L16.7944 26.2046L16.7944 16.793Z" fill="#031B4B"/>
				</svg>
		.accordion__content
			p Перечень районов, эндемичных по клещевому энцефалиту, утвержден минздравом на 2021 г. Прививку можно сделать в МНОЦ МГУ (для прикрепленных к поликлинике) в соответствии с поданными списками от кафедр. Начало вакцинации в МГУ запланировано на вторую половину апреля (ориентировочно). Также прививку от энцефалита можно сделать в районной поликлинике по месту жительства бесплатно, либо в прививочных центрах на коммерческой основе.
	.accordion
		.accordion__intro
			h4 Какие районы РФ требуют вакцинации от энцефалита, как сделать прививку?
			.accordion__intro__img
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7944 16.793L26.2061 16.793L26.2061 14.793L16.7944 14.793L16.7944 6.20463L14.7944 6.20463L14.7944 14.793L6.20609 14.793L6.20609 16.793L14.7944 16.793L14.7944 26.2046L16.7944 26.2046L16.7944 16.793Z" fill="#031B4B"/>
				</svg>
		.accordion__content
			p Перечень районов, эндемичных по клещевому энцефалиту, утвержден минздравом на 2021 г. Прививку можно сделать в МНОЦ МГУ (для прикрепленных к поликлинике) в соответствии с поданными списками от кафедр. Начало вакцинации в МГУ запланировано на вторую половину апреля (ориентировочно). Также прививку от энцефалита можно сделать в районной поликлинике по месту жительства бесплатно, либо в прививочных центрах на коммерческой основе.
	.accordion
		.accordion__intro
			h4 Как должны соотноситься сроки прививки от коронавируса и от энцефалита?
			.accordion__intro__img
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7944 16.793L26.2061 16.793L26.2061 14.793L16.7944 14.793L16.7944 6.20463L14.7944 6.20463L14.7944 14.793L6.20609 14.793L6.20609 16.793L14.7944 16.793L14.7944 26.2046L16.7944 26.2046L16.7944 16.793Z" fill="#031B4B"/>
				</svg>
		.accordion__content
			p Перечень районов, эндемичных по клещевому энцефалиту, утвержден минздравом на 2021 г. Прививку можно сделать в МНОЦ МГУ (для прикрепленных к поликлинике) в соответствии с поданными списками от кафедр. Начало вакцинации в МГУ запланировано на вторую половину апреля (ориентировочно). Также прививку от энцефалита можно сделать в районной поликлинике по месту жительства бесплатно, либо в прививочных центрах на коммерческой основе.
	.accordion
		.accordion__intro
			h4 Каковы требования к справкам о наличии антител, представляемым для допуска к выездной практике?
			.accordion__intro__img
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7944 16.793L26.2061 16.793L26.2061 14.793L16.7944 14.793L16.7944 6.20463L14.7944 6.20463L14.7944 14.793L6.20609 14.793L6.20609 16.793L14.7944 16.793L14.7944 26.2046L16.7944 26.2046L16.7944 16.793Z" fill="#031B4B"/>
				</svg>
		.accordion__content
			p Перечень районов, эндемичных по клещевому энцефалиту, утвержден минздравом на 2021 г. Прививку можно сделать в МНОЦ МГУ (для прикрепленных к поликлинике) в соответствии с поданными списками от кафедр. Начало вакцинации в МГУ запланировано на вторую половину апреля (ориентировочно). Также прививку от энцефалита можно сделать в районной поликлинике по месту жительства бесплатно, либо в прививочных центрах на коммерческой основе.
	.accordion
		.accordion__intro
			h4 Кому сдавать (предъявлять) справки об антителах и прививочные сертификаты для допуска на практику? 
			.accordion__intro__img
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7944 16.793L26.2061 16.793L26.2061 14.793L16.7944 14.793L16.7944 6.20463L14.7944 6.20463L14.7944 14.793L6.20609 14.793L6.20609 16.793L14.7944 16.793L14.7944 26.2046L16.7944 26.2046L16.7944 16.793Z" fill="#031B4B"/>
				</svg>
		.accordion__content
			p Перечень районов, эндемичных по клещевому энцефалиту, утвержден минздравом на 2021 г. Прививку можно сделать в МНОЦ МГУ (для прикрепленных к поликлинике) в соответствии с поданными списками от кафедр. Начало вакцинации в МГУ запланировано на вторую половину апреля (ориентировочно). Также прививку от энцефалита можно сделать в районной поликлинике по месту жительства бесплатно, либо в прививочных центрах на коммерческой основе.
	.accordion
		.accordion__intro
			h4 Что нужно делать для онлайн-практики? Нужно ли делать прививку и в целом проходить медосмотр?  
			.accordion__intro__img
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7944 16.793L26.2061 16.793L26.2061 14.793L16.7944 14.793L16.7944 6.20463L14.7944 6.20463L14.7944 14.793L6.20609 14.793L6.20609 16.793L14.7944 16.793L14.7944 26.2046L16.7944 26.2046L16.7944 16.793Z" fill="#031B4B"/>
				</svg>
		.accordion__content
			p Перечень районов, эндемичных по клещевому энцефалиту, утвержден минздравом на 2021 г. Прививку можно сделать в МНОЦ МГУ (для прикрепленных к поликлинике) в соответствии с поданными списками от кафедр. Начало вакцинации в МГУ запланировано на вторую половину апреля (ориентировочно). Также прививку от энцефалита можно сделать в районной поликлинике по месту жительства бесплатно, либо в прививочных центрах на коммерческой основе.
	.accordion
		.accordion__intro
			h4 Как в этом году командировать на практики работников научных штатов? 
			.accordion__intro__img
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7944 16.793L26.2061 16.793L26.2061 14.793L16.7944 14.793L16.7944 6.20463L14.7944 6.20463L14.7944 14.793L6.20609 14.793L6.20609 16.793L14.7944 16.793L14.7944 26.2046L16.7944 26.2046L16.7944 16.793Z" fill="#031B4B"/>
				</svg>
		.accordion__content
			p Перечень районов, эндемичных по клещевому энцефалиту, утвержден минздравом на 2021 г. Прививку можно сделать в МНОЦ МГУ (для прикрепленных к поликлинике) в соответствии с поданными списками от кафедр. Начало вакцинации в МГУ запланировано на вторую половину апреля (ориентировочно). Также прививку от энцефалита можно сделать в районной поликлинике по месту жительства бесплатно, либо в прививочных центрах на коммерческой основе.