.followSoc {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	&__title {
		width: 100%;
		position: relative;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 600;
		font-size: $fz17;
		line-height: $lh24;
		color: #104CA6;
		margin-bottom: 16px;
	}
	&__items {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-start;

	}
	&__item {
		position: relative;
		display: inline-block;
		margin-right: 8px;
		transition: all .5s;
		margin: 2px;
		opacity: 1;
		&:hover {
			opacity: .6;
		}
	}
}
@include max(lg) {
	.followSoc {
		padding-bottom: 24px;
		&__title {
			font-size: $fz14;
			font-weight: 700;
			line-height: $lh20;
		}
	}
}
@include max(md) {
	.followSoc {
		flex-flow: row nowrap;
		flex: 1 0 auto;
		padding-bottom: 0;
		justify-content: flex-start;
		align-items: center;
		&__title {
			width: auto;
			margin-right: 16px;
			margin-bottom: 0;
		}
		&__items {
			width: auto;
		}
	}
}