.followSoc
	.followSoc__title Следите за нами в  соцсетях
	.followSoc__items
		a.followSoc__item 
			img(src="img/svg/followSoc__item__tg.svg", alt="")
		a.followSoc__item
			img(src="img/svg/followSoc__item__vk.svg", alt="")
		a.followSoc__item
			img(src="img/svg/followSoc__item__ut.svg", alt="")