.block__textTwo.tabControl--mat-content.active(data-tab-content="1")
	h2 Общие учебные материалы
	br
	br
	a(href="") Дни Арктики. Лекция Ивана Мизина
	br
	br
	a(href="") Дни Арктики. Лекция Марии Гаврило
	br
	br
	a(href="") Доклад Юрия Владимировича Краснова «Биоразнообразие Русской Арктики. Роль фотографов дикой природы в его сохранении»
	br
	br
	a(href="") Wild Europe
	br
	br
	a(href="") Общие правила оформления презентаций
	br
	br

	
.block__textTwo.tabControl--mat-content(data-tab-content="2")
	h2 Учебные материалы для студентов 1 курса
	br
	br
	a(href="") Программа учебной дисциплины «Геоморфология с основами геологии»
	br
	br
	a(href="") Г.И. Рычагов. Практикум по геологии
	br
	br
	a(href="") Руководство к выполнению задания №1. Орогидрографическое описание территории
	br
	br
	a(href="") Руководство к выполнению задания №2. Составление геолого-геоморфологического профиля
	br
	br
	a(href="") Руководство к выполнению задания №3. История развития рельефа
	br
	br
	a(href="") Руководство к выполнению задания №4. Составление геоморфологической карты
	br
	br
	a(href="") Топографическая карта №1
	br
	br
	a(href="") Карта четвертичных отложений №1
	br
	br
	a(href="") Топографическая карта №
	br
	br
	a(href="") Карта четвертичных отложений №2
	br
	br
	a(href="") Приложение 1. Каталог описаний буровых скважин по карте №1
	br
	br
	a(href="") Приложение 2. Каталог описаний буровых скважин по карте №2
	br
	br
	a(href="") Приложение 3а. Геохронологическая (стратиграфическая) шкала (Стратиграфический кодекс России. Издание 3-е. 2006 г)
	br
	br
	a(href="") Приложение 3б. Международная стратиграфическая шкала (Международный кодекс по стратиграфии. 2004-2006 г.)
	br
	br
	a(href="") Приложение 4. Схема стратиграфии четвертичных отложений Восточно-Европейской равнины
	br
	br
	a(href="") Приложение 5. Условные обозначения к геолого-геоморфологическим профилям.
	br
	br
	a(href="") Приложение 6. Условные обозначения к геоморфологической карте
	br
	br
	a(href="") Вопросы к зачету
	br
	br
	a(href="") Лекция «Минералы. Классификация»
	br
	br
	a(href="") Лекция «Минералы. Физические свойства»
	br
	br
	a(href="") Лекция «Формы минеральных агрегатов»
	br
	br
	a(href="") Лекция «Осадочные горные породы»
	br
	br
	a(href="") Лекция «Магматические горные породы»
	br
	br
	a(href="") Лекция «Метаморфические горные породы»
	br
	br
	a(href="") Лекция «Структуры и текстуры»
	br
	br
	a(href="") Обязательный для изучения список минералов
	br
	br
	a(href="") Таблица «Физические свойства минералов»
	br
	br
	a(href="") Домашняя работа №1 «Физические свойства минералов»
	br
	br
	a(href="") Домашняя работа №2 «Горные породы»
	br
	br
	a(href="") Титульные листы для заданий по геологии и геоморфологии
	br
	br
.block__textTwo.tabControl--mat-content(data-tab-content="3")
	p 
		b
			| для студентов 2 курса
	br
	a(href="") Направление «География»
	br
	br
	a(href="") Направление «Картография и геоинформатика»
	br
	br
	a(href="") Направление «Гидрометеорология»
	br
	br
	a(href="") Направление «Экология и природопользование»
	br
	br
	a(href="") Направление  «Туризм»
	br
	br
.block__textTwo.tabControl--mat-content(data-tab-content="4")
	p 
		b
			| для студентов 3 курса
	br
	a(href="") Направление «География»
	br
	br
	a(href="") Направление «Картография и геоинформатика»
	br
	br
	a(href="") Направление «Гидрометеорология»
	br
	br
	a(href="") Направление «Экология и природопользование»
	br
	br
	a(href="") Направление  «Туризм»
	br
	br
.block__textTwo.tabControl--mat-content(data-tab-content="5")
	p 
		b
			| для студентов 4 курса
	br
	a(href="") Направление «География»
	br
	br
	a(href="") Направление «Картография и геоинформатика»
	br
	br
	a(href="") Направление «Гидрометеорология»
	br
	br
	a(href="") Направление «Экология и природопользование»
	br
	br
	a(href="") Направление  «Туризм»
	br
	br
.block__textTwo.tabControl--mat-content(data-tab-content="6")
	p 
		b
			| для студентов магистратуры
	br
	a(href="") Направление «География»
	br
	br
	a(href="") Направление «Картография и геоинформатика»
	br
	br
	a(href="") Направление «Гидрометеорология»
	br
	br
	a(href="") Направление «Экология и природопользование»
	br
	br
	a(href="") Направление  «Туризм»
	br
	br
.block__textTwo.tabControl--mat-content(data-tab-content="7")
	p 
		b
			| спецкурсы
	br
	a(href="") Направление «География»
	br
	br
	a(href="") Направление «Картография и геоинформатика»
	br
	br
	a(href="") Направление «Гидрометеорология»
	br
	br
	a(href="") Направление «Экология и природопользование»
	br
	br
	a(href="") Направление  «Туризм»
	br
	br
.block__textTwo.tabControl--mat-content(data-tab-content="8")
	p 
		b
			| для студентов факультета Почвоведения
	br
	a(href="") Направление «География»
	br
	br
	a(href="") Направление «Картография и геоинформатика»
	br
	br
	a(href="") Направление «Гидрометеорология»
	br
	br
	a(href="") Направление «Экология и природопользование»
	br
	br
	a(href="") Направление  «Туризм»
	br
	br