.section__header__two
	.container
		.header__two
			.column__left.header__two__left
				h1 Лекторий юного географа 
			.column__right.header__two__right.block__textTwo
				p 
					| Географический факультет приглашает школьников — учащихся  от 7 классов и старше  на занятия лектория. Ежемесячно наши сотрудники выступают с лекциями, посвященными различным аспектам географии. Мы стараемся сделать так, чтобы это было не только познавательно, но и интересно. Лекторий — прекрасная возможность познакомиться с факультетом и нашими преподавателями, узнать о географии больше, чем изложено в учебниках.  Лекции прошлых сезонов доступны в архиве (неоходимо выбрать сезон из списка) или на Youtube канале географического факультета. 

