.banners.banners__duoBlue
	a.banner.banner__blueLight
		h2.banner__title 
			|	Центр развития школьного географического образования 
		.banner__text
			| Основные цели работы Центра — подготовка к выступлению на национальных и международных географических соревнованиях путем инновационной научно-методической работы с талантливыми школьниками.
	a.banner.banner__blueLight
		h2.banner__title 
			|	Учебно-методическая комиссия    
		.banner__text
			| Учебно-методическая комиссия факультета обеспечивает координацию совместных действий деканата и кафедр факультета в организации учебного процесса с целью подготовки высококвалифицированных специалистов.	
