.section__header {
	position: relative;
	width: 100%;
	padding: 21px 0 19px 0;
	background: #104CA6;
	.container {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-left: 56px;
		padding-right: 32px;
		max-width: 1440px;
	}
}
.header__logo  {
	display: flex;
	position: relative;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	text-decoration: none;
	&__img {
		position: relative;
		display: block;
		margin-right: 31px;
		height: 51px;
		img {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 100%;
			object-fit: contain;	
		}
	}
	&__name {
		display: block;
		position: relative;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz21;
		line-height: $lh28;
		text-transform: uppercase;
		color: #FFFFFF;
		word-spacing: 4px;
		span {
			word-spacing: 2px;
			text-transform: none;
			font-style: normal;
			font-weight: 700;
			font-size: $fz20;
			line-height: $lh26;
		}
	}
	
}

.header__other {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	max-width: 405px;
	&__dates {
		position: relative;
		display: flex;	
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 600;
		font-size: $fz13;
		line-height: $lh16;
		color: #FFFFFF;
		white-space: nowrap;
		justify-content: flex-end;
	}
	&__search{
		position: relative;
		display: inline-block;
		margin-right: 17px;
		transition: all .3s;
		background: rgba(255, 255, 255, 0);
		border-radius: 20px;
		img {
			position: relative;
			width: 40px;
			object-fit: contain;
			object-position: 50% 50%;
			
			
		}
		&:hover {
			transition: all .3s;
			background: rgba(255, 255, 255, 0.3);
			border-radius: 20px;
		}
	}
	&__soc{
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin-right: 12px;
		&__icon {
			position: relative;
			img {
				width: 24px;
				object-fit: contain;
				object-position: 50% 50%;
				margin-right: 20px;
				margin-right: 8px;
				opacity: 1;
			}
			&:hover {
				img {
					transition: all .3s;
					opacity: 0.5;
				}
			}

		}
	}
	&__lang {
		position: relative;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz13;
		line-height: $lh16;
		text-transform: uppercase;
		color: #FFFFFF;
		text-decoration: none;
		opacity: 1;
		transition: all .3s;
		&:hover {
			transition: all .3s;
			opacity: 0.5;
		}
	}

}
.section__header-date {
	position: relative;
	width: 100%;
	padding: 12px 0;
	background: #fff;
	display: none;
	.header__other__date {
		color: #104CA6;
		font-weight: 700;
	}
	.header__other__week  {
		color: #104CA6;
	}
	@include max(md) {
		display: block;
	}
}
.header__other__mob {
	display: none;
}
@include max(lg) {
	.header__logo__name span {
		display: none;
	}
	.section__header {
		.container {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
}
@include max(md) {
	.header__logo__name span {
		display: none;
	}
	.header__other {
		display: none;
	}
	.section__header {
		padding-top: 15px;
		padding-bottom: 15px;
		.container {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
	.header__other__mob {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 170px;
	}
	.header__logo  {
		max-width: 69%;
		justify-content: space-between;
	}
	.header__logo__name {
		font-size: $fz20;
	}
	.header__other__search {
		margin-right: 20px;
	}
	.header__logo__img {
		height: 42px;
	}
}
@include max(sm) { 
	.header__logo__name {
		font-size: $fz14;
		line-height: $lh16; 
	}
	.header__logo {
		max-width: 222px;
	}
	.header__logo__img {
		margin-right: 24px;
		width: 42px;
	}
	.section__header {
		padding-top: 12px;
		padding-bottom: 14px;
	}
}
@include max(sm) { 
	.section__header {
		.container {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
.search-header  {
	position: relative;
	width: 100%;
	max-width: 1440px;
	background: #fff;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 92px;
	padding-left: 136px;
	padding-right: 136px;
	height: 400px;
	z-index: 100;
	// pointer-events: none;
	// cursor: default;
	@include max(lg) {
		padding-left: 68px;
		padding-right: 60px;
	}
	@include max(md) {
		height: 100vh;
		max-width: 360px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 38px;
	}
	@media (max-width: 360px) {
		height: 248px;
	}
	&__close {
		position: absolute;
		top: 16px;
		left: 20px;
		@include max(md) {
			top: 33px;
			left: auto;
			right: 30px;
		}
	}
	&.heightFull {
		height: 100vh;
	}
	&__overlay {
		position: fixed;
		width: 100vw;
		top: 91px;
		left: 0;
		height: 100vh;
		z-index: 50;
		background: rgba(61, 76, 100, 0.5);
		@include max(md) {
			justify-content: flex-end;
			top: 0px;
			left: auto;
			right: 0;
		}
	}
	&__wrap {
		position: fixed;
		width: 100vw;
		display: none;
		justify-content: center;
		top: 91px;
		left: 0;
		z-index: 100;
		margin-left: auto;
		margin-right: auto;
		min-height: 100vh;
		&.active {
			display: flex;
		}
		@include max(md) {
			justify-content: flex-end;
			top: 0px;
			left: auto;
			right: 0;
		}
	}
	.search-checkbox {
		padding-left: 0;
		padding-right: 0;
		flex-flow: row wrap;
		padding-top: 66px;
		padding-bottom: 0;
		@include max(md) {
			height: 100%;
			display: none;
			overflow-y: scroll;
			flex-flow: column nowrap;
			padding-top: 38px;
			padding-bottom: 0;
		}
		&.active {
			display: flex;
		}
		&--block {
			width: auto;
			margin-right: 24px;
			@include max(md) {
				width: 100%;
				margin-right: 0;
			}
		}
		&__button{
			display: none;
			align-items: center;
			@include max(md) {
				display: flex;
				width: 100%;
				max-width: 100%;
				padding-left: 20px;
				padding-right: 20px;
				justify-content: center;
				align-items: center;
				margin-top: 18px;
			}
			&--overlay {
				&.hidden {
					display: none;
				}
			}
			&--clear {
				margin-top: 0;
				height: 40px;
				align-items: center;
				padding: 8px ;
				display: none;
				@include max(md) {
					display: flex;
					width: 100%;
					max-width: 100%;
				}
			}
		}
	}
	.search {
		&--button {
			&--del {
				display: none;
			}
		}
		input {
			border: 1px solid rgba(7, 52, 120, 0.2);
		}
	}
}