.section__header 
	.container
		a(href="index.html").header__logo 
			.header__logo__img
				img(src="img/svg/logo.svg", alt="logo")
			.header__logo__name
				!= 'Географический  факультет  МГУ <span> имени М.В.Ломоносова</span>'
		.header__other
			.header__other__dates 
				.header__other__date 12 сентября /
				.header__other__week верхняя неделя
			.header__other__search 
				img(src="img/svg/header__other__search.svg", alt="icon")
			.header__other__soc
				a(href="#").header__other__soc__icon
					img(src="img/svg/tg.svg", alt="icon")
				a(href="#").header__other__soc__icon
					img(src="img/svg/vk.svg", alt="icon")
				a(href="#").header__other__soc__icon
					img(src="img/svg/youtube.svg", alt="icon")
			a(href="#").header__other__lang ENG
		.header__other__mob 
			a(href="#").header__other__search 
				img(src="img/svg/header__other__search.svg", alt="icon")
			a(href="#").header__other__humb
				img(src="img/svg/humb.svg", alt="icon")
		.search-header__wrap
			.search-header__overlay
			.search-header 
				.search-header__close 
					<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M8.30848 8.36143L1.68941 15.2788L2.38076 16.0013L8.99984 9.08394L15.6189 16.0013L16.3103 15.2788L9.6912 8.36143L17.0016 0.721536L16.3103 -0.000976562L8.99984 7.63892L1.6894 -0.000958025L0.998047 0.721555L8.30848 8.36143Z" fill="#073478" fill-opacity="0.3"/>
					</svg>
				.search__wrap
					.search
						input(type="search", name="" placeholder="Искать на сайте")
						.search--button--del
							img(src="img/svg/search--delete.svg", alt="")
						.search--line
						.search--button--play
							img(src="img/svg/search-play.svg", alt="")
					.search-checkbox__button--page.search-checkbox__button--overlay.button 
						!="поиск по фильтру"
						img(src="img/svg/search--filter.svg", alt="")
					.search-checkbox
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="" checked="")
								b
								span новости и объявления
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span о факультете
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span структура
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span наука
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span образование
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span дополнительное образование
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span преподаватели и сотрудники
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span студентам
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span абитуриентам
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span сотрудникам
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span кафедры
						.search-checkbox--block 
							label 
								input(type="checkbox" autocomplete="off" name="")
								b
								span лаборатории
						.button.search-checkbox__button применить
						.button.search-checkbox__button--clear очистить все

.section__header-date
	.container
		.header__other__dates 
			.header__other__date 12 сентября /
			.header__other__week верхняя неделя
