.section__header 
	.container
		a(href="index.html").header__logo 
			.header__logo__img
				img(src="img/svg/logo.svg", alt="logo")
			.header__logo__name
				!= 'Географический  факультет  МГУ <span> имени М.В.Ломоносова</span>'
		.header__other
			.header__other__dates 
				.header__other__date 12 сентября /
				.header__other__week верхняя неделя
			.header__other__search 
				img(src="img/svg/header__other__search.svg", alt="icon")
			.header__other__soc
				a(href="#").header__other__soc__icon
					img(src="img/svg/tg.svg", alt="icon")
				a(href="#").header__other__soc__icon
					img(src="img/svg/vk.svg", alt="icon")
				a(href="#").header__other__soc__icon
					img(src="img/svg/youtube.svg", alt="icon")
			a(href="#").header__other__lang ENG
		.header__other__mob 
			a(href="#").header__other__search 
				img(src="img/svg/header__other__search.svg", alt="icon")
			a(href="#").header__other__humb
				img(src="img/svg/humb.svg", alt="icon")
		.search-header__wrap
			.search-header__overlay
			.search-header 
				.search-header__close 
					img(src="img/svg/search--delete.svg", alt="")
				.search
					input(type="search", name="" placeholder="Искать на сайте")
					.search--button--del
						img(src="img/svg/search--delete.svg", alt="")
					.search--line
					.search--button--play
						img(src="img/svg/search-play.svg", alt="")
				.search-checkbox__button--page.search-checkbox__button--overlay.button 
					!="поиск по фильтру"
					img(src="img/svg/search--filter.svg", alt="")
				.search-checkbox
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="" checked="")
							b
							span новости и объявления
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span о факультете
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span структура
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span наука
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span образование
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span дополнительное образование
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span преподаватели и сотрудники
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span студентам
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span абитуриентам
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span сотрудникам
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span кафедры
					.search-checkbox--block 
						label 
							input(type="checkbox" autocomplete="off" name="")
							b
							span лаборатории
					.button.search-checkbox__button применить
					.button.search-checkbox__button--clear очистить все

.section__header-date
	.container
		.header__other__dates 
			.header__other__date 12 сентября /
			.header__other__week верхняя неделя
