.section__block__textThree
	.container
		.block__textThree
			a(href="#").block__textThree__item 
				h2 Лаборатория городской экологии и климата (Мегагрант)
				p Можно одну строчку написать.
				.block__textThree__item__img 
					img(src="img/projectPage/editor__tree__item_1.png", alt="")
			a(href="#").block__textThree__item 
				h2 Инструментальный аэрозольный комплекс
				p Это значимая часть инновационной системы непрерывного анализа аэрозольных загрязнений атмосферы столицы.
				.block__textThree__item__img 
					img(src="img/projectPage/editor__tree__item_2.png", alt="")
