.block__textTwo
	.textTwo__table 
		table
			tbody
				tr 
					th Даты и место
					th Название конференции
					th Срок подачи заявки
				tr 
					td 22-24 февраля 2021 virtual
					td 
						b Esri Federal GIS Conference
					td 08 февраля 2021
				tr 
					td 22-24 апреля 2021 Москва
					td 
						b | XXII международная научно-практическая конференция  «Актуальные проблемы экологии и природопользования»
					td 08 февраля 2021
				tr 
					td 22-24 февраля 2021 virtual
					td 
						b | The 6th Int'l Conference on Geohazards Research and Prevention (GRP 2021)
					td 08 февраля 2021