.block__textTwo
	p 
		b.block-text__extra-bold
			| Бакалавриат
	br
	a(href="") Направление «География»
	br
	br
	a(href="") Направление «Картография и геоинформатика»
	br
	br
	a(href="") Направление «Гидрометеорология»
	br
	br
	a(href="") Направление «Экология и природопользование»
	br
	br
	a(href="") Направление  «Туризм»
	br
	br
	br
	p 
		b.block-text__extra-bold Магистратура
	br
	a(href="") Направление «География»
	br
	br
	a(href="") Направление «Картография и геоинформатика»
	br
	br
	a(href="") Направление «Гидрометеорология»
	br
	br
	a(href="") Направление «Экология и природопользование»
	br
	br
	a(href="") Направление «Туризм»
	br
	br