.about__banner
	img(src="img/projectPage/banner-main-science.png", alt="")
	h1 Наука на географическом  факультете
	.about__banner__left 
		.about__banner__text 
			p Какой-то красивый короткий абраз  текста. Lorem ipsum dolor sit amet,  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat 
			br
			a.block__textOne__link__white узнать больше