.block__textTwo
	p 
		
		b 
			| Список олимпиад, победители и призеры которых будут иметь льготы при поступлении на географический факультет в 2023 году
	br
	a(href="") Всероссийская олимпиада школьников
	br
	br
	a(href="") Олимпиада школьников «Ломоносов» (I уровень)
	br
	br
	a(href="") Олимпиада школьников Санкт-Петербургского  государственного университета (I уровень)
	br
	br
	a(href="") Многопредметная олимпиада «Юные таланты»  (I уровень)
	br
	br
	a(href="") Московская олимпиада школьников (I уровень)
	br
	br
	a(href="") Олимпиада школьников «Покори Воробьевы горы»   (II уровень)  
	br
	br
	a(href="") Герценовская олимпиада школьников (РГПУ им.А.И. Герцена) (II уровень)  
	br
	br
	a(href="") Открытая олимпиада Северо-Кавказского федерального университета среди учащихся  образовательных организаций «45 параллель» (II уровень) 
	br
	br
	a(href="") Всероссийская олимпиада школьников «Высшая проба» (II уровень) 
	br
	br