.banners.banners__duoBlue
	.banner.banner__blueLight
		h2.banner__title 
			|	Межуниверситетский аэрокосмический центр 
		.banner__text
			| Основная форма деятельности центра — школы-семинары преподавателей университетов, проводимые по определенной теме для повышения квалификации преподавателей.
	.banner.banner__blueLight
		h2.banner__title 
			|	Межвузовский научно-координационный совет по проблемам эрозионных, русловых и устьевых процессов при МГУ    
		.banner__text
			| Можно строчку или две написать, не более	
