.about__banner
	img(src="img/projectPage/banner-main-science.png", alt="")
	h1 Высшее образование 
	.about__banner__text 
		.button.button__white Образовательные программы бакалавриата и магистратуры
		.button.button__white Программы дисциплин 
		.button.button__white Учебные планы
		.button.button__white Практики
		.button.button__white Государственная итоговая аттестация
		.button.button__white Образовательные стандарты