.about__banner
	img(src="img/projectPage/educationHigher__banner.png", alt="")
	h1 Высшее образование 
	.about__banner__text 
		.button.button__white Образовательные программы бакалавриата и магистратуры
		br
		.button.button__white Программы дисциплин 
		br
		.button.button__white Учебные планы
		br
		.button.button__white Практики
		br
		.button.button__white Государственная итоговая аттестация
		br
		.button.button__white Образовательные стандарты