.banners.banners-trio 
	a.banner.banner__ochre
		.banner__title
			|	Школа юного географа
		.banner__text 
			| Короткое описание раздела, пара слов от том, что пулучит пользователь, перейдя по ссылке далее
	a.banner.banner__ochre
		.banner__title
			|	Образовательная программа «Мир географии»
		.banner__text 
			| Короткое описание раздела, пара слов от том, что пулучит пользователь, перейдя по ссылке далее
	
	a.banner.banner__ochre
		.banner__title
			|	Лекторий юного географа   
		.banner__text 
			| Короткое описание раздела, пара слов от том, что пулучит пользователь, перейдя по ссылке далее
	