.about__banner.about__banner-additional-top
	img(src="img/projectPage/banner-main-science.png", alt="")
	h1 Программы дополнительного образования
	.about__banner__text 
		p Программы дополнительного образования отражают основные научно-образовательные направления деятельности географического факультета в сфере устойчивого развития, экологии, рационального природопользования, культурной географии, туризма, информационных технологий. 
		br
		a.block__textOne__link__white узнать больше
		br
		.button.button__white--fill выбрать программу
		.button.button__white научные стажировки