.about__banner.about__banner--buttons
	img(src="img/projectPage/education-Additional__1.png", alt="")
	h1 Программы дополнительного образования
	.about__banner__left 
		.about__banner__text 
			p Программы дополнительного образования отражают основные научно-образовательные направления деятельности географического факультета в сфере устойчивого развития, экологии, рационального природопользования, культурной географии, туризма, информационных технологий. 
			br
			a.block__textOne__link__white узнать больше
			br
		.about__banner__button
			.button.button__white--fill выбрать программу
			.button.button__white научные стажировки