.section__topMenu {
	width: 100%;
	position: relative;
	background: #F4F3F0;
	border-bottom: 2px solid #fff;
}
.topMenu {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	&__item {
		position: relative;
		display: inline-block;
		width: auto;
		flex: 1 0 auto;
		padding: 10px 25px;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz16;
		text-align: center;
		line-height: $lh24;
		color: #104CA6;
		background: #F4F3F0;
		text-decoration: none;
		cursor: pointer;
		transition: all .5s;
		white-space: nowrap;
		&:hover {
			background: #fff;
			transition: all .5s;
			text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;

		}
		&.active__toopMenu {
			 background: #fff;
			 color: #104CA6;
			 text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;
		}

	}

}
.topMenu__item.topMenu__item__department {
	background: #AF8F46;
	color: #fff;
	min-width: 151px;
	&:hover {
		color: #fff;
		background: #AF8F46;
		transition: all .5s;
	}
	&.active__toopMenu {
		 background: #fff;
		 color: #104CA6;
	}
}

@include max(lg) {
	.topMenu__item {
		font-weight: 700;
		font-size: $fz14;
		line-height: $lh20;
		padding: 8px 16px;
	}

}
@include max(md) { 
	.section__topMenu {
		display: none;
	}
}
