.section__topMenu {
	position: relative;
	// position: sticky;
	transition: 1s;
	// top: 91px;
	width: 100%;
	background: #F4F3F0;
	border-bottom: 2px solid #fff;
	z-index: 49;
	visibility: visible;

	.container {
		position: relative;

		@media (max-width: 1013px) {
			max-width: 950px;
			margin-left: auto;
			margin-right: auto;

		}
	}
}

// .topMenu__page-wrap {
// 	position: absolute;
// 	top: 91px;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

.header_hidden {
	position: sticky;
	top: -91px;
	transition: 1s;
	transform: translateY(91px);
}

.header__menu--hidden {
	position: sticky;
	top: -91px;
	transition: 1s;
	transform: translateY(182px);
}


.topMenu {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;

	&__item {
		position: relative;
		display: inline-block;
		width: auto;
		flex: 1 0 auto;
		padding: 10px 25px;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz16;
		text-align: center;
		line-height: $lh24;
		color: #004ABA;
		background: #F4F3F0;
		text-decoration: none;
		cursor: pointer;
		transition: all .5s;
		white-space: nowrap;

		&--owl {

			&.active,
			&--current-page {
				background: #fff;
			}
		}

		&--wrap {
			position: relative;
			width: auto;
		}

		&:hover {
			background: #fff;
			transition: all .5s;
			text-shadow: 0 0 0px #004ABA00, 0 0 0px #004ABA00;

		}

		&.active__toopMenu {
			background: #fff;
			color: #004ABA;
			text-shadow: 0 0 0px #004ABA00, 0 0 0px #004ABA00;
		}

	}

}

.topMenu__item__department {
	position: relative;
	display: inline-block;
	width: auto;
	flex: 1 0 auto;
	padding: 10px 25px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz16;
	text-align: center;
	line-height: $lh24;
	text-decoration: none;
	cursor: pointer;
	transition: all .5s;
	white-space: nowrap;
	background: #AF8F46;
	color: #fff;
	min-width: 151px;

	&:hover {
		color: #fff;
		background: #AF8F46;
		transition: all .5s;
	}

	&.active__toopMenu {
		background: #fff;
		color: #004ABA;
	}
}

.department__menu {
	position: absolute;
	right: 1px;
	display: none;
	padding: 24px;
	z-index: 200;
	min-width: 508px;
	background: $ocher;

	@include max(lg) {
		right: 1px;
	}

	&.department__menu--active {
		display: flex;
	}

	&--list {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&--item {
		font-style: normal;
		font-weight: 500;
		font-size: $fz16;
		line-height: $lh24;
		color: #FFFFFF;
		margin-bottom: 8px;
		transition: all .1s;

		&:hover {
			// font-weight: 700;
			text-shadow: none;
			text-shadow: 0 0 0.45px #fff, 0 0 0.45px #fff;
			transition: all .1s;
		}
	}
}

.topMenu__overlay {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1168px;
	// background: #fff;
	// border: 1px solid #000;
	// bottom: -716px;
	min-height: 0vh;
	display: block;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	z-index: 200;
	transition: opacity 0s;

	// background: $white;
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	width: 100vw;
	// 	top: 0px;
	// 	left: 0;
	// 	height: 100%;
	// 	background: rgba(61, 76, 100, 0.5);	
	// }
	&.topMenu__overlay--active {
		display: flex;
		opacity: 1;
		visibility: inherit;
		transition: opacity .8s;
		// padding: 20px;
		// padding-top: 68px;
		// padding-left: 136px;
		min-height: 516px;
	}

	&__bg {
		display: block;
		position: fixed;
		height: 0;
		width: 0vw;
		top: 0px;
		left: 0;
		z-index: 20;
		opacity: 0;
		visibility: hidden;
		background: rgba(61, 76, 100, 0.5);
		transition: all .7s;

		&.active {
			opacity: 1;
			transition: all .7s;
			height: 100%;
			visibility: inherit;
			width: 100%;
		}

		&--white {
			position: fixed;
			background: #fff;
			height: 0px;

			&.active {
				opacity: 1;
				transition: all .7s;
				min-height: 716px;
				visibility: inherit;
			}
		}
	}

	&--close {
		position: absolute;
		left: 20px;
		top: 150px;
		z-index: 520;
		height: 28px;
		width: 28px;
		opacity: 0.3;

		@include max(lg) {
			top: 145px;
		}

		@include max(md) {
			height: 20px;
			width: 20px;
		}

		&:hover {
			opacity: 1;
		}

		svg {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
		}

		@include max(md) {
			top: 33px;
			left: auto;
			right: 30px;
		}
	}

	&--list {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-right: 40px;
		min-width: 400px;

		&__wrap {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			z-index: 100;
			max-width: 1168px;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			padding-top: 68px;

			@include max (lg) {
				width: 1168px;
				max-width: calc(100% - 64px);
			}
		}
	}

	&--item {
		position: relative;
		display: inline-block;
		font-style: normal;
		font-weight: 500;
		font-size: $fz14;
		line-height: $lh20;
		color: $blueDarck;
		margin-bottom: 8px;
		width: 100%;
		max-width: 400px;

	}
}

.topMenu__overlay--list {
	.menu-tab {
		&.notActive {
			color: rgba(7, 52, 120, 0.3);
		}

		&.active {
			text-shadow: 0 0 0.15px $blueDarck, 0 0 0.15px $blueDarck;
		}
	}
}

.topMenu__overlay--list.menu-pane {
	position: absolute;
	display: flex;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	z-index: 200;
	width: auto;
	height: auto;
	left: 440px;
	top: 68px;

	margin-right: 0;
	transition: opacity 0s;

	.topMenu__overlay--item {
		max-width: none;
	}

	&.active {
		opacity: 1;
		visibility: inherit;
		transition: opacity 1s;
	}
}

@include max(lg) {

	.topMenu__item,
	.topMenu__item__department {
		font-weight: 700;
		font-size: $fz14;
		line-height: $lh20;
		padding: 8px 16px;
	}

}

@include max(md) {
	.section__topMenu {
		display: none;
	}
}