.topMenu__overlay__bg
.topMenu__overlay__bg.topMenu__overlay__bg--white
	.topMenu__overlay--close
		<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M4 24L14 14.1149L4 4" stroke="#031B4B"/>
		<path d="M24 4L14 13.8851L24 24" stroke="#031B4B"/>
		</svg>
.section__topMenu 
	.container 
		.topMenu
			a(class="topMenu__item topMenu__item--owl topMenu-tab" data-tab="1" href="#") о факультете      
			a(class="topMenu__item topMenu__item--owl topMenu-tab" data-tab="2" href="#") структура 
			a(class="topMenu__item topMenu__item--owl topMenu-tab" data-tab="3" href="#") наука 
			a(class="topMenu__item topMenu__item--owl topMenu-tab" data-tab="4" href="#") образование 
			a(class="topMenu__item topMenu__item--owl topMenu-tab" data-tab="5" href="#") студентам 
			a(class="topMenu__item topMenu__item--owl topMenu-tab" data-tab="6" href="#") абитуриентам 
			a(class="topMenu__item topMenu__item--owl topMenu-tab" data-tab="7" href="#") сотрудникам 
			.topMenu__item--wrap
				a(class="topMenu__item__department" href="#") кафедры 
				.department__menu
					.department__menu--list
						a(class="department__menu--item" href="") Биогеографии
						a(class="department__menu--item" href="") Геоморфологии и палеогеографии
						a(class="department__menu--item" href="") Географии мирового хозяйства
						a(class="department__menu--item" href="") Геохимии ландшафтов и географии почв
						a(class="department__menu--item" href="") Гидрологии суши
						a(class="department__menu--item" href="") Картографии и геоинформатики
						a(class="department__menu--item" href="") Криолитологии и гляциологии
						a(class="department__menu--item" href="") Метеорологии и климатологии
						a(class="department__menu--item" href="") Океанологии
						a(class="department__menu--item" href="") Рационального природопользования
						a(class="department__menu--item" href="") Социально-экономической географии зарубежных стран
						a(class="department__menu--item" href="") Физической географии иландшафтоведения
						a(class="department__menu--item" href="") Физической географии мира и геоэкологии
						a(class="department__menu--item" href="") Экономической и социальной географии России
						a(class="department__menu--item" href="") Рекреационной географии и туризма
		
	
	.topMenu__overlay.topMenu-pane(data-tab-content="1") 

		.topMenu__overlay--list__wrap
			.topMenu__overlay--list 
				a(class="topMenu__overlay--item menu-tab" data-tab="1" href="") Кафедры
				a(class="topMenu__overlay--item menu-tab" data-tab="2" href="") Научно-исследовательские лаборатории
				a(class="topMenu__overlay--item menu-tab" data-tab="3" href="") Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="4" href="") Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="5" href="") Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="6" href="") ФУМО
			.topMenu__overlay--list.menu-pane(data-tab-content="1")
				a(class="topMenu__overlay--item" href="") Биогеографии
				a(class="topMenu__overlay--item" href="") Геоморфологии и палеогеографии
				a(class="topMenu__overlay--item" href="") Географии мирового хозяйства
				a(class="topMenu__overlay--item" href="") Геохимии ландшафтов и географии почв
				a(class="topMenu__overlay--item" href="") Гидрологии суши
				a(class="topMenu__overlay--item" href="") Картографии и геоинформатики
				a(class="topMenu__overlay--item" href="") Криолитологии и гляциологии
				a(class="topMenu__overlay--item" href="") Метеорологии и климатологии
				a(class="topMenu__overlay--item" href="") Океанологии
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="2")
				a(class="topMenu__overlay--item" href="") 2
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="3")
				a(class="topMenu__overlay--item" href="") 3
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="4")
				a(class="topMenu__overlay--item" href="") 4
			.topMenu__overlay--list.menu-pane(data-tab-content="5")
				a(class="topMenu__overlay--item" href="") 5
			.topMenu__overlay--list.menu-pane(data-tab-content="6")
				a(class="topMenu__overlay--item" href="") 6
		
	.topMenu__overlay.topMenu-pane(data-tab-content="2") 

		.topMenu__overlay--list__wrap
			.topMenu__overlay--list 
				a(class="topMenu__overlay--item menu-tab" data-tab="1" href="") структура
				a(class="topMenu__overlay--item menu-tab" data-tab="2" href="") структура
				a(class="topMenu__overlay--item menu-tab" data-tab="3" href="") структура Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="4" href="") структура Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="5" href="") структура Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="6" href="") структура ФУМО
				a(class="topMenu__overlay--item menu-tab" data-tab="7" href="") структура
				a(class="topMenu__overlay--item menu-tab" data-tab="8" href="") структура
				a(class="topMenu__overlay--item menu-tab" data-tab="9" href="") структура Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="10" href="") структура Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="11" href="") структура Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="12" href="") структура ФУМО
				a(class="topMenu__overlay--item menu-tab" data-tab="13" href="") структура
				a(class="topMenu__overlay--item menu-tab" data-tab="14" href="") структура
				a(class="topMenu__overlay--item menu-tab" data-tab="15" href="") структура Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="16" href="") структура Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="17" href="") структура Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="18" href="") структура ФУМО
			.topMenu__overlay--list.menu-pane(data-tab-content="1")
				a(class="topMenu__overlay--item" href="") Биогеографии
				a(class="topMenu__overlay--item" href="") Геоморфологии и палеогеографии
				a(class="topMenu__overlay--item" href="") Географии мирового хозяйства
				a(class="topMenu__overlay--item" href="") Геохимии ландшафтов и географии почв
				a(class="topMenu__overlay--item" href="") Гидрологии суши
				a(class="topMenu__overlay--item" href="") Картографии и геоинформатики
				a(class="topMenu__overlay--item" href="") Криолитологии и гляциологии
				a(class="topMenu__overlay--item" href="") Метеорологии и климатологии
				a(class="topMenu__overlay--item" href="") Океанологии
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="2")
				a(class="topMenu__overlay--item" href="") 2
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="3")
				a(class="topMenu__overlay--item" href="") 3
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="4")
				a(class="topMenu__overlay--item" href="") 4
			.topMenu__overlay--list.menu-pane(data-tab-content="5")
				a(class="topMenu__overlay--item" href="") 5
			.topMenu__overlay--list.menu-pane(data-tab-content="6")
				a(class="topMenu__overlay--item" href="") 6
			.topMenu__overlay--list.menu-pane(data-tab-content="7")
				a(class="topMenu__overlay--item" href="") 7
			.topMenu__overlay--list.menu-pane(data-tab-content="8")
				a(class="topMenu__overlay--item" href="") 8
			.topMenu__overlay--list.menu-pane(data-tab-content="9")
				a(class="topMenu__overlay--item" href="") 9
			.topMenu__overlay--list.menu-pane(data-tab-content="10")
				a(class="topMenu__overlay--item" href="") 10
			.topMenu__overlay--list.menu-pane(data-tab-content="11")
				a(class="topMenu__overlay--item" href="") 11
			.topMenu__overlay--list.menu-pane(data-tab-content="12")
				a(class="topMenu__overlay--item" href="") 12
			.topMenu__overlay--list.menu-pane(data-tab-content="13")
				a(class="topMenu__overlay--item" href="") 13
			.topMenu__overlay--list.menu-pane(data-tab-content="14")
				a(class="topMenu__overlay--item" href="") 14
			.topMenu__overlay--list.menu-pane(data-tab-content="15")
				a(class="topMenu__overlay--item" href="") 15
			.topMenu__overlay--list.menu-pane(data-tab-content="16")
				a(class="topMenu__overlay--item" href="") 16
			.topMenu__overlay--list.menu-pane(data-tab-content="17")
				a(class="topMenu__overlay--item" href="") 17
			.topMenu__overlay--list.menu-pane(data-tab-content="18")
				a(class="topMenu__overlay--item" href="") 18
		
	.topMenu__overlay.topMenu-pane(data-tab-content="3") 

		.topMenu__overlay--list__wrap
			.topMenu__overlay--list 
				a(class="topMenu__overlay--item menu-tab" data-tab="1" href="") наука Кафедры
				a(class="topMenu__overlay--item menu-tab" data-tab="2" href="") наука Научно-исследовательские лаборатории
				a(class="topMenu__overlay--item menu-tab" data-tab="3" href="") наука Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="4" href="") наука Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="5" href="") наука Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="6" href="") наука ФУМО
			.topMenu__overlay--list.menu-pane(data-tab-content="1")
				a(class="topMenu__overlay--item" href="") Биогеографии
				a(class="topMenu__overlay--item" href="") Геоморфологии и палеогеографии
				a(class="topMenu__overlay--item" href="") Географии мирового хозяйства
			.topMenu__overlay--list.menu-pane(data-tab-content="2")
				a(class="topMenu__overlay--item" href="") 2
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="3")
				a(class="topMenu__overlay--item" href="") 3
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="4")
				a(class="topMenu__overlay--item" href="") 4
			.topMenu__overlay--list.menu-pane(data-tab-content="5")
				a(class="topMenu__overlay--item" href="") 5
			.topMenu__overlay--list.menu-pane(data-tab-content="6")
				a(class="topMenu__overlay--item" href="") 6
		
	.topMenu__overlay.topMenu-pane(data-tab-content="4") 

		.topMenu__overlay--list__wrap
			.topMenu__overlay--list 
				a(class="topMenu__overlay--item menu-tab" data-tab="1" href="") образование Кафедры
				a(class="topMenu__overlay--item menu-tab" data-tab="2" href="") образование Научно-исследовательские лаборатории
				a(class="topMenu__overlay--item menu-tab" data-tab="3" href="") образование Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="4" href="") образование Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="5" href="") образование Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="6" href="") образование ФУМО
			.topMenu__overlay--list.menu-pane(data-tab-content="1")
				a(class="topMenu__overlay--item" href="") Биогеографии
				a(class="topMenu__overlay--item" href="") Геоморфологии и палеогеографии
				a(class="topMenu__overlay--item" href="") Географии мирового хозяйства
				a(class="topMenu__overlay--item" href="") Геохимии ландшафтов и географии почв
				a(class="topMenu__overlay--item" href="") Гидрологии суши
				a(class="topMenu__overlay--item" href="") Картографии и геоинформатики
				a(class="topMenu__overlay--item" href="") Криолитологии и гляциологии
				a(class="topMenu__overlay--item" href="") Метеорологии и климатологии
				a(class="topMenu__overlay--item" href="") Океанологии
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="2")
				a(class="topMenu__overlay--item" href="") 2
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="3")
				a(class="topMenu__overlay--item" href="") 3
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="4")
				a(class="topMenu__overlay--item" href="") 4
			.topMenu__overlay--list.menu-pane(data-tab-content="5")
				a(class="topMenu__overlay--item" href="") 5
			.topMenu__overlay--list.menu-pane(data-tab-content="6")
				a(class="topMenu__overlay--item" href="") 6
		
	.topMenu__overlay.topMenu-pane(data-tab-content="5") 

		.topMenu__overlay--list__wrap
			.topMenu__overlay--list 
				a(class="topMenu__overlay--item menu-tab" data-tab="1" href="") студентам Кафедры
				a(class="topMenu__overlay--item menu-tab" data-tab="2" href="") студентам Научно-исследовательские лаборатории
				a(class="topMenu__overlay--item menu-tab" data-tab="3" href="") студентам Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="4" href="") студентам Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="5" href="") студентам Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="6" href="") студентам ФУМО
			.topMenu__overlay--list.menu-pane(data-tab-content="1")
				a(class="topMenu__overlay--item" href="") Биогеографии
				a(class="topMenu__overlay--item" href="") Геоморфологии и палеогеографии
				a(class="topMenu__overlay--item" href="") Географии мирового хозяйства
				a(class="topMenu__overlay--item" href="") Геохимии ландшафтов и географии почв
				a(class="topMenu__overlay--item" href="") Гидрологии суши
				a(class="topMenu__overlay--item" href="") Картографии и геоинформатики
				a(class="topMenu__overlay--item" href="") Криолитологии и гляциологии
				a(class="topMenu__overlay--item" href="") Метеорологии и климатологии
				a(class="topMenu__overlay--item" href="") Океанологии
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="2")
				a(class="topMenu__overlay--item" href="") 2
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="3")
				a(class="topMenu__overlay--item" href="") 3
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="4")
				a(class="topMenu__overlay--item" href="") 4
			.topMenu__overlay--list.menu-pane(data-tab-content="5")
				a(class="topMenu__overlay--item" href="") 5
			.topMenu__overlay--list.menu-pane(data-tab-content="6")
				a(class="topMenu__overlay--item" href="") 6
		
	.topMenu__overlay.topMenu-pane(data-tab-content="6") 

		.topMenu__overlay--list__wrap
			.topMenu__overlay--list 
				a(class="topMenu__overlay--item menu-tab" data-tab="1" href="") абитуриентам Кафедры
				a(class="topMenu__overlay--item menu-tab" data-tab="2" href="") абитуриентам Научно-исследовательские лаборатории
				a(class="topMenu__overlay--item menu-tab" data-tab="3" href="") абитуриентам Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="4" href="") абитуриентам Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="5" href="") абитуриентам Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="6" href="") абитуриентам ФУМО
			.topMenu__overlay--list.menu-pane(data-tab-content="1")
				a(class="topMenu__overlay--item" href="") Биогеографии
				a(class="topMenu__overlay--item" href="") Геоморфологии и палеогеографии
				a(class="topMenu__overlay--item" href="") Географии мирового хозяйства
				a(class="topMenu__overlay--item" href="") Геохимии ландшафтов и географии почв
				a(class="topMenu__overlay--item" href="") Гидрологии суши
				a(class="topMenu__overlay--item" href="") Картографии и геоинформатики
				a(class="topMenu__overlay--item" href="") Криолитологии и гляциологии
				a(class="topMenu__overlay--item" href="") Метеорологии и климатологии
				a(class="topMenu__overlay--item" href="") Океанологии
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
				a(class="topMenu__overlay--item" href="") Биогеографии
				a(class="topMenu__overlay--item" href="") Геоморфологии и палеогеографии
				a(class="topMenu__overlay--item" href="") Географии мирового хозяйства
				a(class="topMenu__overlay--item" href="") Геохимии ландшафтов и географии почв
				a(class="topMenu__overlay--item" href="") Гидрологии суши
				a(class="topMenu__overlay--item" href="") Картографии и геоинформатики
				a(class="topMenu__overlay--item" href="") Криолитологии и гляциологии
				a(class="topMenu__overlay--item" href="") Метеорологии и климатологии
				a(class="topMenu__overlay--item" href="") Океанологии
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="2")
				a(class="topMenu__overlay--item" href="") 2
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="3")
				a(class="topMenu__overlay--item" href="") 3
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="4")
				a(class="topMenu__overlay--item" href="") 4
			.topMenu__overlay--list.menu-pane(data-tab-content="5")
				a(class="topMenu__overlay--item" href="") 5
			.topMenu__overlay--list.menu-pane(data-tab-content="6")
				a(class="topMenu__overlay--item" href="") 6
		
	.topMenu__overlay.topMenu-pane(data-tab-content="7") 

		.topMenu__overlay--list__wrap
			.topMenu__overlay--list 
				a(class="topMenu__overlay--item menu-tab" data-tab="1" href="") сотрудникам Кафедры
				a(class="topMenu__overlay--item menu-tab" data-tab="2" href="") сотрудникам Научно-исследовательские лаборатории
				a(class="topMenu__overlay--item menu-tab" data-tab="3" href="") сотрудникам Административные подразделения
				a(class="topMenu__overlay--item menu-tab" data-tab="4" href="") сотрудникам Реализуемые проекты
				a(class="topMenu__overlay--item menu-tab" data-tab="5" href="") сотрудникам Учебно-научные базы
				a(class="topMenu__overlay--item menu-tab" data-tab="6" href="") сотрудникам ФУМО
			.topMenu__overlay--list.menu-pane(data-tab-content="1")
				a(class="topMenu__overlay--item" href="") Биогеографии
				a(class="topMenu__overlay--item" href="") Геоморфологии и палеогеографии
				a(class="topMenu__overlay--item" href="") Географии мирового хозяйства
				a(class="topMenu__overlay--item" href="") Геохимии ландшафтов и географии почв
				a(class="topMenu__overlay--item" href="") Гидрологии суши
				a(class="topMenu__overlay--item" href="") Картографии и геоинформатики
				a(class="topMenu__overlay--item" href="") Криолитологии и гляциологии
				a(class="topMenu__overlay--item" href="") Метеорологии и климатологии
				a(class="topMenu__overlay--item" href="") Океанологии
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="2")
				a(class="topMenu__overlay--item" href="") 2
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="3")
				a(class="topMenu__overlay--item" href="") 3
				a(class="topMenu__overlay--item" href="") Рационального природопользования
				a(class="topMenu__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="topMenu__overlay--item" href="") Физической географии иландшафтоведения
				a(class="topMenu__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="topMenu__overlay--item" href="") Экономической и социальной географии России
				a(class="topMenu__overlay--item" href="") Рекреационной географии и туризма
			.topMenu__overlay--list.menu-pane(data-tab-content="4")
				a(class="topMenu__overlay--item" href="") 4
			.topMenu__overlay--list.menu-pane(data-tab-content="5")
				a(class="topMenu__overlay--item" href="") 5
			.topMenu__overlay--list.menu-pane(data-tab-content="6")
				a(class="topMenu__overlay--item" href="") 6
include ../../../blocks/modules/headerMenu-mob/headerMenu-mob