.about__banner.about__banner--buttons
	img(src="img/projectPage/enrolled__banner__1.png", alt="")
	h1 Важное абитуриенту
	.about__banner__left  
		.about__banner__text 
			p Какой-то красивый короткий абраз общего текста нужен. Про общую систему поступления, что важно знать и понимать перед поступление. Про то, что абитуриент найдет в этом разделе, как вариант. 
			br
			a.block__textOne__link__white узнать больше
			br
		.about__banner__button
			.button.button__white дни открытых дверей
			.button.button__white объявления  приемной комиссии