.headerMenuMob 
	.headerMenuMob--menu
		.headerMenuMob--menu-bg
		.headerMenuMob--menu--wrap
			a(href="").headerMenuMob--lang EN 
			.headerMenuMob__overlay--close
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M2 18L10 10M18 18L10 10M2 2L10 10M18 2L10 10" stroke="#031B4B" stroke-width="1.5" stroke-linecap="square"/>
				</svg>
			.button__ochre.headerMenuMob--button Кафедры факультета
			.headerMenuMob__overlay
				.headerMenuMob__overlay--list.headerMenuMob__overlay--list__start.active 
					p(class="headerMenuMob__overlay--item headerMenuMob-tab" data-tab="1" ) О факультете
					p(class="headerMenuMob__overlay--item headerMenuMob-tab" data-tab="2" ) Структура
					p(class="headerMenuMob__overlay--item headerMenuMob-tab" data-tab="3" ) Наука
					p(class="headerMenuMob__overlay--item headerMenuMob-tab" data-tab="4" ) Образование
					p(class="headerMenuMob__overlay--item headerMenuMob-tab" data-tab="5" ) Абитуриентам
					p(class="headerMenuMob__overlay--item headerMenuMob-tab" data-tab="6" ) Студентам
					p(class="headerMenuMob__overlay--item headerMenuMob-tab" data-tab="7" ) Сотрудникам
					a(class="headerMenuMob__overlay--item"  href="") Контакты

				.headerMenuMob__overlay--list.headerMenuMob-pane(data-tab-content="1")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__back" ) О факультете
					a(class="headerMenuMob__overlay--item headerMenuMob-tabTwo--title"  href="") О факультете главная
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="1" href="") Рационального природопользования
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="2" href="") Социально-экономической географии зарубежных стран
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="3" href="") Физической географии иландшафтоведения
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="4" href="") Физической географии мира и геоэкологии
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="5" href="") Экономической и социальной географии России	
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="1")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) О факультете 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="2")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Рационального природопользования
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="3")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Социально-экономической географии зарубежных стран
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="4")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Физической географии иландшафтоведения
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="5")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Физической географии мира и геоэкологии
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="6")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Экономической и социальной географии России
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3


				
				.headerMenuMob__overlay--list.headerMenuMob-pane(data-tab-content="2")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__back" ) Структура
					a(class="headerMenuMob__overlay--item headerMenuMob-tabTwo--title" href="") Все кафедры 
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="7" href="") Научно-исследовательские лаборатории
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="8" href="") Административные подразделения
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="9" href="") Реализуемые проекты
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="10" href="") Учебно-научные базы
					a(class="headerMenuMob__overlay--item"  href="") ФУМО				
				.headerMenuMob__overlay--list.quickAccessEducation.headerMenuMob-paneTwo(data-tab-content-two="7")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo departments__home" ) Кафедры
					a(class="headerMenuMob__overlay--item" href="") Биогеографии
					a(class="headerMenuMob__overlay--item" href="") Геоморфологии и палеогеографии
					a(class="headerMenuMob__overlay--item" href="") Географии мирового хозяйства
					a(class="headerMenuMob__overlay--item" href="") Геохимии ландшафтов и географии почв
					a(class="headerMenuMob__overlay--item" href="") Картографии и геоинформатики
					a(class="headerMenuMob__overlay--item" href="") Криолитологии и гляциологии
					a(class="headerMenuMob__overlay--item" href="") Океанологии
					a(class="headerMenuMob__overlay--item" href="") Рационального природопользования
					a(class="headerMenuMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="headerMenuMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="headerMenuMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="headerMenuMob__overlay--item" href="") Экономической и социальной географии России
					a(class="headerMenuMob__overlay--item" href="") Рекреационной географии и туризма
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="8")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Научно-исследовательские лаборатории
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="9")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Административные подразделения
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="10")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Реализуемые проекты
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3

				.headerMenuMob__overlay--list.headerMenuMob-pane(data-tab-content="3")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__back" ) Наука
					a(class="headerMenuMob__overlay--item headerMenuMob-tabTwo--title"  href="") Наука главная
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="11" href="") Наука Внутренняя 2
					p(class="headerMenuMob__overlay--item headerMenuMob-tabTwo" data-tab-two="12" href="") Наука Внутренняя 2
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="11")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Наука Внутренняя 2
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
				.headerMenuMob__overlay--list.headerMenuMob-paneTwo(data-tab-content-two="12")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__backTwo" ) Наука Внутренняя 2
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
					a(class="headerMenuMob__overlay--item" href="") Внутренняя вкладка 3
	
				.headerMenuMob__overlay--list.headerMenuMob-pane(data-tab-content="4")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__back" ) Образование
					a(class="headerMenuMob__overlay--item" href="") 5
					a(class="headerMenuMob__overlay--item" href="") Рационального природопользования
					a(class="headerMenuMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="headerMenuMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="headerMenuMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="headerMenuMob__overlay--item" href="") Экономической и социальной географии России
					a(class="headerMenuMob__overlay--item" href="") Рекреационной географии и туризма
				.headerMenuMob__overlay--list.headerMenuMob-pane(data-tab-content="5")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__back" ) Абитуриентам
					a(class="headerMenuMob__overlay--item" href="") 6
					a(class="headerMenuMob__overlay--item" href="") Рационального природопользования
					a(class="headerMenuMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="headerMenuMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="headerMenuMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="headerMenuMob__overlay--item" href="") Экономической и социальной географии России
					a(class="headerMenuMob__overlay--item" href="") Рекреационной географии и туризма
				.headerMenuMob__overlay--list.headerMenuMob-pane(data-tab-content="6")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__back" ) Студентам
					a(class="headerMenuMob__overlay--item" href="") 7
					a(class="headerMenuMob__overlay--item" href="") Рационального природопользования
					a(class="headerMenuMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="headerMenuMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="headerMenuMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="headerMenuMob__overlay--item" href="") Экономической и социальной географии России
					a(class="headerMenuMob__overlay--item" href="") Рекреационной географии и туризма
				.headerMenuMob__overlay--list.headerMenuMob-pane(data-tab-content="7")
					p(class="headerMenuMob__overlay--item headerMenuMob__overlay--item__back" ) Сотрудникам
					a(class="headerMenuMob__overlay--item" href="") 8
					a(class="headerMenuMob__overlay--item" href="") Рационального природопользования
					a(class="headerMenuMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="headerMenuMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="headerMenuMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="headerMenuMob__overlay--item" href="") Экономической и социальной географии России
					a(class="headerMenuMob__overlay--item" href="") Рекреационной географии и туризма
				

			
			//- .headerMenuMob--soc 
			//- 	a(class="headerMenuMob--soc__item" href="")
			//- 		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			//- 		<path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM11.8754 8.66526C10.7111 9.15972 8.38412 10.1831 4.89446 11.7355C4.3278 11.9656 4.03095 12.1906 4.00393 12.4107C3.95826 12.7827 4.41446 12.9292 5.0357 13.1286C5.1202 13.1557 5.20775 13.1838 5.29752 13.2136C5.90871 13.4165 6.73088 13.6538 7.15829 13.6632C7.54599 13.6718 7.97871 13.5086 8.45644 13.1736C11.7169 10.9264 13.4 9.7906 13.5057 9.76611C13.5802 9.74884 13.6835 9.72712 13.7535 9.79064C13.8235 9.85416 13.8166 9.97445 13.8092 10.0067C13.764 10.2034 11.9733 11.9033 11.0465 12.783C10.7576 13.0572 10.5527 13.2517 10.5108 13.2962C10.417 13.3957 10.3213 13.4898 10.2294 13.5803C9.6616 14.1392 9.2358 14.5583 10.253 15.2427C10.7418 15.5716 11.133 15.8436 11.5232 16.1149C11.9494 16.4112 12.3744 16.7068 12.9244 17.0749C13.0645 17.1687 13.1984 17.2661 13.3287 17.361C13.8247 17.722 14.2702 18.0463 14.8207 17.9946C15.1406 17.9645 15.471 17.6574 15.6388 16.7415C16.0354 14.577 16.8149 9.887 16.995 7.95438C17.0108 7.78505 16.9909 7.56835 16.975 7.47323C16.959 7.3781 16.9257 7.24257 16.8046 7.14223C16.6612 7.02341 16.4398 6.99835 16.3408 7.00013C15.8905 7.00823 15.1998 7.25347 11.8754 8.66526Z" fill="#004ABA"/>
			//- 		</svg>					
			//- 	a(class="headerMenuMob--soc__item" href="") 
			//- 		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			//- 		<path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM12.6244 17C7.84119 17 5.1129 13.6216 4.99922 7.99995H7.39521C7.47392 12.1261 9.24027 13.8738 10.6394 14.2342V7.99995H12.8956V11.5585C14.2772 11.4054 15.7286 9.78374 16.2183 7.99995H18.4745C18.0984 10.1981 16.5244 11.8198 15.4051 12.4864C16.5244 13.027 18.3171 14.4414 18.9992 17H16.5157C15.9823 15.2882 14.6532 13.9639 12.8956 13.7837V17H12.6244Z" fill="#004ABA"/>
			//- 		</svg>
			//- 	a(class="headerMenuMob--soc__item" href="")
			//- 		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			//- 		<path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM18.3039 7.93801C18.725 8.36184 18.8617 9.32708 18.8617 9.32708C18.8617 9.32708 19.0012 10.4618 19.0012 11.5939V12.6548C19.0012 13.7896 18.8617 14.9216 18.8617 14.9216C18.8617 14.9216 18.725 15.8868 18.3039 16.3107C17.8234 16.8133 17.2919 16.8652 16.9914 16.8946C16.9584 16.8978 16.9282 16.9008 16.9012 16.904C14.9434 17.0435 12.0012 17.049 12.0012 17.049C12.0012 17.049 8.36172 17.0161 7.24063 16.9095C7.1861 16.899 7.11969 16.8909 7.04437 16.8817C6.68911 16.8384 6.13563 16.7709 5.6957 16.3107C5.27734 15.8868 5.14062 14.9216 5.14062 14.9216C5.14062 14.9216 5.00117 13.7868 5.00117 12.6548V11.5939C5.00117 10.4618 5.14336 9.32708 5.14336 9.32708C5.14336 9.32708 5.27734 8.36184 5.69844 7.93801C6.1789 7.43537 6.71043 7.38344 7.01094 7.35407C7.04392 7.35085 7.07413 7.3479 7.10117 7.34465C9.05898 7.20247 11.9984 7.20247 11.9984 7.20247H12.0039C12.0039 7.20247 14.9434 7.20247 16.9012 7.34465C16.9282 7.3479 16.9584 7.35085 16.9914 7.35407C17.2919 7.38344 17.8234 7.43537 18.3039 7.93801ZM10.5547 10.0079V13.9427L14.3363 11.9822L10.5547 10.0079Z" fill="#004ABA"/>
			//- 		</svg>

			//- .headerMenuMob--footer © 2023 MSU. All Rights Reserved.