.block__textTwo
	p 
		b
			| Географический факультет МГУ проводит подготовку кадров высшей квалификации (аспирантура) по направлению 05.06.01 Науки о Земле в соответствии с образовательным стандартом, самостоятельно устанавливаемым МГУ имени М.В.Ломоносова (утвержден приказом по МГУ от 23.06.2014 г. № 552 с внесенными изменениями, утвержденными приказом по МГУ от 31.08.2015 г. № 831).
	br
	p Обучение на 15-ти кафедрах факультета проводится по девяти направленностям (профилям), соответствующим девяти научным специальностям ВАК, в соответствии с Номенклатурой специальностей научных работников, утвержденной приказом Минобрнауки России от 25.02.2009 № 59 (в ред. Приказов Минобрнауки РФ от 11.08.2009 № 294, от 10.01.2012 № 5).
	br 
	p Направленности, по которым проводится обучение в аспирантуре географического факультета МГУ и кафедры, на которых ведется подготовка по ним:
	br
	ul 
		li Физическая география и биогеография, география почв и геохимия ландшафтов (кафедры физической географии мира и геоэкологии, физической географии и ландшафтоведения, геохимии ландшафтов и географии почв, биогеографии, рационального природопользования).
		br
		li Экономическая, социальная, политическая и рекреационная география (кафедры экономической и социальной географии России, социально-экономической географии зарубежных стран, географии мирового хозяйства, рекреационной географии и туризма)
		br
		li Геоморфология и эволюционная география (кафедра геоморфологии и палеогеографии, НИЛ новейших отложений и палеогеографии плейстоцена, НИЛ эрозии почв и русловых процессов).
		br
		li Гидрология суши, водные ресурсы, гидрохимия (кафедра гидрологии суши, НИЛ эрозии почв и русловых процессов).
		br
		li Океанология (кафедра океанологии).
		br
		li Метеорология, климатология, агрометеорология (кафедра метеорологии и климатологии).
		br
		li Гляциология и криология Земли (кафедра криолитологии и гляциологии, НИЛ снежных лавин и селей).
		br
		li Картография (кафедра картографии и геоинформатики, НИЛ комплексного картографирования).
		br
		li Геоэкология (кафедры физической географии мира и геоэкологии, рационального природопользования, физической географии и ландшафтоведения, биогеографии, геохимии ландшафтов и географии почв).
		br