.section__header__two
	.container
		.header__two
			.column__left.header__two__left
				h1 Кафедры
			.column__right.header__two__right.block__textTwo
				p 
					| География является одной из базовых наук, исследующих комплексные проблемы взаимодействия общества, экономики и окружающей среды. В последние десятилетия в географии стали четко проявляться интегративные тенденции. Это определялось многими причинами – экологизациейи гуманизацией географии в ответ на усиливающееся влияние человеческой деятельности на природу, междисциплинарным характером экологических экспертиз проектов и оценок воздействия на окружающую среду и здоровье человека, все возрастающим интересом к изучению глобальных и региональных изменений природной среды и климата, появлением географических информационных систем, научных основ природопользования и устойчивого развития. В начале XXI века эти тенденции получили свое дальнейшее развитие в виде крупных фундаментальных обобщений и прикладных разработок. 
				br
				p 
					b 
						| В Московском университете под влиянием этого процесса сложилась современная структура географии как науки, состоящая из пятнадцати специализированных кафедр, каждая из которых связана с определенными общими или частными науками географического цикла. Почти каждая современная кафедра — это сложившаяся крупная научная школа, представленная видными учеными разных поколений.
