.block__textOne
	a(href="") Ежегодная научная конференция МГУ Ломоносовские чтения
	br
	br
	a(href="") План научных и учебно-научных мероприятий на 2022 г.
	br
	br
	br
	a(href="").button__border--blue Ломоносовские чтения