.statements 
	a.statement
		.statement__desc
			.statement__title 
				!="Структура, <br>план приема"
			.statement__text  Не более трех-пяти строк. 
		img(src="img/svg/icons_84x84px_enroll_01.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Приемная<br>комиссия"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_enroll_02.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Результаты <br>вступительных <br>испытаний"
				
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_enroll_03.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Иностранным <br>абитуриентам"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_enroll_04.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Ответы на часто <br>задаваемые вопросы"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_enroll_05.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title
				!="Восстановление"
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/icons_84x84px_enroll_06.svg", alt="").statement__icon
