.statements 
	a.statement
		.statement__desc
			.statement__title Структура, план приема
			.statement__text  Не более трех-пяти строк. 
		img(src="img/svg/shape.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title Приемная комиссия
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/shape.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title Результаты вступительных испытаний 
			.statement__text Заявления на отпуск, практику и далее вся информация по списку
		img(src="img/svg/shape.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title Иностранным абитуриентам
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/shape.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title Ответы на часто задаваемые вопросы
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/shape.svg", alt="").statement__icon
	a.statement
		.statement__desc
			.statement__title Восстановление
			.statement__text Тут будет короткое описание того, что можно найти внутри. Не более трех-пяти строк.
		img(src="img/svg/shape.svg", alt="").statement__icon
