.block__textTwo
	h3 Географический факультет МГУ реализует образовательные и научно-исследовательские проекты совместно с коллегами из различных стран мира.
	br
	a(href="#") Действующие договоры
	br
	br
	a(href="#") Межвузовские соглашения
	br
	br
	a(href="#") Основные международные проекты
	br
	br
	a(href="#") Лекции зарубежных гостей Guest lecture seminar
	br
	br
	a(href="#") Оформление приказов на командирование сотрудников за рубеж
	br
	br
	a(href="#") Издание «Geography, Environment, Sustainability»
	br
	br
	a(href="#") Зарубежные стажировки
	br
	br
	a(href="#") Прием иностранных учащихся
	br
	br
