.block__textOne
	p 
		b Основные нормативные документы, регламентирующие проведение практик
	br
	a(href="") Приказ о выделении ассигнований на компенсацию расходов, связанных с питанием студентов
	br
	br
	a(href="") Регламент проведения производственных практик студентов
	br
	br
	a(href="") Положение о порядке проведения практик студентов 
	br
	br
	a(href="") Положение о порядке проведения практики
	br
	br
	a(href="") Приказ Министерства Образования РФ от 25 марта 2003 г. № 1154
