.newsMain 
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__1.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 01 сентября 2022
			a.newsMain__item__desc__title
				| С.А. Добролюбов: ХXI Век будет веком океанов
			.newsMain__item__desc__text
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__2.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 01 сентября 2022
			a.newsMain__item__desc__title
				| С.А. Добролюбов: ХXI Век будет веком океанов
			.newsMain__item__desc__text
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов... Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore corporis sit labore porro, itaque adipisci a perferendis, ut accusantium aliquam et consequuntur eum non iste hic esse odio? Minima sit adipisci quas ab consequatur labore quidem, praesentium, officiis ullam ut placeat provident quo, obcaecati asperiores nemo rerum esse illo consectetur tempore! Voluptatem vitae rem tempore non doloribus enim nulla. Saepe, vitae minima reiciendis odit maxime inventore obcaecati deserunt assumenda enim reprehenderit? Sint, laborum! Quae reiciendis necessitatibus, tempora eaque ut architecto magni sed recusandae facere repellat alias autem iste aut maxime. A doloremque quam itaque deserunt autem beatae repellat porro eveniet?
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__3.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 01 сентября 2022
			//- a.newsMain__item__desc__title
			//- 	| С.А. Добролюбов: ХXI Век будет веком океанов
			//- .newsMain__item__desc__text
			//- 	| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__4.png", alt="icon")
		.newsMain__item__desc 
			//- .newsMain__item__desc__date 01 сентября 2022
			a.newsMain__item__desc__title
				| С.А. Добролюбов: ХXI Век будет веком океанов
			.newsMain__item__desc__text
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__4.png", alt="icon")
		//- .newsMain__item__desc 
		//- 	//- .newsMain__item__desc__date 01 сентября 2022
		//- 	a.newsMain__item__desc__title
		//- 		| С.А. Добролюбов: ХXI Век будет веком океанов
		//- 	.newsMain__item__desc__text
		//- 		| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
	.newsMain__item
		//- a.newsMain__item__img(href="#") 
		//- 	img(src="img/newsMain/newsMain__item__img__4.png", alt="icon")
		.newsMain__item__desc 
			//- .newsMain__item__desc__date 01 сентября 2022
			a.newsMain__item__desc__title
				| С.А. Добролюбов: ХXI Век будет веком океанов
			.newsMain__item__desc__text
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...