.section__newsMain
	.container
		.layoutTwo
			.layoutTwo__left
				.periodSelect
					.periodSelect__title Новости
					.periodSelect__value 
						select.periodSelect__value__month(name="") 
							<option>Январь</option>  
							<option>Февраль</option>  
							<option>Март</option>  
							<option>Апрель</option>  
							<option>Май</option>  
							<option>Июнь</option>  
							<option>Июль</option>  
							<option>Сентябрь</option>  
							<option>Октябрь</option> 
							<option>Ноябрь</option> 
							<option>Декабрь</option> 
						select.periodSelect__value__years(name="") 
							<option>2022</option>
							<option>2021</option>
							<option>2020</option>
							<option>2019</option>
							<option>2018</option>
					a.button.periodSelect__button  искать
				.followSoc
			.layoutTwo__right
				.newsMain 
					.newsMain__item
						a.newsMain__item__img(href="#") 
							img(src="img/newsMain/newsMain__item__img__1.png", alt="icon")
						.newsMain__item__desc 
							.newsMain__item__desc__date 01 сентября 2022
							.newsMain__item__desc__title
								| С.А. Добролюбов: ХXI Век будет веком океанов
							.newsMain__item__desc__text
								| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...