.education
	a(href="").education__item
		img(src="img/projectPage/science__banner__4.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title
				!= 'Всероссийский<br>Фестиваль науки'

			.education__item__desc__text
				p 
					|Короткий текст/фраза про фестиваль, формат, даты/сезон и тд Можно две/три строчки, не более 