.periodSelect.periodSelect__graduatePrograms {
	flex-flow: row nowrap;
	align-items: flex-end;
	margin-bottom: 0;
	height: 120px;
	margin-top: 60px;
	@include max(lg) {
		flex-flow: column nowrap;	
		height: auto;
		margin-top: 50px;
	}

	.periodSelect__date {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		width: 70%;
		margin-right: 0;
		border-right:  1px solid rgba(0, 85, 182, 0.3);
		@include max(lg) {
			width: 100%;
			border-right: none;
			padding-right: 0;

		}
		@media (max-width: 801px) {
			flex: none;
			max-width: 100%;
			flex-flow: column nowrap;
		}
		&__value {
			margin-bottom: 0;
			height: auto;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			width: 50% !important;
			max-width: 50% !important;
			min-width: 316px;
			margin-right: 40px;
			@include max(md) {
				margin-right: 24px;
			}
			@media (max-width: 801px) {
				width: 100% !important;
				max-width: 100% !important;
				min-width: 100%;
				margin-right: 0;
			}
			&:first-child {
				@media (max-width: 801px) {
					margin-bottom: 32px;
				}				
			}
			&:last-child {
				@include max(lg) {
					margin-right: 0;
		
				}
			}
			&__month {
				width: 100% !important;
				max-width: 100% !important;
			}
			&__years { 
				width: 100% !important;
				max-width: 100% !important;
			}
		}
		&__title {
			margin-bottom: 8px;
			width: 100% !important;
		}
	}
	.periodSelect__buttons {
		position: relative;
		width: 30%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 32px;
		@include max(lg) {
			width: 100%;
			flex-flow: row nowrap;
			margin-top: 32px;
			align-self: flex-end;	
			justify-content: flex-end;
			padding-left: 0;
		}
		@include max(xs) {
			flex-flow: column nowrap;
			margin-top: 0;
			justify-content: flex-start;
			align-items: flex-start;
		}
		.periodSelect__button {
			min-width: 160px;
			position: relative;
			max-width: 260px;
			width: 100%;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			@include max(xs) {
				margin-top: 32px;
				max-width: 100%;
			}
		}
		&--input {
			position: relative;
			width: 111px;	
			min-width: 111px;
			display: flex;
			margin-right: 37px;
			@include max(lg) {
				width: 140px;	
				min-width: 140px;
				align-items: center;
			}
			.search-checkbox--block  {
				label {
					position: relative;
					display: flex;	
					width: 111px;	
					min-width: 111px;	
					flex-flow: column nowrap;
					justify-content: flex-start;
					align-items: flex-start;
					font-style: normal;
					font-weight: 600;
					font-size: $fz14;
					line-height: $lh20;
					color: $blueDarck;
					span {
						margin-left: 0;
						margin-top: 12px;
						font-style: normal;
						font-weight: 600;
						font-size: $fz14;
						line-height: $lh20;						
					}
					@include max(lg) {
						flex-flow: row nowrap;
						align-items: center;
						width: auto;
						span {
							margin-top: 0;
							margin-left: 12px;
						}
					}
					input {
						width: 20px;
						height: 20px;
						margin-bottom: 12px;
						border: 1px solod $blueDarck;
						@include max(lg) {
							margin-bottom: 0;
							margin-right: 12px;
						}
					}
				}				
			}


		}
	}
}