.periodSelect.periodSelect__graduatePrograms
	.periodSelect__date
		.periodSelect__date__value
			.periodSelect__date__title Выбрать направление
			<select class="js-example-responsive periodSelect__date__value__month">
				<option  value="" selected> Все направления</option>  
				<option  value="">География</option>  
				<option value="" >Картография и геоинформатика</option>  
				<option value="" >Экология</option>  
				<option value="" >Гидрометеорология</option>  
				<option value="" >Туризм</option>  
			</select>
		.periodSelect__date__value
			.periodSelect__date__title Выбрать программу
			<select class="js-example-responsive periodSelect__date__value__years">
				<option value=""  selected>Все программы</option>
				<option value="" >Профессиональная переподготовка</option>
				<option value="" >Повышение квалификации</option>
			</select>
	.periodSelect__buttons
		.periodSelect__buttons--input
			label(for="") открыта запись
				input(type="checkbox") 
		a.button.periodSelect__button  применить