.advertisement
	.advertisement-top
		.advertisement__title Объявления
		a(href="").block__textOne__link.block__textOne__link__ads все объявления
	.ads
		a(href="").ads__item
			.ads__item__date 15 июня 2022
			.ads__item__title 
				| Приглашаем на заседание семинара «Культурный ландшафт»
			.ads__item__label 
				| 06 апреля в 17:15 (среда) <br> 327-е заседание <br>онлайн трансляция (zoom)
		a(href="").ads__item
			.ads__item__date 15 июня 2022
			.ads__item__title 
				|Отчет о результатах самообследования географического факультета за 2021 год
			.ads__item__label 
		a(href="").ads__item
			.ads__item__date 15 июня 2022
			.ads__item__title 
				| Приглашаем принять участие во всероссийской школе-семинаре «Экологическая безопасность в условиях антропогенной трансфор-мации природной среды»
			.ads__item__label 
				| 06 апреля в 17:15 (среда) <br> 327-е заседание <br>онлайн трансляция (zoom)