extends ../layouts/default

block variables
	- const title = "About Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.section.about 
		.container
			include ../../blocks/components/banner-main-about/banner-main-about
			.about__professor
				a(href="").about__professor__item 
					img(src="img/projectPage/about__professor__1-1.png", alt="")
					.about__professor__item__desc
						.about__professor__item__title
							p Декан 
						.about__professor__item__name
							!="Добролюбов <br>Сергей Анатольевич"
						.about__professor__item__post
							| академик РАН, профессор
				a(href="").about__professor__item 
					img(src="img/projectPage/about__professor__2-2.png", alt="")
					.about__professor__item__desc
						.about__professor__item__title
							p Президент
						.about__professor__item__name
							!="Касимов <br>Николай Сергеевич"
						.about__professor__item__post
							| академик РАН, профессор
		.about__contacts
			.container 
				.about__contacts__wrap
					.about__contacts__list
						.about__contacts__list__column 
							p.about__contacts__list--title Контакты
							p 17-22 этажи 
							p Главного здания МГУ 
							p на Ленинских горах
							br
							p Телефон: 
							p +7 (495) 939 22 38
							br
							p Факс: 
							p +7 (495) 932 88 36
							br
							p E-mail:  
							a(href="mailto:info@geogr.msu.ru") info@geogr.msu.ru 
						.about__contacts__list__column 
							p.about__contacts__list--title Приемная комиссия
							p 119991, Москва,
							p Ленинские горы, 
							p МГУ имени М.В. Ломоносова,
							p Географический факультет, 
							p 19 этаж, аудитории 19-20
							br
							p Телефон: 
							p +7 (495) 939 10 20
							br
							p E-mail:  
							a(href="mailto:pk@geogr.msu.ru") pk@geogr.msu.ru 
						.about__contacts__list__column 
							p.about__contacts__list--title Для корреспонденции
							p 119991, Москва, ГСП-1, Ленинские горы,
							p МГУ имени М.В. Ломоносова, Географический факультет.
					.about__contacts__list
						.about__contacts__list__map
							img(src="img/projectPage/map.png", alt="")
		.container
			include ../../blocks/components/banners-trio-about/banners-trio-about
			include ../../blocks/components/education-couple-about/education-couple-about
		include ../../blocks/modules/academic-slider-about/academic-slider-about

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")