extends ../layouts/default

block variables
	- const title = "About Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.section.about 
		.container
			include ../../blocks/components/banner-main-about/banner-main-about
			.about__professor
				a(href="").about__professor__item 
					img(src="../img/projectPage/about__professor__1.png", alt="")
					.about__professor__item__desc
						.about__professor__item__title
							|Декан факультета
						.about__professor__item__name
							| Добролюбов С.А.
						.about__professor__item__post
							| академик РАН, профессор
				a(href="").about__professor__item 
					img(src="../img/projectPage/about__professor__2.png", alt="")
					.about__professor__item__desc
						.about__professor__item__title
							|Декан факультета
						.about__professor__item__name
							| Добролюбов С.А.
						.about__professor__item__post
							| академик РАН, профессор
		.about__contacts
			.container 
				.about__contacts__wrap
					.about__contacts__list
						.about__contacts__list__column 
							h3 Контакты
							br
							p 17-22 этажи 
							p Главного здания МГУ 
							p на Ленинских горах
							br
							p Телефон: 
							p +7 (495) 939 22 38
							br
							p Факс: 
							p +7 (495) 932 88 36
							br
							p E-mail:  
							a(href="mailto:info@geogr.msu.ru") info@geogr.msu.ru 
						.about__contacts__list__column 
							h3 Приемная комиссия
							br
							p 119991, Москва,
							p Ленинские горы, 
							p МГУ имени М.В. Ломоносова,
							p Географический факультет, 
							p 19 этаж, аудитории 19-20
							br
							p Телефон: 
							p +7 (495) 939 10 20
							br
							p E-mail:  
							a(href="mailto:pk@geogr.msu.ru") pk@geogr.msu.ru 
						.about__contacts__list__column 
							h3 Для корреспонденции
							br
							p 119991, Москва,
							p ГСП-1, Ленинские горы,  
							p МГУ имени М.В. Ломоносова,
							p Географический факультет, 
							br
							p Телефон: 
							p +7 (495) 939 10 20
							br
							p E-mail:  
							a(href="mailto:pk@geogr.msu.ru") pk@geogr.msu.ru 
					.about__contacts__list
						.about__contacts__list__map
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A57ba8f2c2d937cbcc03b7b1d6b9c16726913d0e4e3b2ad0a4915c0a0fe9355e6&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
					
		.container
			include ../../blocks/components/banners-about/banners-about
			include ../../blocks/components/education-about/education-about
		include ../../blocks/modules/academic-slider-about/academic-slider-about


block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")