extends ../layouts/default

block variables
	- const title = "Education Extra Program";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.section.section__editor.section__editor--extraProgram
		.container
			.header__one
				.column__left.header__one__left
					.header__one--label.header__one--label-green Экология
					h1  Экология и рациональное природопользование
				.column__right.header__one__right
					img(src="img/projectPage/aducationExtraProgram__1.png" alt="")
			.block__text__wrap
				.column__left
					include ../../blocks/components/block-text-one-aducation-extra-program/block-text-one-aducation-extra-program
				.column__right
					include ../../blocks/components/block-text-two-aducation-extra-program/block-text-two-aducation-extra-program
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")