extends ../layouts/default

block variables
	- const title = "Education Students";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.conferences.layoutFour.educationMaterials
		.section__editor
			.container
				.block__text__wrap
					.column__left
						include ../../blocks/modules/menu-sidebar/menu-sidebar
						include ../../blocks/modules/menu-departments-mob/menu-departments-mob
					.column__right
						.header__one
							.column__left.header__one__left
								h1  Студенты и аспиранты
							.column__right.header__one__right
						.tabsControls
							.tabControl.button__border--blueDarck студенты 2 курс
							.tabControl.button__border--blueDarck студенты 3 курс
							.tabControl.button__border--blueDarck студенты 4 курс
							.tabControl.button__border--blueDarck 1 курс магистратуры 
							.tabControl.button__border--blueDarck 2 курс магистратуры 
							.tabControl.button__border--blueDarck аспиранты 1 г.о. 
							.tabControl.button__border--blueDarck аспиранты 2 г.о. 
							.tabControl.button__border--blueDarck аспиранты 3 г.о. 
						include ../../blocks/components/block-text-two-education-materials/block-text-two-education-materials
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")