extends ../layouts/default

block variables
	- const title = "Education Disciplines Program";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.conferences.disciplinesProgram
		.section__editor
			.container
				.header__one
					.column__left.header__one__left
						h1  Программы дисциплин
					.column__right.header__one__right
				.block__text__wrap
					.column__left
						include ../../blocks/components/block-text-one-education-disciplines-program/block-text-one-education-disciplines-program
					.column__right
						include ../../blocks/components/block-text-two-education-disciplines-program/block-text-two-education-disciplines-program
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")