extends ../layouts/default

block variables
	- const title = "Department Gallery";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.conferences.layoutFour.educationStudents.educationGallery
		.section__editor
			.container
				.block__text__wrap
					.column__left
						include ../../blocks/modules/menu-sidebar/menu-sidebar
					.column__right
						.header__one
							include ../../blocks/modules/menu-departments-mob/menu-departments-mob
							.column__left.header__one__left
								h1  Фотогалерея кафедры
							.column__right.header__one__right
						include ../../blocks/modules/tabs-controls-department-gallery/tabs-controls-department-gallery
						.tabContent--educationGallery.active(data-tab-content="1")
							.educationGallery--title Встреча магистров с сотрудниками Technoalpin
							.educationGallery--text Полевая жизнь в условиях крайнего севера удивительна и прекрасна! Криолитологическая практика 2-го курса проходила в Ямало-Ненецком автономной округе, в низовьях р.Оби. Вся наша группа впервые побывала в зоне вечной мерзлоты. Природа впечатляет! Бесконечные горизонты тундровых ландшафтов, пятна-медальоны, бугры пучения, карликовые берёзки, непрерывный моховый покров - в общем, все то, что мы раньше могли только видеть на картинках и читать в учебниках.
							.educationGallery--album
								<div class="grid" id="galleryMasters">
									<div class="grid-sizer"></div>
									<div class="grid-item grid-item--height180" >  
										<img src="img/educationGallery/educationGallery__1.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height240" >

										<img src="img/educationGallery/educationGallery__5.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height360" >
										<img src="img/educationGallery/educationGallery__10.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height180" >
										<img src="img/educationGallery/educationGallery__2.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height156" >
										<img src="img/educationGallery/educationGallery__6.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height164" >
										<img src="img/educationGallery/educationGallery__11.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height180" >
										<img src="img/educationGallery/educationGallery__3.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height156" >
										<img src="img/educationGallery/educationGallery__7.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height164">
										<img src="img/educationGallery/educationGallery__12.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height344" >
										<img src="img/educationGallery/educationGallery__4.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height156" >
										<img src="img/educationGallery/educationGallery__8.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height164" >
										<img src="img/educationGallery/educationGallery__13.png" data-fancybox="gallery">
									</div>
									<div class="grid-item grid-item--height197" >
										<img src="img/educationGallery/educationGallery__9.png" data-fancybox="gallery">
									</div>
									
								</div>

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")
