extends ../layouts/default

block variables
	- const title = "Enrolled";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	.enrolled
		.container
			include ../../blocks/components/banner-main-enrolled-top/banner-main-enrolled-top
			include ../../blocks/components/statement-enrolled/statement-enrolled
			include ../../blocks/components/education-couple-enrolled/education-couple-enrolled 	
			.section__title-small Абитуриентам и школьникам	 			
			include ../../blocks/components/banner-main-enrolled-two/banner-main-enrolled-two	
			include ../../blocks/components/banners-trio-enrolled/banners-trio-enrolled
			.button.button__blueLight 
				!="Центральная приемная комиссия" 
	include ../../blocks/modules/footer/footer
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")