extends ../layouts/default

block variables
	- const title = "About Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.form-page
		.container
			h2.form-page__title Анкета слушателя
			.form-page__layout.form
				.form-page__layout--left
					.form__title Дополнительная профессиональная программа

				.form-page__layout--right
					.form__feedback.form__feedback--program
						form
							.form__block__wrap
								.form__block
									label
										b Направление
										<select class="js-example-form ">
											<option  value="" selected> ... </option>
											<option  value="" selected>Экология</option>
											<option value="" >пункт 2</option>
										</select>
								.form__block
									label
										b Программа
										<select class="js-example-form ">
											<option  value="" selected> ... </option>
											<option  value="" selected>Экология и рациональное природопользование</option>
											<option value="" >пункт 2</option>
										</select>
								.form__block
									<div class="selectDot">
										<div class="selectDot--label">
											<label>
												<input type="radio" name="selectDot__input--deal" checked="">
												<b></b>
												<span>очная</span>
										</label>
										<label>
												<input type="radio" name="selectDot__input--deal">
												<b></b>
												<span>очно-заочная</span>
										</label>
										<label>
												<input type="radio" name="selectDot__input--deal">
												<b></b>
												<span>заочная</span>
										</label>
										</div>
									</div>

		.form-page__line
		.container
			.form-page__layout.form
				.form-page__layout--left
					.form__title
						!="Информация <br>о слушателе"
				.form-page__layout--right
					.form__feedback.form__feedback--customer
						form
							.form__block__wrap
								.form__block
									label
										b Фамилия
										input(type="text" placeholder="Фамилия")
								.form__block
									label
										b Имя
										input(type="text" placeholder="Имя")
								.form__block
									label.error
										b Отчество
										input(type="text" placeholder="Отчество")
										.form-error-text Информация об ошибке или незаполненном поле
								.form__block-double
									.form__block.form__block--date
										label
											b Дата рождения
											input#date-picker(type="text")
									.form__block
										label
											b.label СНИЛС
											input(type="text" placeholder="ХХХ-ХХХ-ХХХ YY")
								.form__block-double
									.form__block
										label
											b E-mail
											input(type="email", name="" placeholder="адрес электронной почты")
									.form__block
										label
											b Телефон
											input(type="tel", name="" placeholder="+7 (000) 000 00 00 ")
								.form__block
									label
										b Сведения об образовании
										<select class="js-example-form ">
											<option  value="" selected> ... </option>
											<option  value="" selected>Экология и рациональное природопользование</option>
											<option value="" >пункт 2</option>
										</select>
								.form__block
										label
											b Название учебного заведения
											input(type="text", name="" placeholder="Название учебного заведения")
								.form__block-double
									.form__block
										label
											b Год окончания
											<select class="js-example-form ">
												<option  value="" selected> ... </option>
												<option  value="">пункт 1</option>
												<option value="" >пункт 2</option>
											</select>
									.form__block.not-selected
										label
											b Курс обучения
											<select class="js-example-form ">
												<option  value="" selected> ... </option>
												<option  value="">пункт 1</option>
												<option value="" >пункт 2</option>
											</select>
								.form__block-double
									.form__block
										label
											b Наличие ученой степени
											<select class="js-example-form ">
												<option  value="" selected> ... </option>
												<option  value="">пункт 1</option>
												<option value="" >пункт 2</option>
											</select>
									.form__block.not-selected
										label
											b Год окончания
											<select class="js-example-form ">
												<option  value="" selected> ... </option>
												<option  value="">пункт 1</option>
												<option value="" >пункт 2</option>
											</select>
								.form__block
									label
										b.label Место работы / учебы
										input(type="text", name="" placeholder="Название учебного заведения / название компании")
								.form__block-double
									.form__block
										label
											b Должность
											input(type="text", name="" placeholder="Название должности")
									.form__block
										label
											b.label Стаж
											<select class="js-example-form ">
												<option  value="" selected> ... </option>
												<option  value="" >пункт 2</option>
												<option value="" >пункт 2</option>
											</select>
								.form__block.form__block--customer
									.form__block__title Вы являетесь заказчиком и слушателем одновременно?
									<div class="selectDot">
										<div class="selectDot--label">
											<label>
												<input type="radio" name="selectDot__input--customer" checked="">
												<b></b>
												<span>Да</span>
										</label>
										<label>
												<input type="radio" name="selectDot__input--customer">
												<b></b>
												<span>Нет</span>
										</label>
										</div>
									</div>
								.form__block.form__block--assent
									.search-checkbox--block
										label
											input(type="checkbox" autocomplete="off" name="" checked="")
											b
											span Даю согласие на обработку своих персональных данных, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование и уничтожение персональных данных, в порядке, установленном Федеральным законом от 27 июля 2006 г. №152-ФЗ «О персональных данных».
					.button.button__blue.form__button отправить заявку
		.form-page__line
		.container
			.form-page__layout.form
				.form-page__layout--left
					.form__title
						!="Информация <br>о заказчике"
				.form-page__layout--right
					.form__feedback.form__feedback--entity
						form
							.form__block__wrap
								.form__block.form__block--customer
									.form__block__title Заказчик является юридическим лицом?
									<div class="selectDot">
										<div class="selectDot--label">
											<label>
												<input type="radio" name="selectDot__input--legal-entity" checked="">
												<b></b>
												<span>Да</span>
										</label>
										<label>
												<input type="radio" name="selectDot__input--legal-entity">
												<b></b>
												<span>Нет</span>
										</label>
										</div>
									</div>
								.form__block
									label
										b Название организации
										input(type="text" placeholder="Название организации")
								.form__block
									label
										b Фамилия уполномоченного представителя
										input(type="text" placeholder="Фамилия")
								.form__block
									label.error
										b Имя уполномоченного представителя
										input(type="text" placeholder="Имя ")
								.form__block
									label
										b Отчество уполномоченного представителя
										input(type="text" placeholder="Отчество ")
								.form__block-double
									.form__block
										label
											b E-mail
											input(type="email", name="" placeholder="адрес электронной почты")
									.form__block
										label
											b Телефон
											input(type="tel", name="" placeholder="+7 (000) 000 00 00 ")
								.form__block.form__block--assent
									.search-checkbox--block
										label
											input(type="checkbox" autocomplete="off" name="" checked="")
											b
											span Даю согласие на обработку своих персональных данных, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование и уничтожение персональных данных, в порядке, установленном Федеральным законом от 27 июля 2006 г. №152-ФЗ «О персональных данных».
					.button.button__blue.form__button отправить заявку


	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")