extends ../layouts/default

block variables
	- const title = "Main Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.section__main
		.container
			include ../../blocks/modules/main-slider/main-slider
			.main 
				.layoutThree
					.layoutThree__left
						.main__news 
							.main__news__top
								h1.main__news__title Новости
								a(href="").block__textOne__link все новости
							.main__news__list 
								a(href="").main__news__item 
									img(src="img/mainPage/slider__main.png", alt="").main__news__item__img
									.main__news__item__date 01 сентября 2022
									.main__news__item__title 
										| С.А. Добролюбов: ХXI Век будет веком океанов
									.main__news__item__text 
										| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
								a(href="").main__news__item 
									img(src="img/mainPage/slider__main.png", alt="").main__news__item__img
									.main__news__item__date 01 сентября 2022
									.main__news__item__title 
										| С.А. Добролюбов: ХXI Век будет веком океанов С.А. Добролюбов: ХXI Век будет веком океанов
									.main__news__item__text 
										| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
								a(href="").main__news__item 
									img(src="img/mainPage/slider__main.png", alt="").main__news__item__img
									.main__news__item__date 01 сентября 2022
									.main__news__item__title 
										| С.А. Добролюбов: ХXI Век будет веком океанов
									.main__news__item__text 
										| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов... 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
								a(href="").main__news__item 
									img(src="img/mainPage/slider__main.png", alt="").main__news__item__img
									.main__news__item__date 01 сентября 2022
									.main__news__item__title 
										| С.А. Добролюбов: ХXI Век будет веком океанов
									.main__news__item__text 
										| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов... 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
						.education
							a(href="").education__item
								img(src="img/mainPage/education__img__1.png", alt="").education__item__img
								.education__item__desc
									.education__item__desc__title Кафедры

									.education__item__desc__text
										p 
											|15 специализированных кафедр, представляющих разнообразные общие или частные науки географического цикла.  Почти каждая кафедра — сложившаяся крупная научная школа 
							a(href="").education__item
								img(src="img/mainPage/education__img__2.png", alt="").education__item__img
								.education__item__desc
									.education__item__desc__title Кафедры

									.education__item__desc__text
										p 
											|15 специализированных кафедр, представляющих разнообразные общие или частные науки географического цикла.  Почти каждая кафедра — сложившаяся крупная научная школа 
							a(href="").education__itemWhite 
								.education__itemWhite__desc
									.education__itemWhite__desc__title Дополнительное образование			
							a(href="").education__itemWhite 
								.education__itemWhite__desc
									.education__itemWhite__desc__title 
										| Образовательные программы бакалавриата и магистратуры		
							a(href="").education__itemWhite 
								.education__itemWhite__desc
									.education__itemWhite__desc__title 
										| Еще один запасной баннер на главную	
						a.button.button__blueLight
							| Электронная библиотека
					.layoutThree__right
						.advertisement 
							.advertisement__title Объявления
							.ads
								a(href="").ads__item
									.ads__item__date 15 июня 2022
									.ads__item__title 
										| Приглашаем на заседание семинара «Культурный ландшафт»
									.ads__item__label 
										| 06 апреля в 17:15 (среда) <br> 327-е заседание <br>онлайн трансляция (zoom)
								a(href="").ads__item
									.ads__item__date 15 июня 2022
									.ads__item__title 
										|Отчет о результатах самообследования географического факультета за 2021 год
									.ads__item__label 
								a(href="").ads__item
									.ads__item__date 15 июня 2022
									.ads__item__title 
										| Приглашаем принять участие во всероссийской школе-семинаре «Экологическая безопасность в условиях антропогенной трансфор-мации природной среды»
									.ads__item__label 
										| 06 апреля в 17:15 (среда) <br> 327-е заседание <br>онлайн трансляция (zoom)
								a(href="").block__textOne__link все объявления
						.banners 
							.banner.banner__ochre
								.banner__title
									|	Лекторий юного географа 
								.banner__text 
									| Текст... Углублeнное изучение географии и выявление исследовательских возможностей школьников.ких возможностей школьников.
							.banner.banner__ochre
								.banner__title
									|	Школа юного географа 
								.banner__text 
									| Углублeнное изучение географии и выявление исследовательских возможностей школьников.
							.banner.banner__blue
								.banner__title 
									|	 Школа юного географа  Школа юного географа Школа юного географа 
								.banner__text
									| Углублeнное изучение географии и выявление исследовательских возможностей школьников.
							.banner.banner__blueLight
								.banner__title 
									|	Школа юного географа 
								.banner__text
									| Углублeнное изучение географии и выявление исследовательских возможностей школьников.Углублeнное изучение географии и выявление исследовательских возможностей школьников.Углублeнное изучение географии и выявление исследовательских возможностей школьников.Углублeнное изучение географии и выявление исследовательских возможностей школьников.Углублeнное изучение географии и выявление исследовательских возможностей школьников.
							.banner.banner__blueLight
								.banner__title 
									|	Школа юного географа 
								.banner__text
									| Углублeнное изучение географии и выявление исследовательских возможностей школьников.
							.banner.banner__blueLight
								.banner__title 
									|	Школа юного географа 
								.banner__text
									| Углублeнное изучение географии и выявление исследовательских возможностей школьников.
		.academic 
			.container
				.academic__title Научные издания факультета
				.academic__list 
					.academic__item 
						.academic__item__title «Geography, Environment, Sustainability Sustainability Sustainability Sustainability» 
						.academic__item__text 
							|Вестник Московского университета. Серия 5. География 
						a.block__textOne__link.academic__item__button 
							p читать издание
					.academic__item 
						.academic__item__title «Вестник МГУ» 
						.academic__item__text 
							|Вестник Московского университета. Серия 5. География Вестник Московского университета. Серия 5. ГеографияВестник Московского университета. Серия 5. География 
						a.block__textOne__link.academic__item__button 
							p читать издание							
					.academic__item 
						.academic__item__title «Региональные исследования»
						.academic__item__text 
							|Вестник Московского университета. Серия 5. География 
						a.block__textOne__link.academic__item__button 
							p читать издание							
					.academic__item 
						.academic__item__title РЖ «ИнтерКарто. ИнтерГИС»  
						.academic__item__text 
							| Описание издания
						a.block__textOne__link.academic__item__button 
							p читать издание							
					.academic__item 
						.academic__item__title РЖ «ИнтерКарто. ИнтерГИС»  
						.academic__item__text 
							| Описание издания
						a.block__textOne__link.academic__item__button 
							p читать издание							
					.academic__item 
						.academic__item__title РЖ «ИнтерКарто. ИнтерГИС»  
						.academic__item__text 
							| Описание издания
						a.block__textOne__link.academic__item__button 
							p читать издание							
					
	include ../../blocks/modules/footer/footer	
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")