extends ../layouts/default

block variables
	- const title = "News Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	//- include ../../blocks/modules/block-text-one/block-text-one
	.news
		.container
			.header__one
				.column__left.header__one__left
					.news__header__wrap
						.news__date 01 июня 2022
						h1  С.А. Добролюбов: ХXI Век будет веком океанов
					include ../../blocks/components/declaration-soc/declaration-soc
				.column__right.header__one__right
					img(src="img/projectPage/project__top__picture__2.png", alt="")
					include ../../blocks/components/declaration-soc/declaration-soc

			.block__text__wrap
				.column__left
					include ../../blocks/components/block-text-one-news/block-text-one-news
				.column__right
					include ../../blocks/components/block-text-two-news/block-text-two-news
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")