extends ../layouts/default

block variables
	- const title = "Main Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs



	.section.section__editor.section__editor--person-page
		.container
			.person-page-head
				a.block__textOne__link.block__textOne__link--person-colors(href="") все препродаватели и сотрудники

			h1.person-page-mobile-h1 Болысов <br> Сергей Иванович
			.person-page-main
				.block__text__wrap
					.column__left.column__left--person-page
						.block__textOne.block__textOne--person-page
							img(src="img/persons/person_photo.jpg", alt="image")

							table.person-page-contacts
								tr
									td
										a.block__textOne__link(href="") профиль в системе ИСТИНА
										br
										br
										p Телефон:
										a(href="tel:+74959395469") +7 (495) 939 54 69
										br
										br
										p E-mail:
										a(href="mailto:sibol1954@bk.ru") sibol1954@bk.ru



					.column__right.column__right--person-page
						.block__textTwo.block__textTwo--person-page
							h1 Болысов <br> Сергей Иванович
							br
							br
							h3 Должность
							p Профессор
							br
							h3 Образование
							p МГУ им.М.В.Ломоносова, географический факультет, кафедра геоморфологии, 1976 г.
							br
							h3 Ученая степень
							p Доктор географических наук (2003)
							br
							h3 Ученое звание
							p Профессор
							br
							h3 Область научных интересов
							p Биогенное рельефообразование, овражная эрозия, стационарные наблюдения за динамикой рельефа, экологическая геоморфология, городская геоморфология, субрельеф, методология и методика геоморфологических исследований и геоморфологического картографирования, школьная физическая география.
							br
							h3 Тема кандидатской диссертации
							p История развития малых эрозионных форм краевой зоны московского оледенения (на примере бассейна р.Протвы)
							br
							h3 Тема докторской диссертации
							p Биогенное рельефообразование на суше.



	include ../../blocks/modules/footer/footer