extends ../layouts/default

block variables
	- const title = "Project Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	include ../../blocks/modules/block-text-one/block-text-one
	
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")