extends ../layouts/default

block variables
	- const title = "Dissertation Council Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	//- include ../../blocks/modules/block-text-one/block-text-one
	.disserCouncil
		.section__editor
			.container
				.header__one
					.column__left.header__one__left
						h1  Диссертационный совет МГУ.11.01
					.column__right.header__one__right
				.block__text__wrap
					.column__left
						include ../../blocks/components/block-text-one-dissertation-council/block-text-one-dissertation-council
					.column__right
						include ../../blocks/components/block-text-two-dissertation-council/block-text-two-dissertation-council
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")