extends ../layouts/default

block variables
	- const title = "Science Seminars Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu

	include ../../blocks/modules/breadcrumbs/breadcrumbs
	// дублируется seminars 
	.science__seminars
		include ../../blocks/modules/header-text-two-science-seminars/header-text-two-science-seminars	
		.container 
			.science__seminars__list 
				a(href="").science__seminars__item 
					.science__seminars__item__title Семинар «Культурный ландшафт»
					.science__seminars__item__text Можно пару-тройку строк текста для живости и разнообразия
					img(src="img/projectPage/seminars__item__1.png", alt="")
				a(href="").science__seminars__item 
					.science__seminars__item__title Семинар «Культурный ландшафт»
					.science__seminars__item__text Можно пару-тройку строк текста для живости и разнообразия
					img(src="img/projectPage/seminars__item__2.png", alt="")
				a(href="").science__seminars__item 
					.science__seminars__item__title Научный семинар НИЛ новейших отложений и палиогеографии плейстоцена
					.science__seminars__item__text Можно пару-тройку строк текста для живости и разнообразия 
					img(src="img/projectPage/seminars__item__3.png", alt="")
				a(href="").science__seminars__item 
					.science__seminars__item__title Научный семинар НИЛ новейших отложений и палиогеографии плейстоцена
					.science__seminars__item__text 
					img(src="img/projectPage/seminars__item__4.png", alt="")
	
				a(href="").science__seminars__item 
					.science__seminars__item__title Научный семинар НИЛ новейших отложений и палиогеографии плейстоцена
					.science__seminars__item__text Поселки городского типа в региональных системах расселения
					img(src="img/projectPage/seminars__item__5.png", alt="")
	
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")