extends ../layouts/default

block variables
	- const title = "Dissertation Councils Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	//- include ../../blocks/modules/block-text-one/block-text-one
	.disserCouncils
		include ../../blocks/modules/header-text-two-science-dissectationCouncils/header-text-two-science-dissectationCouncils
		.container
			.councils
				.councils__item 
					.councils__item__title МГУ .11.01 
					.councils__item__news 
						p 
							!="<b>25.00.24</b>"
						p Экономическая, социальная, политическая и рекреационная география (геогр. науки)
						br
						br
				.councils__item 
					.councils__item__title МГУ .11.02 
					.councils__item__news 
						p 
							!="<b>25.00.27</b>"
						p Гидрология суши, водные ресурсы, гидрохимия (геогр. науки)
					.councils__item__news 
						p 
							!="<b>25.00.28</b>"
						p Океанология (геогр. науки)
					.councils__item__news 
						p 
							!="<b>25.00.30</b>"
						p Метеорология, климатология, агрометеорология (геогр. науки)
				.councils__item 
					.councils__item__title МГУ .11.03 
					.councils__item__news 
						p 
							!="<b>25.00.23</b>"
						p Физическая география и биогеография, география почв и геохимия ландшафтов (геогр. науки)
					.councils__item__news 
						p 
							!="<b>25.00.36</b>"
						p Геоэкология (по отраслям) (геогр. науки)
				.councils__item 
					.councils__item__title МГУ .11.04 
					.councils__item__news 
						p 
							!="<b>25.00.25</b>"
						p Геоморфология и эволюционная география (геогр. науки)
					.councils__item__news 
						p 
							!="<b>25.00.31</b>"
						p Гляциология и криология Земли (геогр. науки)
					.councils__item__news 
						p 
							!="<b>25.00.33</b>"
						p Картография (геогр. науки)
			.button__border--blue архив каталога диссертаций		
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")