extends ../layouts/default

block variables
	- const title = "Seminar Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.seminar
		.section__editor
			.container
				.header__one
					.column__left.header__one__left
						h1  Научный семинар «Культурный ландшафт»
					.column__right.header__one__right
						img(src="img/projectPage/Seminar__1.png", alt="")
				.block__text__wrap
					.column__left
						include ../../blocks/components/block-text-one-science-seminar/block-text-one-science-seminar
					.column__right
						include ../../blocks/components/block-text-two-science-seminar/block-text-two-science-seminar
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")