extends ../layouts/default

block variables
	- const title = "Structure Departments Page";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/headerMenu/headerMenu
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.departmensnts
		.section.section__editor
			.container
				.departmensnts__header
					img(src="img/projectPage/departmensnts__1.png", alt="")
					h1
						!= "Кафедра <br>биогеографии"
				.block__text__wrap
					.column__left
						include ../../blocks/components/block-text-one-departments/block-text-one-departments
					.column__right
						include ../../blocks/components/block-text-two-departments/block-text-two-departments
	include ../../blocks/modules/footer/footer
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")