.declaration
	.declaration__item
		p.declaration__item__date 09 ноября 2022
		.declaration__item__title Приглашаем на заседание семинара «Культурный ландшафт»
		.block__textTwo 
			p
				| Семинар «Культурный ландшафт» и комиссия по культурной географии Московского городского отделения РГО приглашают на 331-е заседание, которое состоится в среду 16 ноября 2022 г. в 17-30 в режиме оффлайн с онлайн-трансляцией. С докладом «Горнозаводская цивилизация и проблемы ее репрезентации (по материалам очерков XIX века и современных турпродуктов)» выступит А.В. Фирсова (Пермский государственный университет).Для участия в семинаре необходимо подключиться 15.11.2022 к семинару в Zoom. 
			br
			br
			a.block__textOne__link
				| подключиться к конференции zoom
			br
			br
			p
				| Идентификатор конференции: 643 499 1691
			p
				| Код доступа: 963298
			br
			p
				| Пожалуйста, при входе в конференцию обязательно указывайте ФИО. Анонимные участники не будут допущены к семинару.
		include ../../components/declaration-soc/declaration-soc
		button.declaration__item__button.declaration__button__one
			|читать объявление полностью
		.block__textTwo.block__textTwo__hidden(style="display:none;")
			img(src="img/projectPage/block__textTwo__2.png", alt="")
			p 
				| Высокие темпы выбросов загрязняющих веществ в городах привели к накоплению в атмосфере огромного количества мельчайших взвешенных частиц - аэрозолей. Аэрозоли антропогенного происхождения обладают сложным химическим составом, включая экологически опасные компоненты техногенных эмиссий. Современные технологии комплексного анализа качества воздуха позволяют ученым делать научно-обоснованные оценки экологического состояния окружающей среды мегаполиса. Инструментальный аэрозольный  комплекс - это часть инновационной системы непрерывного анализа аэрозольных загрязнений атмосферы столицы. Проект имеет особую социальную значимость для улучшения уровня жизни городского населения, открывает перспективы для реализации эффективных стратегий экологического развития и разработки мероприятий по уменьшению опасных последствий загрязнения атмосферы Московского мегаполиса в целом.
			br
			p 
				| Первый Аэрозольный комплекс МГУ был создан  в 2019 г. специалистами Научно – исследовательского института Ядерной физики МГУ  в Арктике, на острове Белый (Карское море).
			br
			p
				| В 2020 году  открыт Аэрозольный комплекс на территории Метеорологической обсерватории МГУ.  Совместный проект географического факультета МГУ  и Научно – исследовательского института Ядерной физики МГУ реализован при поддержке Программы развития Московского университета.
			br
			p 
				| Инструментальное оборудование Аэрозольного комплекса МГУ установлено за счет гранта на обновление оборудования для научных исследований в рамках федерального проекта «Развитие передовой инфраструктуры для проведения исследований и разработок в Российской Федерации» национального проекта «Наука и университеты»
			br
			h2 Подзаголовок большой
			br
			br
			h3 Подзаголок обычный
			br
			br
			a(href="#") Обычная ссылка 
			br
			br
			ul 
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
			br
			br
			ol
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
				li 
					| На основе геоисторического и этнокультурного критериев, и учитывая центрированность русского культурного пространства, осуществлено литературно-географическое районирование страны.
				li 
					| Разработана культурно-географическая методика анализа литературного путешествия.
				li 
					| Важнейшим результатом исследования является структура литературного атласа России, которая включает три важнейших раздела. В первом разделе обстоятельно рассматривается каждый из 10-ти литературных регионов страны. Второй раздел посвящен литературным путешествиям по России, а в третьем раздел представлены результаты многолетних исследований литературного ландшафта Пушкиногорья.
			br
			br
			p 
				!= "Учебный план всех уровней включает четыре блока учебных курсов. Гуманитарные дисциплины — экономика и территориальная организация общества, экономика природопользования, философия, социология, история Отечества и дрс сылка в тексте <a>ссылка в тексте</a>  Фундаментальные естественные дисциплины — высшая математика и программирование, геоинформатика, при наведении основы экологии, биологии, физики и химии." 
			br
			ol
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
				li 
					| На основе геоисторического и этнокультурного критериев, и учитывая центрированность русского культурного пространства, осуществлено литературно-географическое районирование страны.
				li 
					| Разработана культурно-географическая методика анализа литературного путешествия.
				li 
					| Важнейшим результатом исследования является структура литературного атласа России, которая включает три важнейших раздела. В первом разделе обстоятельно рассматривается каждый из 10-ти литературных регионов страны. Второй раздел посвящен литературным путешествиям по России, а в третьем раздел представлены результаты многолетних исследований литературного ландшафта Пушкиногорья.
		button.declaration__item__button.declaration__button__two(style="display: none;")
			|читать объявление полностью
	.declaration__item
		p.declaration__item__date 09 ноября 2022
		.declaration__item__title Приглашаем на заседание семинара «Культурный ландшафт»
		.block__textTwo 
			p
				| Семинар «Культурный ландшафт» и комиссия по культурной географии Московского городского отделения РГО приглашают на 331-е заседание, которое состоится в среду 16 ноября 2022 г. в 17-30 в режиме оффлайн с онлайн-трансляцией. С докладом «Горнозаводская цивилизация и проблемы ее репрезентации (по материалам очерков XIX века и современных турпродуктов)» выступит А.В. Фирсова (Пермский государственный университет).Для участия в семинаре необходимо подключиться 15.11.2022 к семинару в Zoom. 
			br
			br
			a.block__textOne__link
				| подключиться к конференции zoom
			br
			br
			p
				| Идентификатор конференции: 643 499 1691
			p
				| Код доступа: 963298
			br
			p
				| Пожалуйста, при входе в конференцию обязательно указывайте ФИО. Анонимные участники не будут допущены к семинару.
		include ../../components/declaration-soc/declaration-soc
		button.declaration__item__button.declaration__button__one
			|читать объявление полностью
		.block__textTwo.block__textTwo__hidden(style="display:none;")
			img(src="img/projectPage/block__textTwo__2.png", alt="")
			p 
				| Высокие темпы выбросов загрязняющих веществ в городах привели к накоплению в атмосфере огромного количества мельчайших взвешенных частиц - аэрозолей. Аэрозоли антропогенного происхождения обладают сложным химическим составом, включая экологически опасные компоненты техногенных эмиссий. Современные технологии комплексного анализа качества воздуха позволяют ученым делать научно-обоснованные оценки экологического состояния окружающей среды мегаполиса. Инструментальный аэрозольный  комплекс - это часть инновационной системы непрерывного анализа аэрозольных загрязнений атмосферы столицы. Проект имеет особую социальную значимость для улучшения уровня жизни городского населения, открывает перспективы для реализации эффективных стратегий экологического развития и разработки мероприятий по уменьшению опасных последствий загрязнения атмосферы Московского мегаполиса в целом.
			br
			p 
				| Первый Аэрозольный комплекс МГУ был создан  в 2019 г. специалистами Научно – исследовательского института Ядерной физики МГУ  в Арктике, на острове Белый (Карское море).
			br
			p
				| В 2020 году  открыт Аэрозольный комплекс на территории Метеорологической обсерватории МГУ.  Совместный проект географического факультета МГУ  и Научно – исследовательского института Ядерной физики МГУ реализован при поддержке Программы развития Московского университета.
			br
			p 
				| Инструментальное оборудование Аэрозольного комплекса МГУ установлено за счет гранта на обновление оборудования для научных исследований в рамках федерального проекта «Развитие передовой инфраструктуры для проведения исследований и разработок в Российской Федерации» национального проекта «Наука и университеты»
			br
			h2 Подзаголовок большой
			br
			br
			h3 Подзаголок обычный
			br
			br
			a(href="#") Обычная ссылка 
			br
			br
			ul 
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
			br
			br
			ol
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
				li 
					| На основе геоисторического и этнокультурного критериев, и учитывая центрированность русского культурного пространства, осуществлено литературно-географическое районирование страны.
				li 
					| Разработана культурно-географическая методика анализа литературного путешествия.
				li 
					| Важнейшим результатом исследования является структура литературного атласа России, которая включает три важнейших раздела. В первом разделе обстоятельно рассматривается каждый из 10-ти литературных регионов страны. Второй раздел посвящен литературным путешествиям по России, а в третьем раздел представлены результаты многолетних исследований литературного ландшафта Пушкиногорья.
			br
			br
			p 
				!= "Учебный план всех уровней включает четыре блока учебных курсов. Гуманитарные дисциплины — экономика и территориальная организация общества, экономика природопользования, философия, социология, история Отечества и дрс сылка в тексте <a>ссылка в тексте</a>  Фундаментальные естественные дисциплины — высшая математика и программирование, геоинформатика, при наведении основы экологии, биологии, физики и химии." 
			br
			ol
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
				li 
					| На основе геоисторического и этнокультурного критериев, и учитывая центрированность русского культурного пространства, осуществлено литературно-географическое районирование страны.
				li 
					| Разработана культурно-географическая методика анализа литературного путешествия.
				li 
					| Важнейшим результатом исследования является структура литературного атласа России, которая включает три важнейших раздела. В первом разделе обстоятельно рассматривается каждый из 10-ти литературных регионов страны. Второй раздел посвящен литературным путешествиям по России, а в третьем раздел представлены результаты многолетних исследований литературного ландшафта Пушкиногорья.
		button.declaration__item__button.declaration__button__two(style="display: none;")
			|читать объявление полностью
	.declaration__item
		p.declaration__item__date 09 ноября 2022
		.declaration__item__title Приглашаем на заседание семинара «Культурный ландшафт»
		.block__textTwo 
			p
				| Семинар «Культурный ландшафт» и комиссия по культурной географии Московского городского отделения РГО приглашают на 331-е заседание, которое состоится в среду 16 ноября 2022 г. в 17-30 в режиме оффлайн с онлайн-трансляцией. С докладом «Горнозаводская цивилизация и проблемы ее репрезентации (по материалам очерков XIX века и современных турпродуктов)» выступит А.В. Фирсова (Пермский государственный университет).Для участия в семинаре необходимо подключиться 15.11.2022 к семинару в Zoom. 
			br
			br
			a.block__textOne__link
				| подключиться к конференции zoom
			br
			br
			p
				| Идентификатор конференции: 643 499 1691
			p
				| Код доступа: 963298
			br
			p
				| Пожалуйста, при входе в конференцию обязательно указывайте ФИО. Анонимные участники не будут допущены к семинару.
		include ../../components/declaration-soc/declaration-soc
		button.declaration__item__button.declaration__button__one
			|читать объявление полностью
		.block__textTwo.block__textTwo__hidden(style="display:none;")
			img(src="img/projectPage/block__textTwo__2.png", alt="")
			p 
				| Высокие темпы выбросов загрязняющих веществ в городах привели к накоплению в атмосфере огромного количества мельчайших взвешенных частиц - аэрозолей. Аэрозоли антропогенного происхождения обладают сложным химическим составом, включая экологически опасные компоненты техногенных эмиссий. Современные технологии комплексного анализа качества воздуха позволяют ученым делать научно-обоснованные оценки экологического состояния окружающей среды мегаполиса. Инструментальный аэрозольный  комплекс - это часть инновационной системы непрерывного анализа аэрозольных загрязнений атмосферы столицы. Проект имеет особую социальную значимость для улучшения уровня жизни городского населения, открывает перспективы для реализации эффективных стратегий экологического развития и разработки мероприятий по уменьшению опасных последствий загрязнения атмосферы Московского мегаполиса в целом.
			br
			p 
				| Первый Аэрозольный комплекс МГУ был создан  в 2019 г. специалистами Научно – исследовательского института Ядерной физики МГУ  в Арктике, на острове Белый (Карское море).
			br
			p
				| В 2020 году  открыт Аэрозольный комплекс на территории Метеорологической обсерватории МГУ.  Совместный проект географического факультета МГУ  и Научно – исследовательского института Ядерной физики МГУ реализован при поддержке Программы развития Московского университета.
			br
			p 
				| Инструментальное оборудование Аэрозольного комплекса МГУ установлено за счет гранта на обновление оборудования для научных исследований в рамках федерального проекта «Развитие передовой инфраструктуры для проведения исследований и разработок в Российской Федерации» национального проекта «Наука и университеты»
			br
			h2 Подзаголовок большой
			br
			br
			h3 Подзаголок обычный
			br
			br
			a(href="#") Обычная ссылка 
			br
			br
			ul 
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
			br
			br
			ol
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
				li 
					| На основе геоисторического и этнокультурного критериев, и учитывая центрированность русского культурного пространства, осуществлено литературно-географическое районирование страны.
				li 
					| Разработана культурно-географическая методика анализа литературного путешествия.
				li 
					| Важнейшим результатом исследования является структура литературного атласа России, которая включает три важнейших раздела. В первом разделе обстоятельно рассматривается каждый из 10-ти литературных регионов страны. Второй раздел посвящен литературным путешествиям по России, а в третьем раздел представлены результаты многолетних исследований литературного ландшафта Пушкиногорья.
			br
			br
			p 
				!= "Учебный план всех уровней включает четыре блока учебных курсов. Гуманитарные дисциплины — экономика и территориальная организация общества, экономика природопользования, философия, социология, история Отечества и дрс сылка в тексте <a>ссылка в тексте</a>  Фундаментальные естественные дисциплины — высшая математика и программирование, геоинформатика, при наведении основы экологии, биологии, физики и химии." 
			br
			ol
				li 
					| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
				li 
					| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
				li 
					| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
				li 
					| На основе геоисторического и этнокультурного критериев, и учитывая центрированность русского культурного пространства, осуществлено литературно-географическое районирование страны.
				li 
					| Разработана культурно-географическая методика анализа литературного путешествия.
				li 
					| Важнейшим результатом исследования является структура литературного атласа России, которая включает три важнейших раздела. В первом разделе обстоятельно рассматривается каждый из 10-ти литературных регионов страны. Второй раздел посвящен литературным путешествиям по России, а в третьем раздел представлены результаты многолетних исследований литературного ландшафта Пушкиногорья.
		button.declaration__item__button.declaration__button__two(style="display: none;")
			|читать объявление полностью