.section__editor.section__editor--person-page {
	.container {
		padding-top: 42px;
		padding-bottom: 72px;

		@include max(md) {
			padding-top: 18px;
			padding-bottom: 27px;

		}
		@include max(sm) {
			padding-top: 40px;
			padding-bottom: 27px;

		}
	}

}

.person-page-head {
	display: flex;
	justify-content: flex-end;

	@include max(sm) {
		display: none;
	}
}

.person-page-mobile-h1 {
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;

	color: #004ABA;

	@include min(sm) {
		display: none;
	}
}

.person-page-main {
	padding-top: 18px;
	@include max(md) {
		padding-top: 32px;
	}
}

.column__left--person-page,
.column__right--person-page {
	padding-top: 0 !important;
	border-top: none !important;
}


.column__left--person-page {
	@include max(lg) {
		flex-basis: 278px;
		margin-right: 40px;
	}

	@include max(md) {
		flex-basis: 234px;
		margin-right: 42px;
	}

	@include max(sm) {
		flex-basis: auto;
		width: 100%;
		margin-right: 0;
		padding-right: 0;
		padding-top: 17px;
		padding-bottom: 0px;
	}

}

.column__right--person-page {
	@include max(sm) {
		padding-top: 26px;
		padding-bottom: 0px;
	}
}

.block__textTwo--person-page {
	@include max(sm) {
		line-height: 22px !important;
		margin-bottom: 0;
	}

	h1 {
		font-weight: 800;
		font-size: 24px;
		line-height: 117%;
		color: #004ABA;

		@include max(sm) {

			&,
			&+br,
			&+br+br,
			&+br+br+br {
				display: none;
			}

		}
	}

	h3,
	p {
		@include max(sm) {
			font-size: 14px;
			line-height: 22px;
		}
	}
}

.block__textOne--person-page {
	@include max(sm) {
		display: flex;
		align-items: flex-end;
	}
	@media (max-width: 576px) {
		display: flex;
		align-items: center;
		flex-flow: column nowrap;	
	}
	img {
		margin-bottom: 39px;

		@include max(sm) {
			margin-right: 32px;
			margin-bottom: 0;
			width: auto;
		}
		@media (max-width: 576px) {
			margin-right: 0;
			margin-bottom: 32px;
		}
	}

}

.person-page-contacts {
	width: 100%;
	@include max(sm) {
		height: 216px;
	}

	td {
		border-left: 0;
		border-right: 0;
		@include max(sm) {
			border: 1px solid rgba(0, 85, 182, 0.3);
			margin-bottom: 29px;
			border-left: 0;
			border-right: 0;
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}
}