.section__editor--person-page {
	.container {
		padding-top: 42px;
		padding-bottom: 72px;

		@include max(sm) {
			padding-top: 79px;
			padding-bottom: 27px;

		}
	}

}

.person-page-head {
	display: flex;
	justify-content: flex-end;

	@include max(sm) {
		display: none;
	}
}

.person-page-mobile-h1 {
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;

	color: #104CA6;

	@include min(sm) {
		display: none;
	}
}

.person-page-main {
	padding-top: 15px;

}

.column__left--person-page,
.column__right--person-page {
	padding-top: 0;
	border-top: 0;
}


.column__left--person-page {
	@include max(lg) {
		flex-basis: 278px;
		margin-right: 40px;
	}

	@include max(md) {
		flex-basis: 234px;
		margin-right: 42px;
	}

	@include max(sm) {
		flex-basis: auto;
		width: 100%;
		margin-right: 0;
		padding-right: 0;
		padding-top: 17px;
		padding-bottom: 0px;
	}

}

.column__right--person-page {
	@include max(sm) {
		padding-top: 26px;
		padding-bottom: 0px;
	}
}

.block__textTwo--person-page {
	@include max(sm) {
		line-height: 22px !important;
		margin-bottom: 0;
	}

	h1 {
		font-weight: 800;
		font-size: 24px;
		line-height: 117%;
		color: #104CA6;

		@include max(sm) {

			&,
			&+br,
			&+br+br,
			&+br+br+br {
				display: none;
			}

		}
	}

	h3,
	p {
		@include max(sm) {
			font-size: 14px;
			line-height: 22px;
		}
	}
}

.block__textOne--person-page {
	img {
		margin-bottom: 39px;

		@include max(sm) {

			margin-bottom: 29px;
		}
	}

}

.person-page-contacts {
	width: 100%;


	td {
		padding: 32px 0;
		border: 1px solid rgba(0, 85, 182, 0.3);
		border-left: 0;
		border-right: 0;
	}
}