.educationGallery {
	.block__text__wrap {
		.column__left {
			@include max(md) {
				display: none;
			}
		}
		.header__one {
			.column__left.header__one__left {
				@include max(md) {
					display: flex;
				}
			}
		}
	}
	&--title {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		color: #031B4B;
		margin-bottom: 40px;	
	}
	&--text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #031B4B;
		margin-bottom: 40px;
	}
	&--album {
		position: relative;
		display: flex;
		width: 100%;
		img {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
.tabContent--educationGallery {
	position: relative;
	display: none;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	flex-flow: column nowrap;
	opacity: 0;
	transition: all .5s;
	&.active {
		display: flex;
		opacity: 1;
		transition: all .5s;
	}

}

.grid {
  margin: 0 auto;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 33.333; }
.grid-item--width3 { width: 33.333; }
.grid-item--width4 { width: 33.333; }

.grid-item--height2 { min-height:200px; }
.grid-item--height3 { min-height: 260px; }
.grid-item--height4 { min-height: 360px; }
