.educationExtraYoung {
	background: #F4F3F0;
	min-height: 100vh;
	padding-bottom: 100px;
	.column__left.header__two__left {
		padding-right: 0px;
		h1 {
			min-width: 100%;
		}
	}
	.column__right.header__two__right {
		@include max(lg) {
			margin-bottom: 0;
		}
	}
}
.lectureCards {
	.lectureCar {
		@include max(md) {
			padding-bottom: 32px;
		}	
	}
	.lectureCar--button {
		@include max(xs) {
			width: 100%;
			max-width: 100%;
		}		
	}
}

.seasons {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: auto;
	@include max(lg) {
		margin-top: 40px;
	}
	&--title  {
		font-style: normal;
		font-weight: 400;
		font-size: $fz13;
		line-height: $lh16;
		color: $blueDarck;		
	}
	.season {
		display: flex;
		position: relative;
		justify-content: flex-start;
		margin-top: 20px;
		align-items: flex-start;
		width: 100%;
		overflow-x: scroll;
		@include max(lg) {
			padding-bottom: 15px;
		}
		&--item {
			margin-right: 20px;
			white-space: nowrap;
			&-active {
				background-color: $blueDarck;
				border: 1px solid $blueDarck;
				color: $white;
			}
			&:hover {
				background: #D8E0EC;
				border: 1px solid #D8E0EC;
				color: $blueDarck;
			}
		}
	}
}