.educationGallery {
	.block__text__wrap {
		.column__left {
			@include max(md) {
				display: none;
			}
		}

		.header__one {
			.column__left.header__one__left {
				@include max(md) {
					display: flex;
				}
			}
		}
	}

	&--title {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		color: #031B4B;
		margin-bottom: 40px;
	}

	&--text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #031B4B;
		margin-bottom: 40px;
	}

	&--album {
		// position: relative;
		// display: flex;
		width: 100%;

		img {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.tabContent--educationGallery {
	position: relative;
	display: none;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	flex-flow: column nowrap;
	opacity: 0;
	transition: all .5s;

	&.active {
		display: flex;
		opacity: 1;
		transition: all .5s;
	}

}

.educationGallery--album {
	width: calc(100% + 20px);
}

.grid {
	max-width: 1200px;
}

/* clearfix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
	width: calc(33.3333% - 20px);

	// width: 33.3333%;
	@include max(sm) {
		width: calc(50% - 20px);
	}
}

.grid-item {
	height: 120px;
	float: left;
	margin-bottom: 24px;
}

.gutter-sizer {
	width: 4%;
}

.grid-item--height156 {
	height: 156px;
}

.grid-item--height164 {
	height: 164px;
}

.grid-item--height180 {
	height: 180px;
}

.grid-item--height197 {
	height: 197px;
}

.grid-item--height240 {
	height: 240px;
}

.grid-item--height344 {
	height: 344px;
}

.grid-item--height360 {
	height: 360px;
}


/*
.fancybox__container {
  --fancybox-color: #031B4B;
  --fancybox-bg: #F4F3F0;

  --f-spinner-color-1: #031B4B;
  --f-spinner-color-2: #031B4B;

}
.fancybox__backdrop {
	background: rgba(61, 76, 100, 0.5);
}
.fancybox__carousel {
	max-width: 1020px;
	max-height: 800px;
	background: #F4F3F0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	.fancybox__viewport  {
		max-height: 800px;
	}
	// .fancybox__slide  {

	// }
}
.fancybox__nav {
  --f-button-next-pos: 12px;
  --f-button-prev-pos: 12px;

  --f-button-width: 48px;
  --f-button-height: 48px;

  --f-button-color: #031B4B;
  --f-button-hover-color: rgba(0, 85, 182, 0.3);;

  --f-button-bg: #fff;
  --f-button-hover-bg: #fff;
  --f-button-active-bg: #fff;

  --f-button-svg-height: 20px;
  --f-button-svg-width: 20px;

  --f-button-svg-stroke-width: 1;
  --f-button-svg-filter: none;
}
.fancybox__footer {
	display: none;
}
.fancybox__toolbar {
  --f-button-color: #0d0c22;
  --f-button-hover-color: #0d0c22;

  --f-button-bg: transparent;
  --f-button-hover-bg: transparent;
  --f-button-active-bg: transparent;

  --f-button-svg-stroke-width: 1.5;
  --f-button-svg-filter: none;
	max-width: 1020px;
	background: #F4F3F0;
  text-shadow: none;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
*/


.fancybox-customized-gallery {
	.fancybox-bg{
		background:  rgba(61, 76, 100, 0.5);;
	}
	&.fancybox-is-open .fancybox-bg{
		opacity: .5;
	}
	.fancybox-custom-topbar__title {
		font-style: normal;
		font-weight: 700;
		font-size: $fz20;
		line-height: $lh26;
		color: $blueDarck;		
	}
	.fancybox-inner2 {
		background: #F4F3F0;
		height: 800px;
		width: 1020px;
		max-width: 100vw;
		max-height: 100vh;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		transition: opacity .3s;
	}

	&.fancybox-is-closing{
		.fancybox-inner2{
			opacity: 0;
		}
	}

	.fancybox-custom-topbar {
		padding: 20px 60px 16px 32px;
		font-weight: 700;
		font-size: $fz20;
		line-height: $lh26;
		color: $blueDarck;	
	}

	.fancybox-infobar {
		position: static;
		margin: 0;
		mix-blend-mode: normal;
		font-weight: 400;
		font-size: $fz16;
		line-height: $lh24;
		font-feature-settings: 'ss01' on;
		color: $blueDarck;
		padding: 0 60px 0 32px;
		opacity: 1;
		visibility: visible;
	}


	.fancybox-caption {
		position: static;
		margin: 0;
		padding: 20px 60px 20px 32px;
		background: none;
		mix-blend-mode: normal;
		font-weight: 400;
		font-size: $fz16;
		line-height: $lh24;
		font-feature-settings: 'ss01' on;
		color: $blueDarck;
		min-height: 90px;
		text-align: left;

	}

	.fancybox-stage-wrap {
		position: relative;
		width: 100%;
		flex-grow: 1;
	}

	.fancybox-stage {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		font-feature-settings: 'ss01'on;
		color: #031B4B;
	}

	.fancybox-slide--image {
		padding: 32px 100px 52px;
	}

	.fancybox-navigation {
		.fancybox-button{
			opacity: 1;
			visibility: visible;
			background: #FFFFFF;
			padding: 5px;
			width: 48px;
			height: 48px;
			border-radius: 30px;
			color: #031b4b;
			div {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			svg {
				width: auto;
				height: auto;
				path {
					fill: transparent;
					stroke-width: 1.5;
				}
			}

		}
		.fancybox-button--arrow_right {
			right: 16px;
		}
		.fancybox-button--arrow_left {
			left: 16px;
		}
	}
	.fancybox-button[disabled] {
		opacity: 0.6;
	}
	.fancybox-button[disabled]:hover {
		opacity: 0.6;
	}
	.fancybox-caption__body {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #031B4B;
	}
	.fancybox-custom-topbar__close{
		position: absolute;
		right: 0;
		top: 0;
		padding: 16px;
		width: 60px;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: opacity .3s;

		&:hover{
			opacity: .7;
		}

		svg{
			width: 100%;
			height: auto;
			display: block;
		}
	}

}