.educationAdditional {
	padding-top: 60px;
	background: #F4F3F0;
	min-height: 100vh;
	padding-bottom: 100px;
	@include max(md) {
		padding-top: 0;
		padding-bottom: 80px;
	}
	@include max(sm) {
		padding-bottom: 60px;
	}
	.about__banner {
		display: flex;
		justify-content: flex-start;
		h1 {
			min-width: 408px;
			@include max(sm) {
				width: 80%;
				min-width: 80%;
			}	
		}
		&__text {
			display: block;
		}
		&-additional-two {
			margin-bottom: 32px;
			@include max(lg) {
				margin-bottom: 24px;
			}
			@include max(md) {
				margin-bottom: 32px;
			}
			@include max(sm) {
				margin-bottom: 24px;
			}
		}
		&-additional-top {
			.block__textOne__link__white {
				margin-bottom: 78px;
				@media (max-width: 1095px) {
					margin-bottom: 48px;
				}
			}
			@include max(md) {
				padding-bottom: 32px;
			}
			@media (max-width: 546px) {
				padding-bottom: 48px;
			}
		}
		.button__white--fill {
			margin-right: 32px;
			@media (max-width: 1095px) {
				margin-bottom: 16px;
			}
		}
	}
	.button.button__white  {
		margin-bottom: 16px;
		width: auto;
		display: inline-block;
		margin-left: 1px;
		margin-right: 1px;
		&:last-child {
			margin-bottom: 0;
		}

	}
	.education {
		&__item {
			&:nth-child(1) {
				margin-bottom: 32px;
			}
			&:nth-child(2) {
				margin-bottom: 32px;
			}
			@include max(lg) {
				min-height: 352px;
				&:nth-child(1) {
					margin-bottom: 24px;
				}
				&:nth-child(2) {
					margin-bottom: 24px;
				}				
			}
		}
	}
}