.section__main {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 60px;
	background: $lightBg;
	padding-bottom: 115px;
}
.main  {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 99px;
	&__news {
		position: relative;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 50px;
		&__title {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 700;
			font-size: $fz24;
			line-height: $lh28;
			color: #104CA6;			
		}
		&__top {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 38px;
		}
		&__list {
			position: relative;
			display: flex;
			width: calc(100% + 32px);
			align-items: stretch;
			flex-flow: row wrap;
			margin-left: -32px;
		}
		&__item {
			position: relative;
			flex: 0 0 33.333%;
			max-width: calc(33.3333% - 32px);
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			margin-left: 32px;
			margin-bottom: 32px;
			&:hover {
				text-shadow: 0 0 0.15px #104ca600, 0 0 0.15px #104ca600;
				.main__news__item__title {
					transition: all 0.5s;
					text-decoration-line: underline;
					text-decoration-thickness: 1px;
				}
			}
			&__img {
				position: relative;
				width: 100%;
				height: 220px;
				object-fit: cover;
				object-position: 50% 50%;
				margin-bottom: 8px;
			}
			&__date {
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 500;
				font-size: $fz14;
				line-height: $lh20;
				color: #104CA6;
				margin-bottom: 24px;				
			}
			&__title {
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 800;
				font-size: $fz20;
				line-height: $lh26;
				color: #104CA6;
				margin-bottom: 16px;				
			}
			&__text {
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 400;
				font-size: $fz17T;
				line-height: $lh24;
				color: #031B4B;
			}
		}
	}
}








.advertisement {
	position: relative;
	width: 100%;
	background: #fff;
	padding: 40px 20px 32px 20px;
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 60px;
	&__title {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz24;
		line-height: $lh28;
		color: #946F11;
		margin-bottom: 32px;	
	}
}
.block__textOne__link.block__textOne__link__ads {
	color: #946F11;
	&::after{
		content: url(../img/svg/ads__arrow.svg);
	}
	&:hover {
		background: #F4F3F0;
		color: #946F11;
		text-shadow: 0 0 0.15px #946f1100, 0 0 0.15px #946f1100;
	}
}

.ads {
	position: relative;
	width: 100%;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	&__item{
		position: relative;
		width: 100%;
		border-top: 1px solid #AF8F46;
		padding-top: 8px;
		margin-bottom: 32px;
		&:hover {
			text-shadow: 0 0 0.15px #104ca600, 0 0 0.15px #104ca600;
		}
		&__date{
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 500;
			font-size: $fz14;
			line-height: $lh20;
			color: #946F11;
			margin-bottom: 24px;			
		}
		&__title {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 700;
			font-size: $fz14;
			line-height: $lh20;
			color: #946F11;
			margin-bottom: 16px;
		}
		&__label {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 400;
			font-size: $fz14;
			line-height: $lh20;
			color: #031B4B;			
		}
	}
}







.banners {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.banner {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 32px;
	min-height: 300px;
	padding: 24px;
	transition: all 0.3s;
	&:hover {
		.banner__title {
			transition: all 0.3s;
			text-decoration-line: underline;
			text-decoration-thickness: 1px;
		}
	}
	&__title {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz20;
		line-height: $lh26;	
		color: #fff;
		margin-bottom: 32px;	
	}
	&__text{
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: $fz14;
		line-height: $lh20;
		color: #FFFFFF;		
	}
	&__ochre{
		background: #AF8F46;
	}
	&__blue {
		background: #104CA6;
	}
	&__blueLight {
		background: #D8E0EC;
		.banner__title {
			color: #031B4B;
		}
		.banner__text {
			color: #031B4B;
		}
	}
}
.banner__ochre:hover{
	transition: all 0.3s;
	background: #946F11;

}
.banner__blue:hover {
	transition: all 0.3s;
	background: #073478;;
}
.banner__blueLight:hover {
	transition: all 0.3s;
	background: #C2CFE2;
}

.education {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	margin-top: 28px;
	&__item {
		position: relative;
		width: 100%;
		margin-bottom: 32px;
		transition: all .3s;
		min-height: 300px;
		img {
			position: relative;
			width: 100%;
			height: 300px;
		}
		&:hover {
			transition: all .3s;
			text-shadow: 0 0 0.15px #104ca600, 0 0 0.15px #104ca600;
			.education__item__desc__title {
				transition: all 0.3s;
				text-decoration-line: underline;
				text-decoration-thickness: 1px;
			}
			.education__item__desc__text {
				&::before{
					transition: all .3s;
					content: url("../../img/svg/education__button__hover.svg")
				}
			}
		}
		&__desc {
			position: absolute;
			top: 32px;
			left: 32px;
			width: calc(100% - 32px);
			height: calc(100% - 64px);
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			align-items: flex-start;
			&__title {
				position: relative;
				display: block;
				text-align: left;
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 700;
				font-size: $fz42;
				line-height: $lh52;
				color: #FFFFFF;				
			}
			&__text {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				width: 100%;
				padding-right: 76px;
				p {
					position: relative;
					display: block;
					font-family: 'Manrope';
					font-style: normal;
					font-weight: 600;
					font-size: $fz17;
					line-height: $lh24;
					color: #FFFFFF;	
					width: 100%;
					max-width: 636px;	
					margin-right: 24px;			
				}
				&::before{
					position: absolute;
					right: 24px;
					bottom: 0;
					display: block;
					height: 44px;
					width: 44px;
					content: url("../../img/svg/education__item__desc__button.svg")
				}
			}
		}
	}
}

.education__itemWhite {
	position: relative;
	width: 100%;
	margin-bottom: 32px;
	transition: all .3s;
	min-height: 400px;
	background: #fff;
	&__desc {
		position: absolute;
		top: 32px;
		left: 32px;
		width: calc(100% - 32px);
		height: calc(100% - 64px);
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: flex-start;
		&__title {
			position: relative;
			width: 100%;
			max-width: 456px;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 700;
			font-size: $fz42;
			line-height: $lh52;
			color: #104CA6;		
		}
	}
	&:hover {
		text-shadow: 0 0 0.15px #104ca600, 0 0 0.15px #104ca600;
		.education__itemWhite__desc__title {
			transition: all 0.3s;
			text-decoration-line: underline;
			text-decoration-thickness: 1px;
		}
	}
}
.layoutThree__left.layoutThree__left__mob {
	display: none;
}




.academic {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 43px;
	background: $lightBg;
	padding-bottom: 80px;
	border-top: 1px solid rgba(0, 85, 182, 0.5);
	&__title {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz24;
		line-height: $lh28;
		color: #104CA6;
		margin-bottom: 40px;		
	}
	&__list {
		position: relative;
		display: flex;
		width: calc(100% + 32px);
		align-items: stretch;
		flex-flow: row wrap;
		margin-left: -32px;
	}
	&__item {
		position: relative;
		flex: 0 0 25%;
		max-width: calc(25% - 32px);
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 32px;
		margin-bottom: 32px;
		background: #fff;
		padding: 24px;
		padding-bottom: 72px;
		min-height: 240px;
		height: auto;
		&:hover {
			text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;
			.block__textOne__link.academic__item__button {
				transition: all .3s;
				background: #F4F3F0;
				width: 147px;
				text-decoration: none;
				padding-left: 12px;
				padding-right: 24px;
				text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;
				p {
					transition: all 3s;
					display: block;
					opacity: 1;
					visibility: inherit;
					
				}
				
			}
		}
		&__title {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 700;
			font-size: $fz20;
			line-height: $lh26;
			color: #104CA6;	
			margin-bottom: 16px;		
		}
		&__text  {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 400;
			font-size: $fz14;
			line-height: $lh20;
			color: #031B4B;			
		}
		.block__textOne__link.academic__item__button {
			position: absolute;
			left: 24px;
			bottom: 24px;
		}
	}
}

@include max(lg) {
	.layoutThree__right {
		display: none;
	}
	.layoutThree__left {
		margin-right: 0;
	}



	.layoutThree__left.layoutThree__left__mob {
		display: flex;
		.advertisement-top {
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
		.ads {
			position: relative;
			display: flex;
			width: calc(100% + 32px);
			align-items: stretch;
			flex-flow: row wrap;
			margin-left: -32px;
			&__item{
				position: relative;
				flex: 0 0 33.333%;
				max-width: calc(33.3333% - 32px);
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				margin-left: 32px;
				margin-bottom: 32px;				
			}
		}
		.banners {
			position: relative;
			display: flex;
			width: calc(100% + 32px);
			align-items: stretch;
			flex-flow: row wrap;
			margin-left: -32px;
			.banner {
				position: relative;
				flex: 0 0 33.333%;
				max-width: calc(33.3333% - 32px);
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				margin-left: 32px;
				margin-bottom: 32px;
			}			
		}
	}
	.layoutThree {
		flex-flow: column nowrap;
	}

}