.section__main {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 60px;
	background: $lightBg;
	padding-bottom: 115px;
	@include max(md) {
		padding-top: 0;
	}
}
.main  {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 99px;
	@include max(lg) {
		.main__news {
			padding-top: 60px;
			margin-bottom: 36px;
	
		}
	}
	@include max(sm) {
		margin-bottom: 60px;
		.main__news {
			padding-top: 60px;
			margin-bottom: 24px;
	
		}
		.advertisement {
			margin-bottom: 48px;
		}
		.education {
			margin-bottom: 14px;
		}
		.button.button__blueLight {
			font-size: $fz24;
			line-height: $lh28;
		}
	}
	@include max(xs) {
		.button.button__blueLight {
			font-size: $fz20;
			line-height: $lh26;
			padding-left: 15px;
			padding-right: 15px;
		}	
	}
}


















.layoutThree__left.layoutThree__left__mob {
	display: none;
}






@include max(lg) {
	.layoutThree__right {
		display: none;
	}
	.layoutThree__left {
		margin-right: 0;
	}
	.section__main {
		padding-top: 36px;
	}
	.layoutThree {
		flex-flow: column nowrap;
	}

}
@include max(md) {
	.section__main {
		padding-top: 40 px;
	}
	.main__news {
		padding-top: 40px;
		&__top {
			margin-bottom: 60px;
		}
	}

}