.section__main {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 60px;
	background: $lightBg;
	padding-bottom: 115px;
}
.main  {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 99px;
}


















.layoutThree__left.layoutThree__left__mob {
	display: none;
}






@include max(lg) {
	.layoutThree__right {
		display: none;
	}
	.layoutThree__left {
		margin-right: 0;
	}
	.section__main {
		padding-top: 36px;
	}
	.layoutThree {
		flex-flow: column nowrap;
	}

}
@include max(md) {
	.section__main {
		padding-top: 40 px;
	}
	.main__news {
		padding-top: 40px;
		&__top {
			margin-bottom: 60px;
		}
	}

}