.disserCouncils {
	position: relative;
	width: 100%;
	background: $lightBg;
	min-height: 100vh;
	padding-bottom: 80px;
	@include max(lg) {
		padding-bottom: 60px;
	}
	.button__border--blue {
		font-size: 14px;
		@include max(xs) {
			max-width: 100%;
		}
	}
	.section__header__two {
		.column__right {
			.block__textOne__link {
				text-decoration: none;
				font-weight: 700;
				font-size: $fz14;
				margin-left: -12px;
				line-height: $lh20;
				&:hover {
					text-decoration: none;
					text-shadow: 0 0 0px #004ABA00, 0 0 0px #004ABA00;
				}
			}
		}
	}
}
.councils {
	position: relative;
	display: flex;
	width: calc(100% + 32px);
	align-items: stretch;
	flex-flow: row wrap;
	margin-left: -32px;
	padding-bottom: 0px;
	margin-top: 44px;
	margin-bottom: 40px;
	@include max(lg) {
		margin-top: 8px;
	}
	@include max(md) {
		width: calc(100% + 16px);
		align-items: stretch;
		flex-flow: row wrap;
		margin-left: -16px;
	}
	@include max(sm) {
		width: calc(100% + 0px);
		margin-left: 0;
	}
	&__item {
		position: relative;
		flex: 0 0 50%;
		max-width: calc( 50% - 32px);
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 44px;
		min-height: 460px;
		margin-left: 32px;
		margin-bottom: 32px;
		background: #D8E0EC;
		transition: all 0.3s;
		&__title {
			font-style: normal;
			font-weight: 800;
			font-size: $fz42;
			line-height: $lh52;
			color: #031B4B;
			margin-bottom: 24px;				
		}
		&__news {
			position: relative;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 24px;	
			p {
				font-style: normal;
				font-weight: 500;
				font-size: $fz16;
				line-height: $lh24;
				color: #031B4B;				
			}
		}
		&:hover {
			background: #C2CFE2;
			.councils__item__title {
				transition: all 0.3s;
				text-decoration-line: none;


			}
		}
		@include max(lg) {
			padding: 32px;
		}
		@include max(md) {
			flex: 0 0 50%;
			max-width: calc( 50% - 16px);
			margin-left: 16px;
			margin-bottom: 16px;
		}
		@include max(sm) {
			flex: 0 0 100%;
			max-width: calc( 100% - 0px);
			margin-left: 0px;
			margin-bottom: 16px;
			padding: 24px;
			min-height: auto;
			margin-bottom: 20px;
		}
	}	
}