.seminars  {
	min-height: 100vh;
	background: #F4F3F0;
	&__list {
		position: relative;
    display: flex;
    width: calc(100% + 32px);
    align-items: stretch;
    flex-flow: row wrap;
    margin-left: -32px;
		padding-bottom: 0px;
		margin-top: 16px;
		margin-bottom: 48px;		
	}
	&__item {
		position: relative;
		flex: 0 0 33.3333%;
		max-width: calc( 33.3333% - 32px);
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-left: 32px;
		margin-bottom: 32px;		
	}
}