.disserCouncils {
	position: relative;
	width: 100%;
	background: $lightBg;
	min-height: 100vh;
	padding-bottom: 68px;
	.section__header__two {
		.column__right {
			.block__textOne__link {
				text-decoration: none;
				font-weight: 700;
				font-size: $fz14;
				margin-left: -12px;
				line-height: $lh20;
				&:hover {
					text-decoration: none;
					text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;
				}
			}
		}
	}
}
.councils {
	position: relative;
	display: flex;
	width: calc(100% + 32px);
	align-items: stretch;
	flex-flow: row wrap;
	margin-left: -32px;
	padding-bottom: 0px;
	margin-top: 16px;
	margin-bottom: 48px;
	&__item {
		position: relative;
		flex: 0 0 50%;
		max-width: calc( 50% - 32px);
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 44px;
		min-height: 460px;
		margin-left: 32px;
		margin-bottom: 32px;
		background: #D8E0EC;
		transition: all 0.3s;
		&__title {
			font-style: normal;
			font-weight: 700;
			font-size: $fz42;
			line-height: $lh52;
			color: #031B4B;
			margin-bottom: 24px;				
		}
		&__news {
			position: relative;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 24px;	
			p {
				font-style: normal;
				font-weight: 500;
				font-size: $fz16;
				line-height: $lh24;
				color: #031B4B;				
			}
		}
		&:hover {
			background: #C2CFE2;
			.councils__item__title {
				transition: all 0.3s;
				text-decoration-line: underline;
				text-decoration-thickness: 1px;

			}
		}
	}	
}