.structureAdmin {
	background: #F4F3F0;
	.banners {
    position: relative;
    display: flex;
    width: calc(100% + 32px);
    align-items: stretch;
    flex-flow: row wrap;
    margin-left: -32px;
    padding-bottom: 146px;
		margin-top: 44px;
		@include max(lg) {
			width: calc(100% + 20px);
			margin-left: -20px;
			margin-top: 8px;
		}
		@include max(md) {
			width: calc(100% + 16px);
			margin-left: -16px;
			padding-bottom: 84px;
		}
		@include max(md) {
			width: calc(100% + 0px);
			margin-left: 0px;
		}
		.banner {
			position: relative;
			flex: 0 0 33.333%;
			max-width: calc(33.3333% - 32px);
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			align-items: flex-start;
			margin-left: 32px;
			margin-bottom: 32px;
			@include max(lg) {
				flex: 0 0 33.333%;
				max-width: calc(33.3333% - 20px);
				margin-left: 20px;
				margin-bottom: 20px;
			}
			@include max(md) {
				flex: 0 0 50%;
				max-width: calc(50% - 16px);
				margin-left: 16px;
				margin-bottom: 16px;
			}
			@include max(sm) {
				flex: 0 0 100%;
				max-width: calc(100% - 0px);
				margin-left: 0px;
				margin-bottom: 20px;
				min-height: 300px;
			}
			.banner__title {
				font-style: normal;
				font-weight: 800;
				font-size: 24px;
				line-height: 28px;
			}
			.banner__text {
				@include max(sm) {
					font-size: $fz14;
					line-height: $lh20;
				}				
			}
		}
	}
}
