.block__textOne
	a(href="").button__blue текст кнопки
	br
	br
	br
	p
		| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
	br
	a.block__textOne__link(href="") ccылка
	br
	br
	p Контакты
	a(href="mailto:ikmo-msu@yandex.ru") ikmo-msu@yandex.ru