.block__textTwo
	h2 Федеральные законы и приказы Минобрнауки РФ
	br
	a(href="") Федеральный закон "Об образовании в Российской Федерации" от 29.12.2012
	br
	br
	a(href="") Приказ Министерства  образования и науки Российской    Федерации от 13.06.2013 N 455 "Об утверждении Порядка и оснований предоставления академического отпуска обучающимся"
	br
	br
	a(href="") Свидетельство о государственной аккредитации
	br
	br
	a(href="") Лицензия на право ведения образовательной деятельности
	br
	br
	br
	h2 Документы МГУ имени М.В.Ломоносова
	br
	a(href="") Устав МГУ имени М.В. Ломоносова 
	br
	br
	a(href="") Положение о порядке направления студентов на включенное обучение  
	br
	br
	a(href="") Положение о курсовых экзаменах и зачетах в МГУ имени М.В.Ломоносова  
	br
	br
	a(href="") Положение о текущем контроле успеваемости студентов в МГУ имени М.В.Ломоносова 
	br
	br
	a(href="") Положение о порядке проведения государственной итоговой аттестации по программам бакалавриата, программам специалитета и программам магистратуры в Московском государственном университете имени М.В.Ломоносова 
	br
	br
	br
	h2 Приказы и распоряжения по географическому факультету
	br
	a(href="") Правила обучения на географическом факультете (2017 г.)
	br
	br
	a(href="") Положение о порядке распределения студентов географического факультета на магистерские программы подготовки (2018) 
	br
	br
	br
	p 
		b Критерии зачисления на кафедры студентов 2 курса:
	br
	ul 
		li Распределение по кафедрам происходит в после прохождения сатинской практики
		li Распределение происходит на основании рейтинга, т е по сумме баллов за две первые сессии 
		li Отсутствие задолженностей 
		li Отсутствие дисциплинарных взысканий
		li Необходимо личное присутствие студентов на собеседовании, проходящем на кафедрах в последних числах августа 
	br
	br
	a(href="") Положение о курсовых работах студентов географического ф-та МГУ имени М.В.Ломоносова  
	br
	br
	a(href="") Положение о порядке проведения экзаменов и зачетов на географическом факультете МГУ имени М.В.Ломоносова 
	br
	br