.education {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 28px;
	&.education__solo {
		margin-bottom: 80px;
		@include max(lg) {
			margin-bottom: 60px;
		}
		@include max(sm) {
			margin-bottom: 48px;
		}
		.education__item {
			margin-bottom: 0;
		}

	}
	&__item {
		position: relative;
		width: 100%;
		margin-bottom: 32px;
		transition: all .3s;
		min-height: 300px;
		display: flex;
		flex-direction: column;
		@include max(sm) {
			margin-bottom: 24px;
		}
		// @include max(xs) {
		// 	height: auto;
		// }
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		&:hover {
			transition: all .3s;
			text-shadow: 0 0 0.15px #104ca600, 0 0 0.15px #104ca600;
			.education__item__desc__title {
				transition: all .3s;
				text-decoration-line: underline;
				text-decoration-thickness: 1px;
				text-underline-offset: 2px;
				text-decoration-skip: none;
				text-decoration-skip-ink: none;	
			}
			.education__item__desc__text {
				&::before{
					transition: all .3s;
					content: url("../img/svg/education__button__hover.svg")
				}
			}
		}
		&__desc {
			position: relative;
			width: 100%;
			padding: 32px;
			height: 100%;
			min-height: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			align-items: flex-start;
			flex-grow: 1;
			@include max(sm) {
				padding: 24px;
			}
			&__title {
				position: relative;
				display: block;
				text-align: left;
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 800;
				font-size: $fz42;
				line-height: $lh52;
				color: #FFFFFF;
				margin-bottom: 32px;	
				@include max(sm) {
					font-size: $fz32;
					line-height: $lh40;
				}	
				@include max(xs) {
					font-size: $fz24;
					line-height: $lh28;
				}	
				
				
			}
			&__text {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				width: 100%;
				padding-right: 44px;
				@include max(xs) {
					padding-right: 0px;
					margin-right: 0;
				}	
				p {
					position: relative;
					display: block;
					font-family: 'Manrope';
					font-style: normal;
					font-weight: 600;
					font-size: $fz17;
					line-height: $lh24;
					color: #FFFFFF;	
					width: 100%;
					max-width: 636px;	
					margin-right: 24px;
					@include max(xs) {
						font-size: $fz14;
						line-height: $lh20;
					}			
				}
				&::before{
					position: absolute;
					right: 0px;
					bottom: 0;
					display: block;
					height: 44px;
					width: 44px;
					content: url("../img/svg/education__item__desc__button.svg"); 
					@include max(xs) {
						display: none;
					}	
				}
			}
		}
	}
}

.education__itemWhite {
	position: relative;
	width: 100%;
	margin-bottom: 32px;
	transition: all .3s;
	min-height: 400px;
	background: #fff;
	@include max(sm) {
		min-height: 344px;
	}	
	&__desc {
		position: absolute;
		top: 32px;
		left: 32px;
		width: calc(100% - 32px);
		height: calc(100% - 64px);
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: flex-start;
		@include max(sm) {
			top: 24px;
			left: 24px;
			width: calc(100% - 48px);
			height: calc(100% - 48px);
		}	
		&__title {
			position: relative;
			width: 100%;
			max-width: 456px;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 800;
			font-size: $fz42;
			line-height: $lh52;
			color: #104CA6;
			@include max(sm) {
				font-size: $fz32;
				line-height: $lh40;
			}	
			@include max(xs) {
				font-size: $fz24;
				line-height: $lh28;
			}		
		}
	}
	&:hover {
		text-shadow: 0 0 0.15px #104ca600, 0 0 0.15px #104ca600;
		.education__itemWhite__desc__title {
			text-decoration-line: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 2px;
			text-decoration-skip: none;
			text-decoration-skip-ink: none;	
		}
	}
}