.education
	a(href="").education__item
		img(src="img/mainPage/education__img__1.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title Кафедры

			.education__item__desc__text
				p 
					|15 специализированных кафедр, представляющих разнообразные общие или частные науки географического цикла.  Почти каждая кафедра — сложившаяся крупная научная школа 
	a(href="").education__item
		img(src="img/mainPage/education__img__2.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title Кафедры

			.education__item__desc__text
				p 
					|15 специализированных кафедр, представляющих разнообразные общие или частные науки географического цикла.  Почти каждая кафедра — сложившаяся крупная научная школа 
.education
	a(href="").education__itemWhite 
		.education__itemWhite__desc
			.education__itemWhite__desc__title Дополнительное образование			
	a(href="").education__itemWhite 
		.education__itemWhite__desc
			.education__itemWhite__desc__title 
				| Образовательные программы бакалавриата и магистратуры		
	a(href="").education__itemWhite 
		.education__itemWhite__desc
			.education__itemWhite__desc__title 
				| Еще один запасной баннер на главную	