.section__structureNews
	.container
		.structureNews
			a(href="#").structureNews__item 
				img(src="img/projectPage/sctructure__1.png", alt="")
				.title__32.structureNews__item__tilte Учебно-научные базы
				.structureNews__item__text
					|Для проведения полевых практик на факультете создана и поддерживается сеть учебно-научных баз  и станций, охватывающих все разнообразие ландшафтных условий – от Хибинских тундр до равнин Центральной России и кавказских высокогорий.
			a(href="#").structureNews__item 
				img(src="img/projectPage/sctructure__2.png", alt="")
				.title__32.structureNews__item__tilte Федеральное учебно-методическое объединение (ФУМО)
				.structureNews__item__text
					|Географический факультет – ключевая организация в системе ФУМО по укрупненной группе специальностей и направлений подготовки 05.00.00 «Науки о Земле»
