.section__header__two
	.container
		.header__two
			.column__left.header__two__left
				h1 Учебно-научные базы
			.column__right.header__two__right.block__textTwo
				p 
					| Для проведения полевых практик на факультете создана и поддерживается сеть учебно-научных баз (УНБ) и станций (УНС), охватывающих все разнообразие ландшафтных условий – от Хибинских тундр до равнин Центральной России и кавказских высокогорий. На базах имеются необходимые бытовые условия, помещения для аудиторной работы. На учебно-научные полигоны собрана богатая картографическая, геологическая, географическая, историко-культурная и иная информация, что представляет особую ценность для организации учебных практик. Кроме студенческих практик станции используются в качестве стационаров для научной работы. Учебно-научные базы и станции используются не только для учебных, но и для производственных и преддипломных практик, а также для проведения зимних студенческих экспедиций научного студенческого общества (НСО). В настоящее время факультет располагает пятью базами и одной станцией. 
				
