.container
	<div class="graduatePrograms__header">
		<div class="graduatePrograms__header--title">Программы дополнительного образования</div>
		<a class="block__textOne__link block__textOne__link--person-colors" href=""> подробнее <span>о программах</span></a>
	</div>