.block__textTwo
	p 
		| Программа охватывает междисциплинарную область, включающую элементы специальностей «Экология» и «Рациональное природопользование». Программа включает в себя основы биологических, географических, технических, социально-экологических, экономических и правовых дисциплин, связанных со взаимодействием человека и природы.
	br
	br
	br
	h2 Цель реализации программы
	br
	p Цель программы — подготовка кадров научно-образовательных, научно-исследовательских, управленческих и производственных организаций в сфере экологии, природопользования и охраны окружающей среды. Ориентирована на слушателей, имеющих высшее или среднее профессиональное образование и желающих получить новую специальность.
	br
	p В ходе освоения программы предполагается получение профессиональных навыков в организационной, управленческой и производственной деятельности в области естествознания (географии, биологии, экологии).
	br
	br
	p 
		b Вид программы
	p Программа профессиональной переподготовки
	br
	p 
		b Форма программы
	p Очно-заочная (вечерняя)/заочная (дистанционная)
	br
	p 
		b Трудоемкость программы
	p 520 часов
	br
	p 
		b Продолжительность
	p 9 месяцев
	br
	p 
		b Категория слушателей
	p Управляющий персонал экологических организаций, специалисты с высшим или средним профессиональным образованием, желающие получить новую специальность
	br
	p 
		b Выдаваемый документ
	p Диплом о профессиональной переподготовке
	br
	p 
		b Начало занятий
	p Сентябрь - октябрь
	br
	p 
		b График занятий
	p При очно-заочной форме 2-3 раза в неделю с 18:30 до 21:30
	br
	p 
		b Стоимость
	p Очно-заочная форма 120 000 руб
	p Заочная форма 110 000 руб.
	br
	br
	br
	h2 Перечень дисциплин
	p Введение в экологию
	p Основы экологии
	p Экология человека
	br
	p Основы физической географии
	p Экологическое значение и охрана географических оболочек Земли
	p Введение в ландшафтоведение
	br
	p Основы природопользования
	p Природопользование и устойчивое развитие
	p Природные ресурсы
	p Отраслевое природопользование
	p Экономика и управление природопользованием
	br
	p Методы оценки состояния окружающей среды
	p Оценка загрязнения окружающей среды и экологический мониторинг
	p Экологическое проектирование
	p Картографические и дистанционные методы, ГИС-технологии
	br
	p Инновационные природосберегающие технологии в экологии и природопользовании
	p Потенциал использования возобновляемых источников энергии и "зеленые технологии"
	p Экологические проблемы обращения с отходами
	br
	p Правовые основы охраны окружающей среды
	p Экологическая оценка и экспертиза
	p Экологический менеджмент и аудит
	p Экологическое право
	