.education
	a(href="").education__itemWhite 
		.education__itemWhite__desc
			.education__itemWhite__desc__title Дополнительное образование			
	a(href="").education__itemWhite 
		.education__itemWhite__desc
			.education__itemWhite__desc__title 
				| Образовательные программы бакалавриата и магистратуры		
	a(href="").education__itemWhite 
		.education__itemWhite__desc
			.education__itemWhite__desc__title 
				| Еще один запасной баннер на главную	