.section__structureNews.structure__educationPrograms
	.container
		.structureNews
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__1.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text Профессиональная переподготовка
					.structureNews__item--subtitle-label Экология
				.title__32.structureNews__item__tilte 
					!= "Экология <br>и рациональное природопользование"
				.button.button__white.structureNews--button  записаться
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__2.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text Профессиональная переподготовка
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--blue Гидрометеорология
				.title__32.structureNews__item__tilte 
					!= "Эстетика <br>и дизайн ландшафта"
				.button.button__white.structureNews--button  записаться
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__3.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text Профессиональная переподготовка
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--blue География
				.title__32.structureNews__item__tilte 
					!= "Водно-зеленая <br>инфраструктура города "
				.button.button__white.structureNews--button  записаться
			a(href="#").structureNews__item 
				img(src="img/projectPage/educationPrograms__4.png", alt="")
				.structureNews__item--subtitle 
					.structureNews__item--subtitle-text Повышение квалификации
					.structureNews__item--subtitle-label.structureNews__item--subtitle-label--violet Картография и геоинформатика
				.title__32.structureNews__item__tilte 
					!= "Экологические основы <br>ландшафтного <br>планирования"
				.button.button__white.structureNews--button  записаться
