.accordions.menu-sidebar
	.accordion
		.accordion__intro
			a(href="")  Новости
			.accordion__intro__img
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Учебная деятельность
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Научная деятельность
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Практики
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Научная деятельность
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Преподаватели и сотрудники
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Студенты и аспиранты
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Фотогалерея кафедры
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p НСО
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Стенгазета «Геоморфолог»
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			p Щукинские чтения
			.accordion__intro__img
				<svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 8L1 15" stroke="#031B4B"/>
				</svg>
		.accordion__content
			a(href="") Специальности и направления подготовки
			a(href="") Учебный план
			a(href="") Учебные материалы
			a(href="") Расписание
			a(href="") Курсовые, дипломные работы студентов
	.accordion
		.accordion__intro
			a(href="") Контакты 
			.accordion__intro__img
		.accordion__content
	.accordion
		.accordion__intro
			a(href="") Ссылки
			.accordion__intro__img
		.accordion__content