.block__textTwo
	p 
		| Современная биогеография – активно развивающаяся в мире наука, основной фундаментальной задачей которой является выявление пространственно-временных закономерностей организации живого покрова планеты, исследование географии биоразнообразия и разработка принципов и методов его охраны.
	br
	p 
		| Результаты научных исследований находят применение при решении широкого круга научно-практических задач, связанных с географией и использованием биологических ресурсов, мониторингом живого покрова планеты, развитием и оптимизацией сети заповедников и других охраняемых территорий, разработкой различных аспектов медицинской географии и экологии человека.
	br
	p
		| В течении десятилетий на кафедре формировалась научная эколого-биогеографическая школа Московского университета в неразрывной связи с развитием комплекса географических наук, особенно ландшафтоведения и тематического картографирования.
	br
	p
		| Работы школы в значительной степени сыграли решающую роль в признании биогеографии географической наукой. В то же время шел и обратный процесс – проникновение экологической парадигмы, краеугольного камня школы, в различные разделы географии. Аккумулировав достижения ботанической географии, зоогеографии и медицинской географии, школа стала одним из ведущих учебно-научных центров развития биогеографии. 
	br
	br
	h2 Преподаватели и сотрудники кафедры:
	br
	h3 С.М. Малхазова
	p заведующая кафедрой, профессор, д.г.н.
	br
	h3 И.О. Фамилия
	p должность
	br
	h3 И.О. Фамилия
	p должность
	br
	h3 И.О. Фамилия
	p должность
	br
	