.container
	.lectureCards
		.lectureCar
			.lectureCar--left
				.lectureCar--left-top
					.lectureCar--date 09.04.2022
					.lectureCar--time 16:00
					.lectureCar--boardcast прямая трансляция
				.lectureCar--img 
					img(src="img/projectPage/lectureCar__1.png", alt="")
				.lectureCar--caption Подпись к фото, если нужно может быть в несколько строк
			.lectureCar--right
				.lectureCar--title Через тернии к звёздам: внеземная картография
				.lectureCar--text
					p
						|Внеземное картографирование занимается созданием картографических произведений объектов, находящихся за пределами планеты Земля. Теоретически картографированию подлежат любые объекты и явления:  от галактик и туманностей до малых тел Солнечной системы.
					br
					p
						|Исходные данные с космических аппаратов, исследующих небесные тела в глубоком космосе, поступают на Землю в большом количестве и имеют разную тематику. С каждым днём информации становится всё больше,  и с получением новых знаний возникают новые задачи. На лекции вы узнаете, для чего нужны карты небесных тел, как отобразить на них различные данные, как осуществить картографирование астероида, сближающегося с Землёй, и что делать учёному, если стоит задача по картографированию сдвоенного ядра кометы Чурюмова-Герасименко.
					br
					p
						!="<b>Лектор</b> <br> <a>Нырцов Максим Валерьевич,</a> профессор кафедры картографии и геоинформатики географического факультета МГУ, профессор РАН, доктор технических наук. Научные интересы М. В. Нырцова фокусируются в областях математической и внеземной картографии, современных технологий создания карт. Основные труды посвящены разработке математической основы карт малых тел Солнечной системы. М. В. Нырцов является автором первого атласа астероида 433 Эрос на русском языке и соавтором Атласа спутника Марса — Фобоса."
					br
					p Лекция проводится при финансовой поддержке Русского географического общества.
				a.button__blue.lectureCar--button зарегистрироваться
		.lectureCar
			.lectureCar--left
				.lectureCar--left-top
					.lectureCar--date 25.03.2022
					.lectureCar--time 
					.lectureCar--boardcast оффлайн лекция
				.lectureCar--img 
					img(src="img/projectPage/lectureCar__2.png", alt="")
				.lectureCar--caption Подпись к фото, если нужно может быть в несколько строк
			.lectureCar--right
				.lectureCar--title Циркуляция атмосферы планет и экзопланет
				.lectureCar--text
					p
						|Изображения планет открывают нам удивительные миры. Дополняя эту информацию данными о массе, температуре и химическом составе мы, как правило, акцентируем внимание на отличиях от земных характеристик. Несмотря на различия, оказалось, что основные черты общей циркуляции атмосферы сходны на разных планетах: например, ячейка Хэдли, зональные течения, циклоны и антициклоны. Это было установлено благодаря развитию «земной» метеорологии и климатологии, отмеченному присуждением Нобелевской премии по физике в 2021 году. Вместе с тем, планеты обладают и уникальными чертами, к которым можно отнести муссоны на Земле, «суперротацию» на Венере и Титане, глобальные пыльные бури на Марсе и др.
					br
					p
						|Огромных успехов достигли астрономы, доказавшие в конце ХХ века наличие планет у других звезд (Нобелевская премия по физике 2019 г.). Интерес к экзопланетам связан, во многом, с вопросом о внеземной жизни. Важнейшую роль играют как открытия экзопланет, так и знания общей циркуляции атмосферы, которые позволяют создать портреты их климата и оценить пригодность для жизни земного типа. В настоящее время уже появилась информация о нескольких таких планетах.
					br
					p
						!="<b>Лектор</b> <br> <a>Александр Викторович Кислов </a>– заведующий кафедрой метеорологии и климатологии географического факультета МГУ, профессор, доктор географических наук, Заслуженный профессор Московского университета"
				a.button__border--blue.lectureCar--button смотреть запись лекции