.block__textOne
	a.block__textOne--span(href="")
		!="<span>Учебная практика I курса</span><br>(9 недель по учебному плану) проходит с начала июня на Сатинской базе"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Учебная практика II курса</span><br>(8 недельпо учебному плану) проводится каждой кафедрой по индивидуальной программе и имеет целью овладение методами конкретной географической дисциплины"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Производственные практики студентов 3 курса и магистрантов</span><br>3 курса (8 недель), магистров 1 г/о (4 недели в сентябре и 8 недель в июне - июле), магистров 2 г/о (4 недели) проходят в профильных организациях"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Программы практик</span><br>"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Учебно-научные базы</span><br>Сеть УНБ от Хибинских тундр до равнин Центральной России и кавказских высокогорий"
	br
	br
	br
