.block__textTwo
	p 
		| Географический факультет МГУ имени М.В.Ломоносова приглашает пройти обучение на дополнительных образовательных программах в 2019-2020 учебном году. Заявки и вопросы направляйте на нашу электронную почту - dopobr@geogr.msu.ru. Дополнительную информацию Вы можете найти на страницах программ.
	br
	p Важным шагом в развитии географического факультета в соответствии с Программой развития Московского государственного университета стала разработка системы дополнительного образования, включающая выработку новых форм подготовки и переподготовки высококвалифицированных кадров нового поколения, обладающих полным комплексом фундаментальных знаний и прикладных навыков. 
	br
	br
	h2 Дополнительные  образовательные программы
	br
	p Контингент слушателей
	p 
		b школьники, студенты, взрослые
	br
	p Сроки обучения
	p 
		b от 8 часов
	br
	p Документ об образовании
	p 
		b сертификат
	br
	br
	br
	h2 Повышение квалификации
	br
	p Контингент слушателей
	p 
		b специалисты с высшим и средним профессиональным образованием	
	br
	p Сроки обучения
	p 
		b от 16 часов до 250 часов 	
	br
	p Документ об образовании
	p 
		b удостоверение о повышении квалификации 	
	br
	br
	br
	h2 Профессиональная переподготовка
	br
	p Контингент слушателей
	p 
		b специалисты с высшим и средним профессиональным образованием
	br
	p Сроки обучения
	p 
		b от 250 часов 	
	br
	p Документ об образовании
	p 
		b диплом о профессиональной переподготовке	
	br
	br
	p Отличительные черты программ дополнительного образования географического факультета МГУ имени М.В. Ломоносова:
	br
	p Наличие фундаментальных и прикладных курсов, читаемых ведущими специалистами — доцентами и профессорами МГУ
	br
	p Привлечение практиков к чтению лекционных курсов и ведению занятий
	br
	p Возможность составления индивидуального графика обучения
	br
	p Организация учебно-производственной практики на профильных предприятиях и фирма
	br
	p Возможность получения международных сертификатов о прохождении специализированных курсов, например по IT-технологиям
	br
	p Программы дополнительного образования отражают основные научно-образовательные направления деятельности географического факультета в сфере устойчивого развития, экологии, рационального природопользования, культурной географии, туризма, информационных технологий.
	br
	p Географический факультет МГУ имени М. В. Ломоносова идет в ногу со временем, адаптируя, дополняя, расширяя предлагаемые слушателям программы. Профессиональные кадры – залог эффективной работы компании в любые времена. Именно сегодня квалификация сотрудника определяется не только его базовым образованием, а его разносторонними навыками и умениями, приобретенными в ходе основной трудовой деятельности и дополнительного обучения.
	br
	p Ждем Вас на программах дополнительного образования географического факультета МГУ!
	br