.menuDepartMob
	.button__ochre.menuDepartMob--button Меню кафедры
	.menuDepartMob--menu
		a(href="").menuDepartMob--lang EN 
		.menuDepartMob__overlay--close
			<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M4 24L14 14.1149L4 4" stroke="#031B4B"/>
			<path d="M24 4L14 13.8851L24 24" stroke="#031B4B"/>
			</svg>
		.menuDepartMob--title Кафедра геоморфологии и палеогеографии
		.menuDepartMob__overlay

			.menuDepartMob__overlay--list 
				p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="1" href="") Кафедры
				p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="2" href="") Научно-исследовательские лаборатории
				p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="3" href="") Административные подразделения
				p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="4" href="") Реализуемые проекты
				p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="5" href="") Учебно-научные базы
				p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="6" href="") ФУМО
			.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="1")
				a(class="menuDepartMob__overlay--item" href="") Биогеографии		
			.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="2")
				a(class="menuDepartMob__overlay--item" href="") 2
				a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
				a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
				a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
				a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
			.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="3")
				a(class="menuDepartMob__overlay--item" href="") 3
				a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
				a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
				a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
				a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
				a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
				a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
			.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="4")
				a(class="menuDepartMob__overlay--item" href="") 4
			.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="5")
				a(class="menuDepartMob__overlay--item" href="") 5
			.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="6")
				a(class="menuDepartMob__overlay--item" href="") 6