.menuDepartMob {
	position: relative;
	display: none;
	justify-content: center;
	width: 100%;

	@include max(md) {
		display: flex;
	}

	&--menu {
		&--wrap {
			z-index: 10;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			background: $white;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			max-width: 288px;
			height: 100vh;
			padding-top: 78px;
			padding-left: 35px;
			padding-right: 31px;
			padding-bottom: 60px;
			overflow: hidden;
		}

		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 288px;
		min-height: 0vh;
		display: block;
		visibility: hidden;
		opacity: 0;

		z-index: 200;

		transition: opacity 0s;

		&-bg {
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			right: 0;
			background: rgba(61, 76, 100, 0.5);
			z-index: 0;
		}

		&.menuDepartMob--menu--active {
			display: flex;
			opacity: 1;
			visibility: inherit;
			transition: opacity 1s;
			min-height: 100vh;
		}
	}

	&--title {
		position: relative;
		font-style: normal;
		font-weight: 700;
		font-size: $fz16;
		line-height: $lh24;
		color: $ocher;
	}

	&--lang {
		position: absolute;
		left: 33px;
		top: 22px;
		cursor: pointer;
	}

	&--footer {
		position: absolute;
		width: 90%;
		display: flex;
		bottom: 20px;
		left: 0;
		margin-left: 23px;
		margin-right: 23px;
		border-top: 1px solid rgba(7, 52, 120, 0.3);
		font-style: normal;
		font-weight: 500;
		font-size: $fz12;
		line-height: $lh16;
		color: $blueDarck;
		padding-top: 20px;
	}

	&--button {
		position: sticky;
		top: 20px;
		right: 20px;
		display: none;
		margin-bottom: 40px;
		width: 100%;
		max-width: 240px;
		margin-left: auto;
		margin-right: auto;

		@include max(md) {
			display: inline-block;
		}
	}
}

.menuDepartMob__overlay {
	position: relative;
	width: 1168px;
	background: transparent;
	margin-top: 20px;
	max-width: calc(100% - 0px);

	&--close {
		position: absolute;
		right: 35px;
		top: 24px;
	}

	&--list {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-right: 0px;
		width: 100%;
		height: calc(100vh - 200px);
		overflow-y: auto;

		p {
			&::before {
				content: url(../img/svg/menu-sideb-arrrow.svg);
				position: absolute;
				right: 5px;
				top: auto;
				width: 16px;
				height: 16px;
				display: block;
			}

		}
	}

	&--item {
		position: relative;
		display: inline-block;
		font-style: normal;
		font-weight: 700;
		font-size: $fz16;
		line-height: $lh24;
		width: 100%;
		cursor: pointer;
		color: $blueDarck;
		margin-bottom: 0px;
		padding: 10px;

	}
}

.menuDepartMob__overlay--list {
	.menuDepartMob-tab {
		&.notActive {
			color: rgba(7, 52, 120, 0.3);
		}

		&.active {
			text-shadow: 0 0 0.15px $blueDarck, 0 0 0.15px $blueDarck;
		}
	}
}

.menuDepartMob__overlay--list__start {
	position: absolute;
	top: 0;
	left: 0;

	&.notActive {
		position: absolute;
		top: 0;
		left: -288px;
		transition: all 0.5s;
		// opacity: 0;
		pointer-events: none;
	}

	&.active {
		transition: all 0.5s;
		position: absolute;
		// opacity: 1;
		top: 0;
		left: 0;
		pointer-events: auto;
	}

}

.menuDepartMob__overlay--list.menuDepartMob-pane {
	position: absolute;
	right: -288px;
	top: 0px;
	min-height: 0vh;
	display: flex;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	z-index: 200;
	width: 0;
	height: 0;
	transition: all 0.5s;
	background: $white;

	.menuDepartMob__overlay--item__back {
		border-top: 1px solid rgba(7, 52, 120, 0.3);
		border-bottom: 1px solid rgba(7, 52, 120, 0.3) !important;
		font-weight: 700 !important;
		font-size: $fz16 !important;
		line-height: $lh24 !important;
		padding-left: 40px;

		&::before {
			content: url(../img/svg/menu-sideb-arrrow.svg);
			position: absolute;
			left: 9px;
			top: 39%;
			width: 16px;
			height: 16px;
			display: block;
			transform: rotate(180deg);
		}
	}

	.menuDepartMob__overlay--item {
		font-style: normal;
		font-weight: 400;
		font-size: $fz14;
		line-height: $lh20;
		color: $blueDarck;
		border-bottom: 1px solid rgba(0, 85, 182, 0.1);
	}

	&.notActive {
		position: absolute;
		top: 0;
		left: -288px;
		transition: all 0.5s;
		// opacity: 0;
		pointer-events: none;
	}

	&.active {
		width: 100%;
		height: auto;
		right: 0px;
		opacity: 1;
		visibility: inherit;
		transition: all 0.5s;
		padding: 0;
		height: calc(100vh - 250px);
		overflow: auto;
	}
}

.tabsControls {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	padding-bottom: 24px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(0, 85, 182, 0.3);

	.tabControl {
		margin-right: 20px;
		margin-bottom: 16px;
	}
}