.menuDepartMob
	.button__ochre.menuDepartMob--button Меню кафедры
	//.depart-mobmenu-btn-scroll
		.depart-mobmenu-btn-scroll__burger 
			span

	
	.menuDepartMob--menu
		.menuDepartMob--menu-bg
		.menuDepartMob--menu--wrap
			a(href="").menuDepartMob--lang EN 
			.menuDepartMob__overlay--close
				<svg width="16" height="16" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4 24L14 14.1149L4 4" stroke="#031B4B"/>
				<path d="M24 4L14 13.8851L24 24" stroke="#031B4B"/>
				</svg>
			.menuDepartMob--title Кафедра геоморфологии и палеогеографии
			.menuDepartMob__overlay
				.menuDepartMob__overlay--list.menuDepartMob__overlay--list__start 
					a(class="menuDepartMob__overlay--item"  href="") Новости
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="2" ) О кафедре
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="3" ) Учебная деятельность
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="4" ) Научная деятельность
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="5" ) Практики
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="6" ) Преподаватели и сотрудники
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="7" ) Студенты и аспиранты
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="8" ) НСО
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="9" ) Стенгазета «Геоморфолог»
					p(class="menuDepartMob__overlay--item menuDepartMob-tab" data-tab="10" ) Щукинские чтения
					a(class="menuDepartMob__overlay--item"  href="") Контакты
					a(class="menuDepartMob__overlay--item" href="") Ссылки	
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="2")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) О кафедре
					a(class="menuDepartMob__overlay--item" href="") 2
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="3")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) Учебная деятельность
					a(class="menuDepartMob__overlay--item" href="") 3
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="4")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) Научная деятельность
					a(class="menuDepartMob__overlay--item" href="") 4
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="5")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) Практики
					a(class="menuDepartMob__overlay--item" href="") 5
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="6")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) Преподаватели и сотрудники
					a(class="menuDepartMob__overlay--item" href="") 6
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="7")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) Студенты и аспиранты
					a(class="menuDepartMob__overlay--item" href="") 7
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="8")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) НСО
					a(class="menuDepartMob__overlay--item" href="") 8
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="9")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) Стенгазета «Геоморфолог»
					a(class="menuDepartMob__overlay--item" href="") 9
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма
				.menuDepartMob__overlay--list.menuDepartMob-pane(data-tab-content="10")
					p(class="menuDepartMob__overlay--item menuDepartMob__overlay--item__back" ) Щукинские чтения
					a(class="menuDepartMob__overlay--item" href="") 10
					a(class="menuDepartMob__overlay--item" href="") Рационального природопользования
					a(class="menuDepartMob__overlay--item" href="") Социально-экономической географии зарубежных стран
					a(class="menuDepartMob__overlay--item" href="") Физической географии иландшафтоведения
					a(class="menuDepartMob__overlay--item" href="") Физической географии мира и геоэкологии
					a(class="menuDepartMob__overlay--item" href="") Экономической и социальной географии России
					a(class="menuDepartMob__overlay--item" href="") Рекреационной географии и туризма

			.menuDepartMob--footer © 2023 MSU. All Rights Reserved.