.block__textTwo
	p 
		| 8 июня отмечается Всемирный день океана. Памятный день учрежден Генеральной Ассамблеей ООН в 2009 году для напоминания о важной роли океана в жизни планеты и человечества в целом. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов.
	br
	br
	.block__text__color.block-text__mob
		.block__text__color__line
		| Выноски. 8 июня отмечается Всемирный день океана. Памятный день учрежден Генеральной Ассамблеей ООН в 2009 году для напоминания о важной роли океана в жизни планеты и человечества в целом. О профессии океанолога, о современных технологиях и перспективСолдатенко, пресс-служба МГУ.
		.block__text__color__line

	h2 
		|− Расскажите, пожалуйста, насколько сейчас актуальна и востребована профессия океанолога? 
	br
	p 
		|− XXI век, конечно, будет веком океанов, потому что очень много проблем человечества завязано именно на рациональном использовании ресурсов Мирового океана. Он имеет большое значение для получения пищевых ресурсов, туризма, влияет на климат, обеспечивает относительно дешевые транспортные пути и многое другое. Океан для нас очень важен, и наши знания о нем, пока еще неадекватны той роли, которую он играет. 
	br
	p
		| Наша страна большей частью сухопутная, и лишь последние 10-20 лет мы обращаем особое внимание на свои моря, особенно арктические. Это связано и с тем, что меняется климат, возрастает роль Северного морского пути, освобождаются ото льда достаточно большие акватории, которые могут использоваться и для рыболовства, и для других нужд, в том числе обеспечения безопасности страны. К сожалению, наш исследовательский флот устарел, поскольку на рубеже веков особо ничего не создавали, но теперь судостроение для научных исследований начинает возрождаться.
	br
	br
	.block__textTwo__blockPicture.block-text__mob
		img(src="img/projectPage/block__textOne__img__1.png", alt="")
		blockquote
			| Фото с заходом в текстовое поле. Фиксировано по ширине, по высоте может быть любым. И тут же подпись к фотографии. Может быть достаточно длинной несколько строк/небольшой абзац
	h2 − Какие технологии используются в океанологии?
	br
	p 
		| − Современная океанология использует множество передовых технологий получения и анализа нформации об океане. Активно применяются спутниковые измерения, охватывающие всю акваторию морей и даже труднодоступные районы, вдали от берегов. Есть и автономные беспилотные аппараты, буйковые станции, которые заякорены в открытом океане. На благо науки «служат» даже морские животные: морским львам, кашалотам и прочим водным обитателям вживляют датчики, они ныряют, приборы пишут профили температуры, а потом при всплытии датчики передают информацию на спутники. Океанология — технологичная наука, которая требует усвоения и обработки очень большого количества информации, численного   моделирования на высокопроизводительных компьютерах. 
	br
	br
	h2 − Кто может изучать океан?
	br
	p 
		| − Океанология — очень многообразная наука, сочетающая самые разные фундаментальные направления, свой предмет найдут и математики, и физики, и химики, и биологи, и гуманитарии. Сейчас, например, появляется все больше прикладных задач. Я считаю, что океанология может дать любому из студентов и абитуриентов хороший старт для карьеры — и научной, и производственной. 
	br
	.block__textTwo__blockPicture.block-text__mob
		img(src="img/projectPage/block__textOne__img__2.png", alt="")
		img(src="img/projectPage/block__textOne__img__3.png", alt="")
		blockquote
			| Фото с заходом в текстовое поле. Фиксировано по ширине, по высоте может быть любым. И тут же подпись к фотографии. Может быть достаточно длинной несколько строк/небольшой абзац
	br
	h2 − Какие работы ведут сейчас океанологи факультета? 
	br
	p 
		| − Из новых исследований я бы отметил очень большой цикл работ, который посвящен природным опасностям, связанным с океаном, и их воздействию на хозяйственные объекты. Мы часто слышим о ветровых нагонах, наводнениях, о гигантских волнах-убийцах, которые разрушают причалы и морские платформы. Чтобы предпринимать какие-то действия, важно понимать механизмы этих катаклизмов. В рамках этой тематики мы создаем модели, которые на основе реальных данных и могут предсказывать возникновение таких опасных явлений. Также удается выяснить, как дальнейшее изменение климата повлияет на подобные явления: очень многие связанные с океаном сооружения, будь то нефтяная вышка или причал, рассчитаны на определенную максимальную волновую нагрузку, возможную за период их использования. Своевременный прогноз с учетом результатов моделирования поможет сэкономить ресурсы и предотвратить возможные аварии.
	br
	p 
		| Другое направление связано с береговыми процессами, находящимися на стыке океанологии и науки о рельефе суши — геоморфологии. Например, мы знаем, что берега многих наших арктических морей сложены мерзлыми породами. Поскольку площадь ледового покрова уменьшается, появляется больше открытого пространства, высота волны увеличивается. В результате потепления берега подтаивают и разрушаются за счет воздействия волн, причем скорость процесса очень велика: ежегодно суша отступает на несколько метров. Мы знаем проблемы морских пляжей, в частности, Калининградской области, их часто разрушают шторма. Наши работы позволяют уменьшить убыль песка на них и предложить методы снижения волновой нагрузки, которые часто тоже приводит к отступанию берегов. 
	br
	p 
		| Еще в МГУ решаются проблемы, связанные с биологическими ресурсами. Так, мы всегда знали, что в России самые продуктивные с точки зрения рыбного промысла Охотское и Баренцево моря. А сейчас в связи с тем, что происходит потепление климата, открываются новые акватории, которое могут быть свободны ото льда достаточно большое количество времени.
	br
	p 
		| Факультет ведет и экономико-географические работы: поиск наиболее эффективных путей транспортировки грузов, мест для сооружений новых портов, откуда можно было бы вывозить первичную руду или продукты переработки. Еще один тип работ связан с загрязнением морей. Мы ищем источники загрязнения и пытаемся определить, кто виноват, в этом помогает методы спутникового мониторинга. 
	br
	p 
		| − Есть ли промышленные проекты?
	br 
	p 
		| − Да, мы выполняем разнообразные заказы как компаний, так и научных организаций. Самый крупный морской проект — с ООО «Газпром недра». Это большой трехлетний договор, согласно которому мы с коллегами с других факультетов осуществляем экологический мониторинг акваторий Баренцева, Карского и Охотского морей, где есть лицензионные участки Газпрома и где компания собирается добывать углеводороды. Здесь нужно ежегодно проводить наблюдения температуры, солености, химических веществ, фонового загрязнения, морских организмов и птиц. Наши ученые, студенты и аспиранты активно включены в работу.
	br
	.block__textTwo__blockPicture.block-text__mob
		img(src="img/projectPage/block__textOne__img__4.png", alt="")
		blockquote
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel vero eos, eveniet sed laboriosam tempore optio! Expedita voluptates libero commodi quasi minima veniam sint assumenda beatae minus asperiores nobis atque doloribus unde consequatur ab quis iste, officiis laboriosam perspiciatis illo at. Dicta non accusantium sunt iure. Quas, molestias. Quisquam minima cum voluptas culpa est ipsum exercitationem sit voluptatibus iure consequatur, explicabo saepe reiciendis consectetur earum vero eaque quibusdam eligendi perferendis totam possimus, quam ducimus! Tempora assumenda, architecto tempore dolore nesciunt iure consequuntur deserunt aut sapiente sint consectetur veniam dolores atque quibusdam nulla, omnis modi facilis eveniet ratione dolor laborum in!
	p 
		|Еще в МГУ решаются проблемы, связанные с биологическими ресурсами. Так, мы всегда знали, что в России самые продуктивные с точки зрения рыбного промысла Охотское и Баренцево моря. А сейчас в связи с тем, что происходит потепление климата, открываются новые акватории, которое могут быть свободны ото льда достаточно большое количество времени.
	br
	p 
		|Факультет ведет и экономико-географические работы: поиск наиболее эффективных путей транспортировки грузов, мест для сооружений новых портов, откуда можно было бы вывозить первичную руду или продукты переработки. Еще один тип работ 