.block__textTwo {
	position: relative;
	width: 100%;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: $fz17;
	line-height: $lh24;
	color: #031B4B;
	margin-bottom: 32px;
	p {
		position: relative;
		width: 100%;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: $fz17;
		line-height: $lh24;
		color: #031B4B;
	}
	img {
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: 40px;
	}
	h2 {
		position: relative;
		width: 100%;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz20;
		line-height: $lh26;
		color: #031B4B;

	}
	h3 {
		position: relative;
		width: 100%;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz17;
		line-height: $lh24;
		color: #031B4B;	
	}
	p,h2,h3,h4,h5 {
		a {
			margin-bottom: 0;
		}
	}
	a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: $fz17;
		line-height: $lh24;
		color: #104CA6;
		transition: all .5s;
		&:hover {
			text-decoration: underline;
			transition: all .5s;
			text-shadow: 0 0 0.15px #104CA6, 0 0 0.15px #104CA6;
		}
	}
	ul {
		position: relative;
		display: block;
		width: 100%;
		padding-left: 25px;
		padding-top: 0;
		margin-top: 0;
		li {
			position: relative;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 400;
			font-size: $fz17;
			line-height: $lh24;
			color: #031B4B;
			list-style-type: none;
			&::before {
				content: '';
				display: block;
				height: 4px;
				width: 4px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				background-color: #031B4B;
				left: -15px;
				top: 10px;
				position: absolute;
			}
		}
	}
	ol {
		width: 100%;
		position: relative;
		display: block;
		padding-left: 25px;
		padding-top: 0;
		margin-top: 0;
		li {
			width: 100%;
			position: relative;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 400;
			font-size: $fz17;
			line-height: $lh24;
			color: #031B4B;
		}
	}
	.textTwo__table {
		position: relative;
		width: 100%;
		overflow: auto;
	}
	table {
		position: relative;
		width: 100%;
		margin-bottom: 40px;
		border-collapse: collapse;
		tbody {
			position: relative;
			width: 100%;
		}
		tr {
			position: relative;
			vertical-align: text-top;
			border-top: 1px solid rgba(0, 85, 182, 0.3);
			border-bottom: 1px solid rgba(0, 85, 182, 0.3);
			th {
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 500;
				font-size: $fz14;
				line-height: $lh20;
				padding-top: 48px;
				padding-left: 8px;
				padding-right: 8px;
				padding-bottom: 8px;
				color: rgba(0, 85, 182, 0.5);
				text-align: left;
				white-space: nowrap;
				
			}
			th + th + th {
				text-align: right;
			}
			td  {
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 400;
				font-size: $fz14;
				line-height: $lh20;
				color: #031B4B;
				text-align: left;
				padding: 20px 8px;
				b{
					text-align: left;
					font-family: 'Manrope';
					font-style: normal;
					font-weight: 700;
					font-size: $fz17;
					line-height: $lh24;
					color: #031B4B;
				}
				
			}
			td + td + td {
				text-align: right;
			}
		}
	}
}
@include max(md) {
	.block__textTwo .textTwo__table {	
		position: relative;
		width: calc(100vw - 320px);
		overflow: auto;
		table {
			width: 700px;
		}
	}	
}
@include max(sm) {
	.block__textTwo .textTwo__table {	
		position: relative;
		width: calc(100vw - 40px);
		overflow: auto;
		table {
			width: 700px;
		}
	}
	.block__textTwo {
		font-weight: 400;
		font-size: 14px;
		line-height: $lh20;
		p {
				font-weight: 400;
				font-size: $fz14;
				line-height: $lh20;
		}
		img {
			margin-bottom: 24px;
		}
		p,h2,h3,h4,h5 {
			a {
				margin-bottom: 0;
			}
		}
		a {
			font-size: $fz14;
		}
		ul {
			li {
				font-weight: 400;
				font-size: $fz14;
				line-height: $lh20;
			}
		}
		ol {
			li {
				font-weight: 400;
				font-size: $fz14;
				line-height: $lh20;
			}
		}
	}
}
@include max(xs) {
	.block__textTwo {
		font-weight: 400;
		font-size: $fz14;
		line-height: $lh20;

		table {
			margin-bottom: 32px;
		}
	}
}