.block__textTwo
	p 
		| Диссертационный совет МГУ.11.01 принимает к защите диссертационные работы по специальности:
	br
	h2 25.00.24
	p экономическая, социальная и политическая география
	br
	br
	h3 Действующие члены совета:
	br
	p 
		!= "<a>Битюкова Виктория Расуловна</a>, д.г.н., доц. - председатель" 
	br
	p 
		!= "<a>Александрова Анна Юрьевна</a>, д.г.н., проф. - зам. председателя" 
	br
	p 
		!= "<a>Агирречу Александр Антонович</a>, к.г.н. - ученый секретарь" 
	br
	p 
		!= "<a>Алексеев Александр Иванович</a>, д.г.н., проф." 
	br
	p 
		!= "<a>Бабурин Вячеслав Леонидович</a>, д.г.н., проф." 
	br
	p 
		!= "<a>Горохов Станислав Анатольевич</a>, д.г.н., доц." 
	br
	p 
		!= "<a>Зубаревич Наталья Васильевна</a>, д.г.н., доцент" 
	br
	p 
		!= "<a>Калуцков Владимир Николаевич</a>, д.г.н." 
	br
	p 
		!= "<a>Колосов Владимир Александрович</a>, д.г.н., профессор" 
	br
	p 
		!= "<a>Кружалин Виктор Иванович</a>, д.г.н., проф." 
	br
	p 
		!= "<a>Кузнецова Ольга Владимировна</a>, д.г.н., проф." 
	br
	p 
		!= "<a>Нефедова Татьяна Григорьевна</a>, д.г.н., доц." 
	br
	p 
		!= "<a>Пилясов Александр Николаевич</a>, д.г.н., проф." 
	br
	p 
		!= "<a>Савоскул Мария Сергеевна</a>, д.г.н., доц." 
	br
	p 
		!= "<a>Слука Николай Александрович</a>, д.г.н., доц." 
	br
	p 
		!= "<a>Тархов Сергей Анатольевич</a>, д.г.н." 
	br
	p 
		!= "<a>Трейвиш Андрей Ильич</a>, д.г.н." 
	br

