.block__textOne
	a(href="") Чалов Сергей Романович 
	p заместитель декана по
	p международным связям, доцент, к.г.н.
	br
	a(href="") Трошко Мария Михайловна
	p начальник отдела
	br
	p Главное здание МГУ
	p 18 этаж, ком. 1806-а
	p Телефон совета: 
	p +7 (495) 939-15-52 
	br
	p E-mail: 
	a(href="mailto:geogr.msu@mail.ru") geogr.msu@mail.ru
	br
	br
	br
	br
	a(href="").button__border--blue Московский офис PEEX