.block__textOne {
	position: relative;
	width: 100%;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: $fz14;
	line-height: $lh20;
	font-feature-settings: 'ss01' on;
	color: #031B4B;
	h2 {
		position: relative;
		display: inline-block;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz32;
		line-height: $lh40;
		color: #031B4B;
	}
	p {
		position: relative;
		width: 100%;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: $fz14;
		line-height: $lh20;
		font-feature-settings: 'ss01' on;
		color: #031B4B;
		
	}
}
@include max(md) {
	.column__left.block__textOne {
		margin-right: 24px;
	}
}
@include max(xs) {
	.block__textOne {
		h2 {
			font-style: normal;
			font-weight: 700;
			font-size: $fz24;
			line-height: $lh28;
		}
	}
}