.tabsControls
	.tabControl.tabControl--students.button__border--blueDarck.active(data-tab="1") студенты 2 курс
	.tabControl.tabControl--students.button__border--blueDarck(data-tab="2") студенты 3 курс
	.tabControl.tabControl--students.button__border--blueDarck(data-tab="3") студенты 4 курс
	.tabControl.tabControl--students.button__border--blueDarck(data-tab="4") 1 курс магистратуры 
	.tabControl.tabControl--students.button__border--blueDarck(data-tab="5") 2 курс магистратуры 
	.tabControl.tabControl--students.button__border--blueDarck(data-tab="6") аспиранты 1 г.о. 
	.tabControl.tabControl--students.button__border--blueDarck(data-tab="7") аспиранты 2 г.о. 
	.tabControl.tabControl--students.button__border--blueDarck(data-tab="8") аспиранты 3 г.о. 