.section__structureNews
	.container
		.structureNews
			a(href="#").structureNews__item 
				img(src="img/projectPage/labs__1.png", alt="")
				.title__32.structureNews__item__tilte 
					!= "Лаборатория<br>возобновляемых источников энергии"
				.button.button__white.structureNews--button  записаться
			a(href="#").structureNews__item 
				img(src="img/projectPage/labs__2.png", alt="")
				.title__32.structureNews__item__tilte 
					!= "Лаборатория<br> геоэкологии Севера"
				.button.button__white.structureNews--button  записаться
			a(href="#").structureNews__item 
				img(src="img/projectPage/labs__3.png", alt="")
				.title__32.structureNews__item__tilte 
					!= "Лаборатория<br>комплексного картографирования"
				.button.button__white.structureNews--button  записаться	
			a(href="#").structureNews__item 
				img(src="img/projectPage/labs__4.png", alt="")
				.title__32.structureNews__item__tilte 
					!= "Лаборатория<br>новейших отложений и палеогеографии плейстоцена"
				.button.button__white.structureNews--button  записаться		
			a(href="#").structureNews__item 
				img(src="img/projectPage/labs__5.png", alt="")
				.title__32.structureNews__item__tilte 
					!= "Лаборатория <br> регионального анализа и политической географии"
				.button.button__white.structureNews--button  записаться
			a(href="#").structureNews__item 
				img(src="img/projectPage/labs__6.png", alt="")
				.title__32.structureNews__item__tilte 
					!= "Лаборатория<br> снежных лавин и селей"
				.button.button__white.structureNews--button  записаться	
			a(href="#").structureNews__item 
				img(src="img/projectPage/labs__7.png", alt="")
				.title__32.structureNews__item__tilte 
					!= "Лаборатория<br> эрозии почв и русловых процессов им. <br>Н.И.Маккавеева"
				.button.button__white.structureNews--button  записаться
			a(href="#").structureNews__item 
				img(src="img/projectPage/labs__8.png", alt="")
				.title__32.structureNews__item__tilte 
					!= "Лаборатория<br> Мировой системы данных по географии"
				.button.button__white.structureNews--button  записаться	
				//- .structureNews__item__text
				//- 	|Географический факультет – ключевая организация в системе ФУМО по укрупненной группе специальностей и направлений подготовки 05.00.00 «Науки о Земле»
