.periodSelect
	.periodSelect__date
		.periodSelect__date__title Выбрать период
		.periodSelect__date__value 
			select.periodSelect__date__value__month(name="") 
				<option>Январь</option>  
				<option>Февраль</option>  
				<option>Март</option>  
				<option>Апрель</option>  
				<option>Май</option>  
				<option>Июнь</option>  
				<option>Июль</option>  
				<option>Сентябрь</option>  
				<option>Октябрь</option> 
				<option>Ноябрь</option> 
				<option>Декабрь</option> 
			select.periodSelect__date__value__years(name="") 
				<option>2022</option>
				<option>2021</option>
				<option>2020</option>
				<option>2019</option>
				<option>2018</option>
	a.button.periodSelect__button  искать