.periodSelect
	.periodSelect__date
		.periodSelect__date__title Выбрать период
		.periodSelect__date__value
			<select class="js-example-responsive periodSelect__date__value__month">
				<option  value="" disabled> - </option>  
				<option  value="jan" selected>Январь</option>  
				<option value="feb" >Февраль</option>  
				<option value="mar" >Март</option>  
				<option value="apr" >Апрель</option>  
				<option value="may" >Май</option>  
				<option value="june" >Июнь</option>  
				<option value="july" >Июль</option>  
				<option value="aug" >Август</option>  
				<option value="sep" >Сентябрь</option>  
				<option value="oct" >Октябрь</option> 
				<option value="nov" >Ноябрь</option> 
				<option value="dec" >Декабрь</option> 
			</select>
			<select class="js-example-responsive periodSelect__date__value__years">
				<option value=""  disabled> - </option>
				<option value="" >2021</option>
				<option value="" >2020</option>
				<option value="" >2019</option>
				<option value="" >2018</option>
			</select>
	a.button.periodSelect__button  искать