.newsMain 
	.newsMain__top 
		.newsMain__top--title Новости кафедры
		a.block__textOne__link.block__textOne__link--person-colors(href="") 
			!="все <span>новости</span>"
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__5.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 01 сентября 2022
			a.newsMain__item__desc__title
				| Заголовок новости, в одну или две строки, длиннее не стоит делать
			.newsMain__item__desc__text
				| Один главный абзац, рассказывающий о чем новость. Кафедра активно участвует в учебном процессе на географическом и биологическом факультетах МГУ, а также на факультете почвоведения. Помимо проведения аудиторных занятий, сотрудники 
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__6.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 01 сентября 2022
			a.newsMain__item__desc__title
				| Заголовок новости, в одну или две строки, длиннее не стоит делать
			.newsMain__item__desc__text
				| Один главный абзац, рассказывающий о чем новость. Кафедра активно участвует в учебном процессе на географическом и биологическом факультетах МГУ, а также на факультете почвоведения. Помимо проведения аудиторных занятий, сотрудники 
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__7.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 01 сентября 2022
			a.newsMain__item__desc__title
				| Заголовок новости, в одну или две строки, длиннее не стоит делать
			.newsMain__item__desc__text
				| Один главный абзац, рассказывающий о чем новость. Кафедра активно участвует в учебном процессе на географическом и биологическом факультетах МГУ, а также на факультете почвоведения. Помимо проведения аудиторных занятий, сотрудники 
