.newsMain 
	.newsMain__top 
		.newsMain__top--title Новости кафедры
		a.block__textOne__link.block__textOne__link--person-colors(href="") 
			!="все <span>новости</span>"
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__1.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 01 сентября 2022
			a.newsMain__item__desc__title
				| С.А. Добролюбов: ХXI Век будет веком океанов
			.newsMain__item__desc__text
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__2.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 16 мая 2022
			a.newsMain__item__desc__title
				| На стыке двух наук: кто такие геоморфологи и чем они занимаются
			.newsMain__item__desc__text
				| Один главный абзац, рассказывающий о чем новость. Кафедра активно участвует в учебном процессе на географическом и биологическом факультетах МГУ, а также на факультете почвоведения. Помимо проведения аудиторных занятий, сотрудники 
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__3.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 18 мая 2022
			a.newsMain__item__desc__title
				| XV Всероссийская палинологическая конференция 
			.newsMain__item__desc__text
				| Один главный абзац, рассказывающий о чем новость. Кафедра активно участвует в учебном процессе на географическом и биологическом факультетах МГУ, а также на факультете почвоведения. Помимо проведения аудиторных занятий, сотрудники 
	.newsMain__item
		a.newsMain__item__img(href="#") 
			img(src="img/newsMain/newsMain__item__img__4.png", alt="icon")
		.newsMain__item__desc 
			.newsMain__item__desc__date 26 апреля 2022
			a.newsMain__item__desc__title
				| Заголовок новости, в одну или две строки, длиннее не стоит делать
			.newsMain__item__desc__text
				| Один главный абзац, рассказывающий о чем новость. Кафедра активно участвует в учебном процессе на географическом и биологическом факультетах МГУ, а также на факультете почвоведения. Помимо проведения аудиторных занятий, сотрудники 
