.main__slider {
	position: relative;
	width: 100%;
	display: flex;
	overflow: hidden;
	.main__slide {
		position: relative;
		min-height: 428px;
		width: 100%;	
		@include max(sm) {
			min-height: 468px;
		}
		&__picture {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include max(sm) {
				&--desc{
					display: none;
				}
				&--mob {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
				}
			}
			&--mob {
				display: none;
			}
		}
		&__desc {
			position: absolute;
			top: 54px;
			left: 56px;
			display: flex;
			width: 100%;
			max-width: 513px;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			@include max(sm) {
				top: 24px;
				left: 24px;
				padding-right: 84px;
			}
			&__title{
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 800;
				font-size: $fz32;
				line-height: $lh40;
				color: #FFFFFF;	
				margin-bottom: 24px;
				@include max(xxs) {
					font-size: $fz24;
					line-height: $lh28;
				}		
			}
			&__text {
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 600;
				font-size: $fz16;
				line-height: $lh24;
				color: #FFFFFF;
				margin-bottom: 24px;				
			}
		} 
       
	}
	.swiper-pagination.main__swiper-pagination {
		bottom: 32px;
		left: 56px;
		text-align: left;
		@include max(sm) {
			left: 24px;
		}
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background: #fff;
			opacity: 1;
		}
		.swiper-pagination-bullet.swiper-pagination-bullet-active {
			background: #AF8F46;
		}
	} 
}
