.swiper-container.main__slider.js-main__slider
	.swiper-wrapper
		.swiper-slide.main__slide
			.main__slide__picture
				picture 
					source(media="(max-width: 700px)", srcset="img/mainPage/slider__main__mob.png")
					img(src="img/mainPage/slider__main.png", alt="")
			.main__slide__desc 
				.main__slide__desc__title
					|Географический факультет МГУ имени М.В.Ломоносова
				.main__slide__desc__text
					| Крупнейший в мире научно-образовательный коллектив географов
				.button.button__white текст кнопки
		.swiper-slide.main__slide
			.main__slide__picture
				picture 
					source(media="(max-width: 700px)", srcset="img/mainPage/slider__main__mob.png")
					img(src="img/mainPage/slider__main.png", alt="")
			.main__slide__desc 
				.main__slide__desc__title
					|Географический факультет МГУ имени М.В.Ломоносова
				.main__slide__desc__text
					| Крупнейший в мире научно-образовательный коллектив географов
				.button.button__white текст кнопки
		.swiper-slide.main__slide
			.main__slide__picture
				picture 
					source(media="(max-width: 700px)", srcset="img/mainPage/slider__main__mob.png")
					img(src="img/mainPage/slider__main.png", alt="")
			.main__slide__desc 
				.main__slide__desc__title
					|Географический факультет МГУ имени М.В.Ломоносова
				.main__slide__desc__text
					| Крупнейший в мире научно-образовательный коллектив географов
				.button.button__white текст кнопки

	.swiper-pagination.main__swiper-pagination
	.swiper-button-prev.main__swiper-button-prev
	.swiper-button-next.main__swiper-button-next