.seminars
	.seminars__top
		.seminars__top__title Cеминары
		a(href="").block__textOne__link все семинары 
	.seminars__sliders.swiper-container.js-seminars 
		.swiper-wrapper
			.swiper-slide
				a(href="").seminars__item 
					.seminars__item__title Семинар «Культурный ландшафт»
					.seminars__item__text Можно пару-тройку строк текста для живости и разнообразия
					img(src="img/projectPage/seminars__item__1.png", alt="")
			.swiper-slide
				a(href="").seminars__item 
					.seminars__item__title Cеминар МДШ
					.seminars__item__text Можно пару-тройку строк текста для живости и разнообразия 
					img(src="img/projectPage/seminars__item__2.png", alt="")
			.swiper-slide
				a(href="").seminars__item 
					.seminars__item__title Научный семинар НИЛ новейших отложений и палиогеографии плейстоцена
					.seminars__item__text 
					img(src="img/projectPage/seminars__item__3.png", alt="")
			
			.swiper-slide
				a(href="").seminars__item 
					.seminars__item__title Научный семинар НИЛ новейших отложений и палиогеографии плейстоцена
					.seminars__item__text 
					img(src="img/projectPage/seminars__item__2.png", alt="")
		.seminars__sliders__navigation
			.swiper-button-prev
			.swiper-button-next