.block__textOne
	p
		| Заведующая кафедрой
	p
		| Профессор, д.г.н.
	p
		| С.М. Малхазова
	br
	br
	p
		| 000000, г. Москва 
	p
		| Ленинские горы, 1
	p
		| 00-й этаж, аудитория 0000
	br
	p Телефон:
	p +7 (495) 000 00 00
	br
	p Email:
	a(href="mailto:ikmo-msu@yandex.ru") bioxxxx@gmail.com
	br
	br
	br
	a.block__textOne__link(href="") смотреть видео