.education.education__couple
	a(href="").education__item
		picture 
			source(media="(max-width: 576px)", srcset="img/projectPage/educationAdditional__couple__1--480.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/educationAdditional__couple__1--992.png")
			img(src="img/projectPage/educationAdditional__couple__1.png", alt="")
		.education__item__desc
			.education__item__desc__title Университетская среда для учителей

			.education__item__desc__text
				p 
					|текст..  
	a(href="").education__item
		picture 
			source(media="(max-width: 576px)", srcset="img/projectPage/educationAdditional__couple__2--480.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/educationAdditional__couple__2--992.png")
			img(src="img/projectPage/educationAdditional__couple__2.png", alt="")
		.education__item__desc
			.education__item__desc__title Летние школы для учителей географии

			.education__item__desc__text
				p 
					|коротки й текст  
	a(href="").education__item
		picture 
			source(media="(max-width: 576px)", srcset="img/projectPage/educationAdditional__couple__3--480.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/educationAdditional__couple__3--992.png")
			img(src="img/projectPage/educationAdditional__couple__3.png", alt="")
		.education__item__desc
			.education__item__desc__title Программы повышения квалификации для учителей

			.education__item__desc__text
				p 
					|коротки й текст   
	a(href="").education__item
		picture 
			source(media="(max-width: 576px)", srcset="img/projectPage/educationAdditional__couple__4--480.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/educationAdditional__couple__4--992.png")
			img(src="img/projectPage/educationAdditional__couple__4.png", alt="")
		.education__item__desc
			.education__item__desc__title Программы для профильных классов общеобразовательных школ

			.education__item__desc__text
				p 
					|коротки й текст  
