.seminars__sliders
	.seminars
		//- .seminars__top
		//- 	.seminars__top__title Cеминары
		//- 	a(href="").block__textOne__link 
		//- 		!="все <span>семинары</span>" 
		.seminars__swiper.studentsTimetable__swiper.swiper-container.js-students-timetable-ochre
			.swiper-wrapper
				.swiper-slide
					a(href="").seminars__item 
						.seminars__item__title Театральная студия
						.seminars__item__text Мы всегда рады новым лицам! Приходите в театральную студию географического факультета!
						img(src="img/projectPage/studentsTimetable__banner__slider__4.png", alt="")
				.swiper-slide
					a(href="").seminars__item 
						.seminars__item__title Хор
						.seminars__item__text Мы всегда рады новым лицам! Приходите в театральную студию географического факультета! 
						img(src="img/projectPage/studentsTimetable__banner__slider__5.png", alt="")
				.swiper-slide
					a(href="").seminars__item 
						.seminars__item__title Что-то еще
						.seminars__item__text 
						img(src="img/projectPage/studentsTimetable__banner__slider__6.png", alt="")
				
				.swiper-slide
					a(href="").seminars__item 
						.seminars__item__title Что-то еще
						.seminars__item__text Мы всегда рады новым лицам! Приходите в театральную студию географического факультета!
						img(src="img/projectPage/seminars__item__2.png", alt="")
			.seminars__swiper__navigation
				.swiper-button-prev
				.swiper-button-next