.banners 
	.banner.banner__blueLight
		h2.banner__title 
			|	Учебно-методический отдел  
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Отдел аспирантуры и докторантуры    
		.banner__text
			| какой-то короткий текст может быть тут	
	.banner.banner__blueLight
		h2.banner__title 
			|	Отдел организации научно-исследовательской работы 
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Отдел формационных технологий
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Отдел международных связей  
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Полиграфический отдел 
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Редакционно-издательский отдел 
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Канцелярия 
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Отдел кадров   
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Бухгалтерия   
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Планово-финансовый отдел   
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Отдел материально-технического снабжения    
		.banner__text
			| какой-то короткий текст может быть тут
	.banner.banner__blueLight
		h2.banner__title 
			|	Инженерно-хозяйственный отдел   
		.banner__text
			| какой-то короткий текст может быть тут