.block__textOne
	a.block__textOne--span(href="")
		!="<span>Олимпиада «Ломоносов»</span><br>проводится с 2005 года под девизом «via scientiarum» – «путь к знаниям»"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Московская олимпиада  школьников по географии</span><br>проводится ежегодно"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Олимпиада школьников «Покори Воробьевы горы»</span><br>поиск и поддержка талантливой молодежи из самых удаленных уголков нашей необъятной страны"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Всероссийская олимпиада школьников по географии</span><br>самое массовое школьное географическое мероприятие в России"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Международные соревнования школьников по географии</span><br>включает «Международный чемпионат» и «Международную олимпиаду по географии»"
	br
	br
	br
