.academic 
	.container
		.academic__title Научные издания факультета
		.swiper-container.academic__list 
			.swiper-wrapper
				.swiper-slide
					a(href="").academic__item 
						.academic__item__title «Вестник МГУ»  
						.academic__item__text 
							|Вестник Московского университета. Серия 5. География 
						.block__textOne__link.academic__item__button 
							p читать издание
				.swiper-slide
					a(href="").academic__item 
						.academic__item__title «Geography, Environment, Sustainability Sustainability Sustainability Sustainability» 
						.academic__item__text 
							|Вестник Московского университета. Серия 5. География 
						.block__textOne__link.academic__item__button 
							p читать издание
				.swiper-slide
					a(href="").academic__item 
						.academic__item__title «Региональные исследования» 
						.academic__item__text 
							|Вестник Московского университета. Серия 5. География 
						.block__textOne__link.academic__item__button 
							p читать издание
				.swiper-slide
					a(href="").academic__item 
						.academic__item__title РЖ «ИнтерКарто. ИнтерГИС»  
						.academic__item__text 
							|Вестник Московского университета. Серия 5. География Вестник Московского университета. Серия 5. География Вестник Московского университета. Серия 5. География Вестник Московского университета. Серия 5. География Вестник Московского университета. Серия 5. География 
						.block__textOne__link.academic__item__button 
							p читать издание
									
				