.academic {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 40px;
	background: $lightBg;
	border-top: 1px solid rgba(0, 85, 182, 0.5);
	padding-bottom: 32px;
	overflow: hidden;
	@include max(lg) {
		padding-bottom: 80px;
	}
	@include max(xs) {
		padding-bottom: 60px;
	}
	&__slider-nav {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		background: rgb(255, 255, 255);
		border-radius: 40px;
		width: 68px;
		min-height: 40px;
		display: none;
		@include max(lg) {
			display: block;
		}
		.swiper-button-prev {
			left: 4px;
			top: 16px;
			&::after {
				color: #104CA6;
				content: url(../../../img/svg/seminars__prev.svg);
			}

		}
		.swiper-button-next {
			right: 4px;
			top: 13px;
			&::after {
				color: #104CA6;
				content: url(../../../img/svg/seminars__next.svg);

			}
		}

	}
	&__title {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz24;
		line-height: $lh28;
		color: #104CA6;
		margin-bottom: 40px;
		@include max(sm) {
			font-size: $fz20;
			line-height: $lh26;
		}		
	}
	&__list {
		position: relative;
		display: flex;
		width: 100%;
		align-items: stretch;
		flex-flow: row wrap;
		overflow: hidden;
		.swiper-slide {
			height: 100%;
		}
		padding-bottom: 72px;
		@include max(sm) {
			padding-bottom: 64px;			
		}
	}
	.swiper-slide {
		max-width: 268px;
		min-width: 268px;
		@include max(lg) {
			max-width: 274px;
			min-width: 274px;
		}
		@include max(md) {
			max-width: 280px;
			min-width: 280px;
		}
	}
	&__item {
		position: relative;
		display: flex;
		width: 100%;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		background: #fff;
		padding: 24px;
		padding-bottom: 72px;
		min-height: 240px;
		height: 100%;
		&:hover {
			text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;
		}
		&__title {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 700;
			font-size: $fz20;
			line-height: $lh26;
			color: #104CA6;	
			margin-bottom: 16px;		
		}

		&__text  {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 400;
			font-size: $fz14;
			line-height: $lh20;
			color: #031B4B;
			margin-bottom: 24px;			
		}
		.block__textOne__link.academic__item__button {
			position: absolute;
			left: 24px;
			bottom: 24px;
			&:hover {
				text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;
				.block__textOne__link.academic__item__button {
					transition: all .3s;
					background: #F4F3F0;
					width: 147px;
					text-decoration: none;
					padding-left: 12px;
					padding-right: 24px;
					text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;
					p {
						transition: all 3s;
						display: block;
						opacity: 1;
						visibility: inherit;
						
					}
					
				}
			}
		}

	}
}