.banners.banners-trio 
	.banner.banner__ochre
		.banner__title
			|	Диссертационные советы 
		.banner__text 
			| 4 диссертационных совета какой-то короткий текст
	.banner.banner__ochre
		.banner__title
			|	Международное сотрудничество 
		.banner__text 
			| Образовательные и научно-исследовательские проекты совместно с коллегами из различных стран мира
	
	.banner.banner__ochre
		.banner__title
			|	Конференции географического факультета  
		.banner__text 
			| Какой-то небольшой текст/абзац тоже может быть
	