.block__textOne
	a.block__textOne--span(href="")
		!="<span>Образовательные программы бакалавриата</span><br>"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Образовательные программы магистратуры</span><br>"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Магистерские программы</span><br>в рамках Школы «Будущее планеты и глобальные изменения окружающей среды»"
	br
	br
	br
