.block__textOne
	a.block__textOne--span(href="")
		!="<b>Образовательные программы бакалавриата</b><br>"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<b>Образовательные программы магистратуры</b><br>"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<b>Магистерские программы</b><br>в рамках Школы «Будущее планеты и глобальные изменения окружающей среды»"
	br
	br
	br
