.main__news 
	.main__news__top
		h1.main__news__title Новости
		a(href="").block__textOne__link все новости
	.main__news__list 
		a(href="").main__news__item 
			img(src="img/mainPage/slider__main.png", alt="").main__news__item__img
			.main__news__item__date 01 сентября 2022
			.main__news__item__title 
				| С.А. Добролюбов: ХXI Век будет веком океанов
			.main__news__item__text 
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
		a(href="").main__news__item 
			img(src="img/mainPage/slider__main.png", alt="").main__news__item__img
			.main__news__item__date 01 сентября 2022
			.main__news__item__title 
				| С.А. Добролюбов: ХXI Век будет веком океанов С.А. Добролюбов: ХXI Век будет веком океанов
			.main__news__item__text 
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
		a(href="").main__news__item 
			img(src="img/mainPage/slider__main.png", alt="").main__news__item__img
			.main__news__item__date 01 сентября 2022
			.main__news__item__title 
				| С.А. Добролюбов: ХXI Век будет веком океанов
			.main__news__item__text 
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов... 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...
		a(href="").main__news__item 
			img(src="img/mainPage/slider__main.png", alt="").main__news__item__img
			.main__news__item__date 01 сентября 2022
			.main__news__item__title 
				| С.А. Добролюбов: ХXI Век будет веком океанов
			.main__news__item__text 
				| 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов... 8 июня отмечается Всемирный день океана. О профессии океанолога, о современных технологиях и перспективных направлениях развития науки рассказывает заведующий кафедрой океанологии, декан географического факультета, академик С.А. Добролюбов...