.section__header__two {
	padding-top: 60px;
	background: #F4F3F0;
}
	
.header__two {
	display: flex;
	position: relative;
	align-items: flex-start;
}
.header__two__left{
	display: flex;
	position: relative;
	align-items: flex-start;
	border-bottom: none;
	h2 {
		position: relative;
		display: inline-block;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 800;
		width: 100%;
		max-width: 240px;
		font-size: 32px;
		line-height: 40px;
		color: #031B4B;
	}

}
.column__right.header__two__right {
	display: flex;
	position: relative;
	align-items: flex-start;
	border-bottom: 1px solid rgba(0, 85, 182, 0.3);
	padding-bottom: 40px;
	p {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 24px;
		color: #031B4B;
		margin-bottom: 0;

	}
}


@include max(lg) {
	.header__two {
		flex-flow: column;
	}
	.column__left.header__two__left{
		flex: 1 0 auto;
		margin-bottom: 32px;
		width: 100%;
		margin-right: 0;
		h2 {
			width: 100%;
		}
	}
	.section__header__two {
		padding-top: 40px;
	}
}
@include max(sm) { 
	.column__left.header__two__left{
		flex: 1 0 auto;
		margin-bottom: 0px;
	}

}
