.section__breadcrumbs
	.container
		//актуальная версия хлебных крошек, пригодная для микроразметки
		.breadcrumbs
			li.breadcrumbs__item.breadcrumbs__home
				a.breadcrumbs__item-a(href="")
					.breadcrumbs__item__icon
					span(style="display:none;") Главная
			li.breadcrumbs__item
				a.breadcrumbs__item-a(href="")
					span Реализуемые проекты
			li.breadcrumbs__item.breadcrumbs__item__active
				.breadcrumbs__item-a
					span Инструментальный аэрозольный комплекс