.breadcrumbs {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	padding-top: 6px;
	padding-bottom: 18px;
	padding-left: 26px;
	
	&__item {
		position: relative;
		width: auto;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: $fz13;
		margin-top: 10px;
		line-height: $lh16;
		margin-right: 8px;
		height: 16px;
		color: rgba(0, 85, 182, 0.5);
		transition: all .3s;
		&:hover {
			transition: all .3s;
			color: #104CA6;
			text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;
			&:last-child {
				text-shadow: 0 0 0.15px #104ca600, 0 0 0.15px #104ca600;
			}
		}
		&__icon {
			position: absolute;
			top: 1px;
			left: 0;
			display: inline;
			width: 12px;
		}
		&:first-child {
			width: 12px;
			margin-right: 8px;
			&::after {
				content: none
			}
		}
		&::after {
			position: relative;
			margin-left: 8px;
			content: url(../img/projectPage/breadcrumbs__item__icon.svg);
		}
		&:last-child {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 700;
			font-size: $fz13;
			line-height: $lh16;
			color: #104CA6;
			&::after {
				content: none
			}
		}
	}

}
@include max(xmd) {
	.breadcrumbs {
		padding-left: 17px;
	}
}
@include max(md) {
	.breadcrumbs {
		padding-left: 0px;
	}
	.section__breadcrumbs {
		display: none;
	}
}
