.academic 
	.container
		//- .academic__title Научные издания факультета
		.swiper-container.js-academic__list.academic__list
			.swiper-wrapper
				.swiper-slide
					a(href="").academic__item 
						.academic__item__title CМИ о нас  
						.academic__item__text 
							|Выступления сотрудников факультета в СМИ 
						.block__textOne__link.academic__item__button 
							p подробнее
				.swiper-slide
					a(href="").academic__item 
						.academic__item__title Газета «GeograpH» 
						.academic__item__text 
							|Информационно-популярное издание географического факультета МГУ имени М.В. Ломоносова 
						.block__textOne__link.academic__item__button 
							p подробнее
				.swiper-slide
					a(href="").academic__item 
						.academic__item__title Фильм к 75-летию факультета 
						.academic__item__text 
							|Можно пару слов написатьпро фильм и тд 
						.block__textOne__link.academic__item__button 
							p подробнее
				.swiper-slide
					a(href="").academic__item 
						.academic__item__title Фильм к 75-летию факультета 
						.academic__item__text 
							|Можно пару слов написатьпро фильм и тд 
						.block__textOne__link.academic__item__button 
							p подробнее
			.academic__slider-nav
				.swiper-button-prev
				.swiper-button-next
									
				