.banners 
	.banner.banner__ochre
		.banner__title
			|	Деканат 
		.banner__text 
			| Какой-то короткий текст про деканат, какие задачи решает и тд
	.banner.banner__ochre
		.banner__title
			|	Ученый совет  
		.banner__text 
			| Ученый совет решает важнейшие вопросы развития факультета. Решает важнейшие вопросы развития факультета, его учебной и научной деятельности, международных связей, финансово-хозяйственной.
	
	.banner.banner__ochre
		.banner__title
			|	Преподаватели и сотрудники  
		.banner__text 
			| На факульете работает более 650 сотрудников, в том числе 100 профессоров и докторов наук, 200 кандидатов наук.
	