.block__textTwo
	p 
		| Для обучения на программах необходимо предоставить следующие документы: анкета, заявление, договор в 3-х экземплярах (юридическим лицам в 4-х), копию диплома о высшем или среднем профессиональном образовании (для программ переподготовки и повышения квалификации). В случае очных и очно-заочных программ потребуется фотография на пропуск (3х4 или близкого формата, матовая), а также необходимо будет заполнить ряд документов, связанных с антиковидными мероприятиями.
	br
	p Рекомендуем вначале прислать заявку (анкета+заявление) на электронную почту dopobr@geogr.msu.ru, далее куратор программы с вами свяжется и объяснит процедуру оформления документов. Необходимые документы можно:
	br
	ul
		li 
			| Привезти лично, предварительно договорившись с куратором.
		br
		li 
			| Отправить подписанные документы в конверте по почте: 119991 Москва, Ленинские горы д.1, МГУ, географический факультет, Тульской Н.И.
		br
		li 
			| В исключительных случаях по согласованию принимаем от сканированные документы.
	br
