.block__textOne
	a(href="").button__blue текст кнопки
	br
	br
	br
	p Форма обучения:
	p 
		b очная
	br
	p Продолжительность обучения: 
	p 
		b 2года
	br
	br
	p В этой колонке важные выноски, ссылки на сторонние ресурсы, файлы для скачивания  и любая значимая информация
	br
	a Ссылка на документ  с динным названием может быть вставлена непосредтвенно  в текст с присвоением статуса /ссылка/Но лучше длинных названий избегать.
	br
	br
	a.block__textOne__link(href="") ссылка
	br
	br
	a.block__textOne__link.block__textOne__link--opacity(href="") скачать документ
	br
	br
	p Контакты: 
	a(href="mailto:info@yandex.ru") info@yandex.ru
	