.banners.banners-trio 
	a.banner.banner__ochre
		.banner__title
			|	Филиал МГУ имени М.В.Ломоносова в городе Севастополе
		.banner__text 
			| Какое-то короткое описание, две-три строчки, не более
	a.banner.banner__ochre
		.banner__title
			|	Филиал МГУ–ППИ Китай 
		.banner__text 
			| Какое-то короткое описание, две-три строчки, не более
	
	a.banner.banner__ochre
		.banner__title
			|	Казахстанский филиал г. Нур-Султан  
		.banner__text 
			| Какое-то короткое описание, две-три строчки, не более
	