.section__header__two
	.container
		.header__two
			.column__left.header__two__left
				h1 Диссертационные советы
			.column__right.header__two__right.block__textTwo
				p 
					| В соответствии со статьей 4 Федерального закона  “О науке и государственной научно-технической политике”  МГУ имени М.В.Ломоносова перешел на самостоятельное присуждение ученых степеней. В 2017 г. на базе диссертационных советов, функционировавших в системе ВАК РФ,  были открыты диссертационные советы МГУ. 