.block__textOne
	a(href="").button__blue выбрать программу
	br
	br
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
	br
	img(src="img/projectPage/teacher__1.png", alt="")
	br
	a(href="http://") Тульская Надежда Игоревна
	br
	p
		| к.г.н., доцент кафедры картографии и геоинформатики географического факультета МГУ им. М. В. Ломоносова 
	br
	p Заявки и вопросы направляйте на нашу электронную почту:
	a(href="mailto:dopobr@geogr.msu.ru") dopobr@geogr.msu.ru
	br
	br
	p 
		b Нормативно-правовая база дополнительного образования:
	br
	a(href="#") Федеральный Закон от 29 декабря 2012 года № 273-ФЗ «Об образовании в Российской Федерации».
	br
	br
	a(href="#") Приказ Минобрнауки России от 1 июля 2013 г. №499 «Об утверждении Порядка организации и осуществления образовательной деятельности по дополнительным профессиональным программам»
	br
	br
	a(href="#")
		b Список документов, необходимых для поступления на программы дополнительного образования