.about__banner
	img(src="img/projectPage/educationHigher__banner.png", alt="")
	h1 Подготовительные курсы   
	.about__banner__text 
		.button.button__white Очно-заочные (вечерние)
		br
		.button.button__white Онлайн Подготовительные курсы  
		br
		.button.button__white Дистанционные курсы на платформе MOODLE
		br
		.button.button__white Подготовка к ЕГ по географии 