.education.education__science
	a(href="").education__item
		img(src="img/projectPage/science__banner__2.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title Приоритетные научные направления

			.education__item__desc__text
				p 
					|текст..  
	a(href="").education__item
		img(src="img/projectPage/science__banner__3.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title Реализуемые проекты

			.education__item__desc__text
				p 
					|На факультете реализуется множество интересных и полезных проектов. Особое внимание бла бла бла На факультете реализуется множество интересных и полезных проектов. Особое внимание...  
