.section__editor__tree {
	background: #F4F3F0;
}
.section__editor__tree .container {
	flex-flow: column nowrap;
	padding-top: 60px;
}
.editor__tree {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: stretch;
	width: 100%;
	padding-bottom: 80px;
	&__item {
		position: relative;
		display: flex;
		flex: 1 0 calc(50% - 32px);	
		margin-bottom: 32px;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: flex-start;
		background: #fff;
		padding-bottom: 320px;
		text-decoration: none;
		&:nth-child(2n+1) {
			margin-right: 15px;
		}
		&:nth-child(2n) {
			margin-left: 15px;
		}
		h2 {
			position: relative;
			width: 100%;
			padding-top: 32px;
			padding-left: 32px;
			padding-right: 32px;
			margin-bottom: 100px;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 800;
			font-size: 32px;
			line-height: 40px;
			color: #104CA6;
		}
		p{
			position: relative;
			display: inline-block;
			width: 100%;
			padding-top: 32px;
			padding-left: 32px;
			padding-right: 32px;
			margin-bottom: 32px;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			color: #104CA6;
		}
		img {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 320px;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
}

@media (max-width: 992px) {
	.editor__tree {
		&__item {
			flex: 1 0 calc(50% - 24px);	
			margin-bottom: 24px;
			&:nth-child(2n+1) {
				margin-right: 12px;
			}
			&:nth-child(2n) {
				margin-left: 12px;
			}
		}
	}
}
@media (max-width: 860px) {
	.editor__tree {
		&__item {
			flex: 1 1 calc(50% - 16px);	
			margin-bottom: 16px;
			&:nth-child(2n+1) {
				margin-right: 8px;
			}
			&:nth-child(2n) {
				margin-left: 8px;
			}
		}
	}
	.editor__tree__item {
		h2 {
			font-size: 24px;
			line-height: 28px;
			padding-right: 20px;
		}
		p{
			padding-right: 20px;
			font-size: 14px;
			line-height: 20px;
		}
	}
}
@media (max-width: 680px) {
	.editor__tree {
		&__item {
			flex: 1 1 100%;	
			margin-bottom: 16px;
			&:nth-child(2n+1) {
				margin-right: 0px;
			}
			&:nth-child(2n) {
				margin-left: 0px;
			}
		}
	}
	.editor__tree__item {
		h2 {
			font-size: 24px;
			line-height: 28px;
			padding-right: 20px;
		}
		p{
			padding-right: 20px;
			font-size: 14px;
			line-height: 20px;
		}
	}
}
@media (max-width: 360px) {
	.editor__tree__item h2 {
		margin-bottom: 32px;
	}
	.section__editor__tree .container {
		padding-top: 40px;
	}
}
