.section__block__textThree {
	background: #F4F3F0;
}
.section__block__textThree .container {
	flex-flow: column nowrap;
	padding-top: 60px;
}
.block__textThree {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: flex-start;
	width: 100%;
	padding-bottom: 80px;
	&__item {
		position: relative;
		display: flex;
		flex: 1 0 calc(50% - 32px);	
		margin-bottom: 32px;
		height: 592px;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: flex-start;
		background: #fff;
		text-decoration: none;
		transition: all .5s;
		overflow: hidden;
		&__img {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 320px;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
				height: 100%;
				overflow: hidden;
				object-fit: cover;
				object-position: 50% 50%;
				transform: scale(1);
				transition: all .5s;
			}
		}

		&:hover {
			text-shadow: 0 0 0.15px #104ca600, 0 0 0.15px #104ca600;

			h2 {
				transition: all .5s;
				text-decoration: underline;
			}
			img {
				transition: all .5s;
				transform: scale(1.1);
			}
		}
		&:nth-child(2n+1) {
			margin-right: 15px;
		}
		&:nth-child(2n) {
			margin-left: 15px;
		}
		h2 {
			position: relative;
			width: 100%;
			padding-top: 32px;
			padding-left: 32px;
			padding-right: 32px;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 800;
			font-size: 32px;
			line-height: 40px;
			color: #104CA6;
			transition: all .5s;
		}
		p{
			position: relative;
			display: inline-block;
			width: 100%;
			padding-left: 32px;
			padding-right: 32px;
			margin-bottom: 352px;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			color: #104CA6;
		}

	}
}
@include max(lg) {
	.section__block__textThree .container {
		padding-top: 40px;
	}
	.header__two__left h2 {
		max-width: 100%;
	}
}

@include max(md) {
	.block__textThree {
		&__item {
			flex: 1 1 calc(50% - 16px);	
			margin-bottom: 16px;
			&:nth-child(2n+1) {
				margin-right: 8px;
			}
			&:nth-child(2n) {
				margin-left: 8px;
			}
		}
	}
	.block__textThree__item {
		h2 {
			font-size: 24px;
			line-height: 28px;
			padding-right: 20px;
		}
		p{
			padding-right: 20px;
			font-size: 14px;
			line-height: 20px;
		}
	}
}
@include max(sm) {
	.block__textThree {
		&__item {
			flex: 1 1 100%;	
			margin-bottom: 20px;
			&:nth-child(2n+1) {
				margin-right: 0px;
			}
			&:nth-child(2n) {
				margin-left: 0px;
			}
		}
	}
	.block__textThree__item {
		h2 {
			font-size: 24px;
			line-height: 28px;
			padding-right: 20px;
		}
		p{
			padding-right: 20px;
			font-size: 14px;
			line-height: 20px;
		}
	}
}
