.block__textOne
	p 
		| Об инструментальном аэрозольном комплексе рассказывают президент географического факультета, академик Н.С. Касимов и в.н.с. НИИЯФ МГУ, в.н.с. географического ф-та МГУ, к.ф.-м.н. О.Б. Поповичева 
	br
	a.block__textOne__link cмотреть видео
	br
	br
	p контакты
	a(href="mailto:ikmo-msu@yandex.ru") ikmo-msu@yandex.ru