.block__textOne
	a.block__textOne--span(href="")
		!="<span>Поступающим в аспирантуру</span><br>прием в аспирантуру осуществляется по 9-ти научным специальностям укрупненной группы научных специальностей «Науки о Земле»"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Образовательные программы аспирантуры</span><br>"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Обучающимся в аспирантуре</span><br>"
	br
	br
	br
	a.block__textOne--link.block__textOne__link--bold(href="") Агирречу Александр Антонович
	p 
		!="Заведующий отделом аспирантуры <br> и докторантуры географического <br>факультета МГУ , ст.н.с., к.г.н."
	br
	p 
		!="Главное здание МГУ, <br>Географический факультет, <br>17 этаж., комнаты 17–14б"
	br
	p Телефон:
	a(href="tel:++7(495)9395459") +7 (495) 939 5459
	br
	br
	p E-mail: 
	a(href="mailto:aspirantura.geogrmsu@yandex.ru") aspirantura.geogrmsu@yandex.ru
	br
	br
	br
	p Телефон отдела аспирантуры МГУ 
	p (9 этаж): 
	a(href="tel:+7(495)9391910") +7 (495) 939 1910
