.block__textOne
	a(href="").button__blue текст кнопки
	br
	br
	br
	p 
		b Голубева Елена Ильинична
	p
		| Научный руководитель программы,  д.б.н., профессор кафедры рационального природопользования географического факультета МГУ 
	br
	br
	p Контакты: 
	a(href="tel:+7(495)9392153") +7 (495) 939 2153 
	br
	a(href="mailto:egolubeva@gmail.com") egolubeva@gmail.com
	br
	br
	br
	p 
		b Глухова Елена Владимировна
	p
		| Куратор программы, к.г.н., с.н.с кафедры рационального природопользования МГУ им. М.В. Ломоносова 
	br
	br
	p Дополнительная информация: 
	a(href="tel:+7(495)9392153") +7 (495) 939 21 53 
	br
	a(href="tel:+7(926)5490396") +7 (926) 549 03 96 
	br
	a(href="mailto:evglukhova@gmail.com") evglukhova@gmail.com
	a(href="mailto:dopobr@geogr.msu.ru") dopobr@geogr.msu.ru
	br
	br
	br
	p 
		| Для обучения на программе необходимо скачать и заполнить заявление и анкету и прислать их на электронную почту 
	a(href="mailto:dopobr@geogr.msu.ru") dopobr@geogr.msu.ru
	br
	br
	br
	a.block__textOne__link(href="") заявление и анкета
	br
	br
	a.block__textOne__link(href="") учебный план программы	
	br
	br
	p Контакты
	a(href="mailto:info@yandex.ru") info@yandex.ru