.footer {
	position: relative;
	width: 100%;
	background: #031B4B;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start; 
	padding-top: 52px;
	padding-bottom: 52px;
	min-height: 276px;
	color: #fff;
}