.footer 
	<div class="footer__button--up"><img src="img/svg/button--up-1.svg" alt=""></div>
	.container 
		.footer__lists 
			a.button.button__footer.button__footer--mob
				!= "написать письмо"
				.button__footer--icon
					img(src="img/svg/Footershape.svg", alt="") 
			.footer__lists--row
				ul.footer__lists--column
					li.footer__lists--item.footer__lists--item--logo 
							img(src="img/svg/logo.svg", alt="logo")
							p Географический факультет МГУ 
					li.footer__lists--item.footer__lists--item--adress  119991, Российская Федерация, Москва, ГСП-1, Ленинские горы, МГУ имени М.В.Ломоносова, Географический факультет
					li.footer__lists--item.footer__lists--item--mail
						a(href="mailto:info@geogr.msu.ru") info@geogr.msu.ru
					li.footer__lists--item.footer__lists--item--tel
						a(href="tel:+7(495)9392238") +7 (495) 939 2238
				ul.footer__lists--column
					li.footer__lists--item.footer__lists--item--link
						a(href="#") О факультете 
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Кафедры 
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Лаборатории  
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Дополнительное образование 
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Преподаватели и сотрудники 
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Студентам 
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Абитуриентам 
				ul.footer__lists--column
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Новости  
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Объявления 
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Электроннная библиотека
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Контакты  
				ul.footer__lists--column
					li.footer__lists--item.footer__lists--item--send 
						a.button.button__footer.button__footer--desc 
							!= "написать письмо"
							.button__footer--icon
								img(src="img/svg/Footershape.svg", alt="")
					li.footer__lists--item.footer__lists--item--soc 
						a(href="#").header__other__soc__icon
							img(src="img/svg/tg.svg", alt="icon")
						a(href="#").header__other__soc__icon
							img(src="img/svg/vk.svg", alt="icon")
						a(href="#").header__other__soc__icon
							img(src="img/svg/youtube.svg", alt="icon") 
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Пользовательское соглашение  
					li.footer__lists--item.footer__lists--item--link
						a(href="#") Политика конфиденциальности   
			.footer__lists--row
				.footer__lists--string @ 2023  Все права защищены.

