.block__textOne
	p
		| Центр развития школьного географического образования создан как структурное подразделение географического факультета Московского государственного университета имени М.В. Ломоносова в 2019 году в рамках выполнения поручений президента РФ «По популяризации географии» от 15 мая 2019 года.
	br
	br
	p 
		| Приказ Министерства просвещения №86 от 22 февраля 2019 г. 
	a(href="") «Об утверждении состава центральных предметно-методических комиссий всероссийской олимпиады школьников».
	br
	br
	p Контакты
	a(href="mailto:info@yandex.ru") info@yandex.ru  
