.education.education__solo
	a(href="").education__item
		img(src="img/projectPage/studentsTimetable__banner__slider__7.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title
				!= 'Открытые лекции <br>в рамках проекта <br>«Teach-in» '

			.education__item__desc__text
				p 
					|Короткий текст/фраза про фестиваль, формат, даты/сезон и тд Можно две/три строчки, не более 