.block__textOne
	a.block__textOne--span.active(href="")
		!="<b>Программы дисциплин (ОС 3++)</b><br>для студентов  с 2021 года поступления"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<b>Программы дисциплин (ОС 3++)</b><br>"
	br
	br
	br
