.block__textOne
	a.block__textOne--span(href="")
		!="<span>Программы дисциплин (ОС 3++)</span><br>для студентов  с 2021 года поступления"
	br
	br
	br
	a.block__textOne--span(href="")
		!="<span>Программы дисциплин (ОС 3++)</span><br>"
	br
	br
	br
