.about__banner
	img(src="img/projectPage/about__banner.png", alt="")
	h1 О факультете
	.about__banner__left 
		.about__banner__text 
			p Географический факультет МГУ имени М.В.Ломоносова — крупнейший в мире учебно-научный коллектив географов. 
			br
			p В структуре факультета 15 кафедр, 8 научно-исследовательских лабораторий, 5 учебно-научных баз. На факультете обучаются  более 800 студентов и  140 аспирантов, работают свыше  650 сотрудников.
			br
			a.block__textOne__link__white узнать больше