.education.education__couple
	a(href="").education__item
		picture 
			source(media="(max-width: 992px)", srcset="img/projectPage/about__1.png")
			img(src="img/projectPage/about__1.png", alt="")
		.education__item__desc
			.education__item__desc__title Профсоюзный комитет

			.education__item__desc__text
				p 
					|Обеспечивает связь между поколениями в коллективе и передачу традиций.  Профсоюзы всегда занимались решением самых острых проблем.  
	a(href="").education__item
		picture 
			source(media="(max-width: 992px)", srcset="img/projectPage/about__2.png")
			img(src="img/projectPage/about__2.png", alt="")
		.education__item__desc
			.education__item__desc__title Студенческий профсоюз

			.education__item__desc__text
				p 
					|Профсоюзная организация географического факультета объединяет в своих рядах студентов и сотрудников. Основная цель профсоюзной организации — обеспечение  связи между поколениями в коллективе и передача традиций.  
	a(href="").education__item
		picture 
			source(media="(max-width: 992px)", srcset="img/projectPage/about__3.png")
			img(src="img/projectPage/about__3.png", alt="")
		.education__item__desc
			.education__item__desc__title История факультета

			.education__item__desc__text
				p 
					|Географический факультет в Московском университете создан  23 июля 1938 г. в результате разделения почвенно-географического факультета на геолого-почвенный и географический  
	a(href="").education__item
		picture 
			source(media="(max-width: 992px)", srcset="img/projectPage/about__4.png")
			img(src="img/projectPage/about__4.png", alt="")
		.education__item__desc
			.education__item__desc__title Фронтовая летопись

			.education__item__desc__text
				p 
					|В трудные годы Великой Отечественной войны сотрудники факультета вписали немало славных страниц в героическую летопись советского народа. Около 200 сотрудников и студентов были мобилизованы ушли на фронт добровольцами  
