.education.education__couple
	a(href="").education__item
		picture 
			source(media="(max-width: 700px)", srcset="img/projectPage/studentsTimetable__banner__2.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/studentsTimetable__banner__2--992.png")
			img(src="img/projectPage/studentsTimetable__banner__2.png", alt="")
		.education__item__desc
			.education__item__desc__title Студенческий совет

			.education__item__desc__text
				p 
					|текст..  
	a(href="").education__item
		picture 
			source(media="(max-width: 700px)", srcset="img/projectPage/studentsTimetable__banner__3.png")
			source(media="(max-width: 992px)", srcset="img/projectPage/studentsTimetable__banner__3--992.png")
			img(src="img/projectPage/studentsTimetable__banner__3.png", alt="")
		.education__item__desc
			.education__item__desc__title Студенческий профсоюз

			.education__item__desc__text
				p 
					|Профсоюзная организация географического факультета объединяет в своих рядах студентов и сотрудников. Основная цель профсоюзной организации — обеспечение  связи между поколениями в коллективе и передача традиций. 
