.education
	a(href="").education__item
		img(src="img/mainPage/education__img__1.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title Кафедры

			.education__item__desc__text
				p 
					|15 специализированных кафедр, представляющих разнообразные общие или частные науки географического цикла.  Почти каждая кафедра — сложившаяся крупная научная школа 
	a(href="").education__item
		img(src="img/mainPage/education__img__2.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title Лаборатории

			.education__item__desc__text
				p 
					|Нацеленность на конечный результат и проблемный подход к исследованиям
	a(href="").education__item
		img(src="img/mainPage/education__img__3.png", alt="").education__item__img
		.education__item__desc
			.education__item__desc__title 
				!='Административные <br>подразделения'
			.education__item__desc__text
				p 
					|Короткий текст/фраза про административные подразделения факультета (что входит, что пользователь найдет кликнув на баннер и перейдя по ссылке 
