.tabsControls
	.tabControl.tabControl--educationGallery.button__border--blueDarck.active(data-tab="1") Встреча магистров с сотрудниками Technoalpin
	.tabControl.tabControl--educationGallery.button__border--blueDarck(data-tab="2") Учебная практика в Западной Сибири 2019
	.tabControl.tabControl--educationGallery.button__border--blueDarck(data-tab="3") Учебная практика на Кавказе 2019
	.tabControl.tabControl--educationGallery.button__border--blueDarck(data-tab="4") Учебная практика на Кавказе 2018
