html {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #031B4B;
}
.title:hover {
	transition: all .3s;
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}
.container {
	box-sizing: border-box;
	width: 1168px;
	max-width: 95%;
	max-width: calc(100% - 0px);
	margin: 0 auto;

	@include max(lg) {
		//1024
		width: 1168px;
		max-width: calc(100% - 32px * 2);
	}

	@include max(md) {
		//640
		max-width: calc(100% - 32px * 2);
	}

	@include max(sm) {
		//375
		max-width: calc(100% - 20px * 2);
	}
}

.title__32 {
	font-style: normal;
	font-weight: 800;
	font-size: 32px;
	line-height: 40px;
}
a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: $fz14;
	line-height: $lh20;
	color: #004ABA;
	transition: all .5s; 
	&:hover {
		transition: all .5s;
		text-shadow: 0 0 0.15px #004ABA, 0 0 0.15px #004ABA;
	}
}
.block__textOne--span {
	position: relative;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: $fz14;
	line-height: $lh20;
	color: $blueDarck;
	width: 100%;
	transition: all .5s;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0, 85, 182, 0.3);
	b {
		position: relative;
		margin-bottom: 8px;
		display: inline-block;
		font-size: $fz20;
		line-height: $lh26;
		font-weight: 700;
	}
	&:hover {
		color: #004ABA;
		transition: all .5s;
		text-shadow: 0 0 0.15px #ffffff00, 0 0 0.15px #004ABA00;
	}
}

a.block__textOne__link {
	position: relative;
	display: inline-block;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz14;
	margin-left: -12px;
	line-height: $lh20 !important;
	height: 24px;
	color: #004ABA;
	transition: all .5s;
	padding-left: 12px;
	//padding-right: 24px;
	padding-right: 12px;
	padding-top: 1px;

	&--opacity {
		color: #031B4B;
		&:hover {
			text-shadow: none !important;
			color: #031B4B !important;	
		}
		&::after {
			content: url(../img/svg/download--2.svg) !important;
			transform: rotate(0deg);
			top: 3px !important;
		}

	}
	// padding: 4px 28px 4px 12px;
	&:hover {
		transition: all .5s;
		background: #FFFFFF;
		border-radius: 30px;
		color: #004ABA;
		text-decoration: none;
		text-shadow: 0 0 0px #004ABA00, 0 0 0px #004ABA00;
	}

	&::after {
		transition: all .5s;
		position: relative;
		right: -8px;
		top: 3px;
		display: inline-block;
		content: url(../img/svg/editor__link__2.svg);
	}
	span {
		@include max(xs) {
			display: none;
		}
	}
	&--person-colors {
		color: #AF8F46;

		&:hover {
			transition: all .5s;
			background: #FFFFFF;
			border-radius: 30px;
			color: #AF8F46;
			text-decoration: none;
			text-shadow: 0 0 0.15px #004ABA00, 0 0 0.15px #004ABA00;
		}

		&::after {
			content: url(../img/svg/editor__link__people.svg);
		}
	}
}
.block__textOne__link__white {
	position: relative;
	display: inline-block;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz14;
	margin-left: -12px;
	line-height: $lh20;
	height: 24px;
	color: #fff;
	transition: all .5s;
	padding-left: 12px;
	padding-right: 24px;
	padding-top: 1px;
	// padding: 4px 28px 4px 12px;
	&:hover {
		transition: all .5s;
		background: rgba(255, 255, 255, 0.3);
		border-radius: 30px;
		color: #fff;
		text-decoration: none;
		text-shadow: 0 0 0px #004ABA00, 0 0 0px #004ABA00;

	}
	&::after {
		transition: all .5s;
		position: absolute;
		right: 4px;
		top: 4px;
		display: inline-block;
		content: url(../img/svg/editor__link__white.svg);
	}

}
.block__textOne__link.academic__item__button {
	position: relative;
	display: inline-block;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz14;
	margin-left: 0px;
	line-height: $lh20;
	height: 24px;
	width: 20px;
	color: #fff;
	transition: all .3s;
	padding-left: 0px;
	padding-right: 20px;
	border-radius: 40px;
	padding-top: 1px;

	// padding: 4px 28px 4px 12px;
	p {
		position: relative;
		transition: all 0s;
		opacity: 0;
		visibility: hidden;
		color: #004ABA;
	}

	&:hover {
		transition: all .3s;
		background: #F4F3F0;
		width: 147px;
		text-decoration: none;
		padding-left: 12px;
		padding-right: 24px;
		text-shadow: 0 0 0px #004ABA00, 0 0 0px #004ABA00;

		p {
			transition: all 3s;
			display: block;
			opacity: 1;
			visibility: inherit;

		}
	}

	&::after {
		transition: all .5s;
		position: absolute;
		right: 4px;
		top: 4px;
		display: inline-block;
		content: url(../img/svg/editor__link__2.svg);
	}
}
.block__textOne__link--bold {
	font-weight: 700;
}
.block-text__mob {
	display: none;
}

.block-text__desktop {
	display: inline-block;
}

.button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #739FF3;
	padding: 8px 107px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz17;
	line-height: $lh24;
	border-radius: 30px;
	text-align: center;
	position: relative;
	outline: none;
	transition: all .5s;
	cursor: pointer;

	&:focus,
	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		text-shadow: 0 0 0.15px #004ABA00, 0 0 0.15px #004ABA00;
		transition: all .5s;
		background: linear-gradient(0deg, rgba(10, 80, 186, 0.2), rgba(10, 80, 186, 0.2)), #739FF3;
	}

	&:active {
		transition: all .5s;
		background: linear-gradient(0deg, rgba(10, 80, 186, 0.2), rgba(10, 80, 186, 0.2)), #739FF3;
	}
	&__footer {
		width: 226px;
		max-width: 226px;
		padding: 0;
		padding-left: 24px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background: transparent;
		font-family: 'Manrope';
		font-style: normal;
		border: 1px solid #FFFFFF;
		border-radius: 40px;
		height: 52px;
		font-weight: 700;
		font-size: $fz14;
		line-height: $lh20;
		color: #FFFFFF;
		&:hover {
			background: transparent;
			.button__footer--icon {
				background: #fff;
				transition: all .5s;
				img {
					position: relative;
					content: url(../img/svg/FootershapeBlue.svg);
				}
			}
		}
		&--icon {
			position: absolute;
			right: -1px;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 51px;
			width: 58px;
			border: 1px solid #FFFFFF;
			border-radius: 40px;
			transition: all .5s;

		}
	}
}
.button__blue {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #004ABA;
	padding: 8px 32px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz17;
	line-height: $lh24;
	border-radius: 40px;
	text-align: center;
	position: relative;
	outline: none;
	transition: all .5s;
	cursor: pointer;
	width: 100%;
	max-width: 286px;

	&:focus,
	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		text-shadow: 0 0 0.15px #004ABA00, 0 0 0.15px #004ABA00;
		transition: all .5s;
		background-color: #073478;
	}

	&:active {
		transition: all .5s;
		background-color: #073478;
	}
}
.button__ochre {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: $ocher;
	padding: 8px 32px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz17;
	line-height: $lh24;
	border-radius: 40px;
	text-align: center;
	position: relative;
	outline: none;
	transition: all .5s;
	cursor: pointer;
	width: 100%;
	max-width: 286px;

	&:focus,
	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		text-shadow: 0 0 0.15px #004ABA00, 0 0 0.15px #004ABA00;
		transition: all .5s;
		background-color:  #946F11;
	}

	&:active {
		transition: all .5s;
		background-color:  #946F11;
	}
}
.button__border--blueDarck {
	display: inline-block;
	border: 1px solid rgba(0, 85, 182, 0.3);;
	color: $blueDarck;
	text-decoration: none;
	background-color: transparent;
	padding: 6px 20px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz14;
	line-height: $lh20;
	border-radius: 40px;
	text-align: center;
	position: relative;
	outline: none;
	transition: all .5s;
	cursor: pointer;
	width: auto;
	&:focus,
	&:hover {
		text-decoration: none;
		color: #004ABA;
	}

	&:hover {
		text-shadow: 0 0 0.15px #004ABA00, 0 0 0.15px #004ABA00;
		transition: all .5s;
		background-color: $blueDarck;
		border: 1px solid $blueDarck;
		color: $white;
	}

	&:active {
		transition: all .5s;
		background-color: $blueDarck;
		border: 1px solid $blueDarck;
		color: $white;
	}
}
.button__border--blue {
	display: inline-block;
	border: 2px solid #004ABA;
	color: #004ABA;
	text-decoration: none;
	background-color: transparent;
	padding: 8px 32px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz17;
	line-height: $lh24;
	border-radius: 40px;
	text-align: center;
	position: relative;
	outline: none;
	transition: all .5s;
	cursor: pointer;
	width: 100%;
	max-width: 286px;
	&:focus,
	&:hover {
		text-decoration: none;
		color: #004ABA;
	}

	&:hover {
		text-shadow: 0 0 0.15px #004ABA00, 0 0 0.15px #004ABA00;
		transition: all .5s;
		background-color: rgba(0, 85, 182, 0.3);
		border: 2px solid rgba(0, 85, 182, 0);
	}

	&:active {
		transition: all .5s;
		background-color: rgba(0, 85, 182, 0.3);
		border: 2px solid rgba(0, 85, 182, 0);
	}
}

.button.button__white {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: rgba(255, 255, 255, 0);
	padding: 3px 32px 6px 32px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz17;
	line-height: $lh24;
	border-radius: 40px;
	text-align: center;
	border: 2px solid #FFFFFF;
	width: auto;
	&:focus,
	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		border: 2px solid rgba(255, 255, 255, 0);
		background: rgba(255, 255, 255, 0.3);
	}

	&:active {
		border: 2px solid rgba(255, 255, 255, 0.3);
		background: rgba(255, 255, 255, 0.3);
	}
	&--fill {
		background-color: #FFFFFF;
		color: #004ABA;
		width: auto;
		padding: 3px 32px 6px 32px;
		border: 2px solid #fff;
		&:hover {
			background: #F4F3F0;
			border: 2px solid #F4F3F0;
		}

		&:active {
			background: #F4F3F0;
			border: 2px solid #F4F3F0;
		}
	}
}
.section__title-small {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #004ABA;
	text-align: left;	
	margin-bottom: 46px;
	@include max(lg) {
		margin-bottom: 38px;
	}
	@include max(sm) {
		margin-bottom: 30px;
	}
}
.button.button__blueLight {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #031B4B;
	background-color: #D8E0EC;
	padding: 6px 32px;
	width: 100%;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: $fz32;
	line-height: $lh40;
	height: 80px;
	border-radius: 40px;
	cursor: pointer;
	@include max(md) {
		span {
			display: none;
		}
	}
	@include max(sm) {
		font-size: $fz24;
		line-height: $lh28;
		padding: 6px 28px;
	}
	&:focus,
	&:hover {
		text-decoration: none;
		color: #031B4B;
	}

	&:hover {
		background: darken(#D8E0EC, 10%);
	}

	&:active {
		background: #C2CFE2;
	}
}

.layoutThree {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;

	&__left {
		position: relative;
		display: flex;
		flex: 1 1 auto;
		width: 100%;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-right: 32px;

	}

	&__right {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		flex: 1 0 268px;
	}
}

.layoutTwo {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;

	&__left {
		position: relative;
		display: flex;
		flex: 1 0 336px;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-right: 64px;
	}

	&__right {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		flex: 1 1 auto;
		width: 100%;
	}

}


@include max(lg){
	.section {
		padding-top: 40px;
	}
}
@include max(md){
	.title__32 {
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 28px;
	}
}
@include max(sm){
	.block-text__mob{
		display: inline-block;
	}

	.block-text__desktop {
		display: none;
	}
}

//Сетка №2