
.container {
	box-sizing: border-box;
	width: 1168px;
	max-width: 95%;
	max-width: calc(100% - 0px);
	margin: 0 auto;
	@include max(lg)  {
			//1024
			width: 1168px;
			max-width: calc(100% - 32px * 2);
	}

	@include max(md)  {
			//640
			max-width: calc(100% - 32px * 2);
	}

	@include max(sm) {
			//375
			max-width: calc(100% - 20px * 2);
	}
}

a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #104CA6;
	transition: all .5s;
	&:hover {
		transition: all .5s;
		text-shadow: 0 0 0.15px #104CA6, 0 0 0.15px #104CA6;
	}
}

a.block__textOne__link {
	position: relative;
	display: inline-block;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	margin-left: -12px;
	line-height: 20px;
	margin-bottom: 24px;
	color: #104CA6;
	transition: all .5s;
	padding: 4px 28px 4px 12px;
	&:hover {
		transition: all .5s;
		background: #FFFFFF;
		border-radius: 30px;
		color: #104CA6;
		text-shadow: 0 0 0px #104ca600, 0 0 0px #104ca600;

	}
	&::after {
		transition: all .5s;
		position: absolute;
		right: 4px;
		top: 6px;
		display: inline-block;
		content: url(../img/svg/editor__link__2.svg);
	}
}

.button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background: $blueLight;
	padding: 8px 107px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	border-radius: 30px;
	text-align: center;
	position: relative;
	outline: none;
	transition: all .5s ease;
	cursor: pointer;
	&:focus, &:hover {
		text-decoration: none;
		color: #fff; 
	}
	&:hover {
		transition: all .5s ease;
		background: linear-gradient(0deg, rgba(10, 80, 186, 0.2), rgba(10, 80, 186, 0.2)), #739FF3;
	}
	&:active {
		background: linear-gradient(0deg, rgba(10, 80, 186, 0.2), rgba(10, 80, 186, 0.2)), #739FF3;
	}
}

//Сетка №2
