.banners 
	.banner.banner__ochre
		.banner__title
			|	Школа юного географа 
		.banner__text 
			| Углублeнное изучение географии и выявление исследовательских возможностей школьников.
	.banner.banner__ochre
		.banner__title
			|	Лекторий юного географа  
		.banner__text 
			| Текст... Углублeнное изучение географии и выявление исследовательских возможностей школьников.ких возможностей школьников.
	.banner.banner__blue
		.banner__title 
			|	 Газета «GeograpH»   
		.banner__text
			| Информационно-популярное издание географического факультета МГУ имени М.В. Ломоносова.
	.banner.banner__blueLight
		.banner__title 
			|	 Заголовок баннера должен быть не более трех строк, лучше две   
		.banner__text
			| Текста тоже не более пяти строк, а если заголовок длинный, то пара-тройка строк
	.banner.banner__blueLight
		.banner__title 
			|	Заголовок баннера
		.banner__text
			| Текста тоже не более пяти строк если заголовок короткий, а если длинный, то пары-тройки строк будет вполне достаточно
	.banner.banner__blueLight
		.banner__title 
			|	Заголовок баннера лучше две строки
		.banner__text
			| Текста тоже не более пяти строк если заголовок короткий, а если длинный, то пары-тройки строк будет вполне достаточно
