.banners 
	.banner.banner__ochre
		.banner__title
			|	Лекторий юного географа 
		.banner__text 
			| Текст... Углублeнное изучение географии и выявление исследовательских возможностей школьников.ких возможностей школьников.
	.banner.banner__ochre
		.banner__title
			|	Школа юного географа 
		.banner__text 
			| Углублeнное изучение географии и выявление исследовательских возможностей школьников.
	.banner.banner__blue
		.banner__title 
			|	 Школа юного географа  Школа юного географа Школа юного географа 
		.banner__text
			| Углублeнное изучение географии и выявление исследовательских возможностей школьников.
	.banner.banner__blueLight
		.banner__title 
			|	Школа юного географа 
		.banner__text
			| Углублeнное изучение географии и выявление исследовательских возможностей школьников.Углублeнное изучение географии и выявление исследовательских возможностей школьников.Углублeнное изучение географии и выявление исследовательских возможностей школьников.Углублeнное изучение географии и выявление исследовательских возможностей школьников.Углублeнное изучение географии и выявление исследовательских возможностей школьников.
	.banner.banner__blueLight
		.banner__title 
			|	Школа юного географа 
		.banner__text
			| Углублeнное изучение географии и выявление исследовательских возможностей школьников.
	.banner.banner__blueLight
		.banner__title 
			|	Школа юного географа 
		.banner__text
			| Углублeнное изучение географии и выявление исследовательских возможностей школьников.